<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h1 class="title text-center">
                    <i class="icon icon-private"></i>
                    <span class="user-name">{{$ctrl.project.displayName || $ctrl.project.name}}</span></h1>
                <div class="main-form">
                    <div class="content-navbar">
                        <ul class="navbar-list">
                            <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                            <li class="other-links dropdown" uib-dropdown>
                                <a id="dLabel" role="button" data-uib-dropdown-toggle>
                                    <i class="icon icon-more"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-more" data-uib-dropdown-menu>
                                    <li>
                                        <a href="{{$ctrl.project.editorUrl}}">Editor</a>
                                    </li>
                                    <!--<li class="disabled">-->
                                    <!--<a href="#">Designer</a>-->
                                    <!--</li>-->
                                    <!--<li class="disabled">-->
                                    <!--<a href="#">Duplicate</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li class="other-links" ng-click="$ctrl.open('remove')"><a><i class="icon icon-delete"></i></a><span>Delete</span>
                            </li>
                            <li class="other-links" ng-if="$ctrl.projectPublic" ng-click="$ctrl.open('share')"><a><i class="icon icon-link"></i></a><span>Share</span>
                            </li>
                        </ul>
                    </div>

                    <div class="section section-switch">

                        <switch
                                id="enabled"
                                data-name="enabled"
                                data-ng-change="$ctrl.toggleStatus()"
                                data-ng-model="$ctrl.projectPublic"
                                class="blue"></switch>
                        <h5 class="switch-box-title">Public</h5>
                        <p class="description text-small text-down" ng-if="$ctrl.project.public === 'true'">
                            Current version:
                            <a  class="text-yellow" ng-href="{{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}" target="_blank">
                                {{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}
                            </a>
                        </p>
                        <p ng-if="$ctrl.project.publishedUrl" class="description text-small text-down">
                            Published version:
                            <a class="text-yellow" target="_blank" href="{{$ctrl.project.publishedUrl}}">{{$ctrl.project.publishedUrl}}</a>
                        </p>
                    </div>

                    <div class="section section-general-setting">
                        <h3 class="section-title">General Settings</h3>
                        <div class="form-group" custom-input
                             data-ng-class="{'has-error': !$ctrl.project.displayName && $ctrl.displayNameFocused, 'has-success': $ctrl.project.displayName && $ctrl.displayNameFocused}">
                            <label>
                                Project name  <span ng-if="!$ctrl.project.displayName && $ctrl.displayNameFocused">is required</span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="" required
                                   ng-click="$ctrl.displayNameFocused = true"
                                   ng-model="$ctrl.project.displayName">
                        </div>
                        <div class="form-group" custom-input>
                            <label>Project url</label>
                            <input type="text" class="form-control" placeholder="" value="{{$ctrl.previewUrl+$ctrl.user.username}}/{{$ctrl.project.name}}" disabled>
                        </div>
                        <!--<div class="form-group" custom-input>
                            <label>Meta Tags</label>
                            <tags-input style="height:100%; min-height:55px" max-length="32" min-length="3" class="form-control" ng-model="$ctrl.project.tags"></tags-input>
                            <p class="form-description">Meta tags are a great way for webmasters to provide search engines with information about their sites</p>
                        </div>-->
                    </div>

                    <div class="section section-vr-space">
                        <h3 class="section-title">Project Thumbnail</h3>
                        <div class="drag-cont">
                            <div class="drag-item first">
                                <div class="drag-area first">
                                    <div style="cursor: pointer" class="center-row" onclick="document.querySelector('#thumbnail-img').click()">
                                        <i ng-if="!$ctrl.project.thumbnail" class="icon icon-invalid"></i>
                                        <img width="166" height="166" ng-src="{{$ctrl.project.thumbnail}}" ng-if="!!$ctrl.project.thumbnail" alt="">
                                    </div>
                                    <p class="drag-instruct">
                                    <input class="hidden" type="file" id="thumbnail-img" data-ng-model="avatarUrl" accept="image/jpeg,image/jpg,image/png,"
                                           onchange="angular.element(this).scope().$ctrl.changeThumbnail(event)" name="avatar"/>
                                    </p>
                                </div>
                                <h5 class="section-small-title">We recomend to upload a maximum of 2Mb size image.</h5>
                            </div>
                            <div class="drag-item hidden">
                                <h5 class="section-small-title">Favicon</h5>
                                <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon image Supported image formats are .ico, .png, .gif and .jpg</p>
                                <div class="drag-area first">
                                    <div class="center-row"><i class="icon icon-invalid"></i>
                                    </div>
                                    <p class="drag-instruct">To try <span>Again</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section overview">
                        <h3 class="section-title">Overview</h3>
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Total Asset Size</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.projectSize}} ( Files. Fonts, and Backups)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Published</span>
                                </td>
                                <td class="text-primary">
                                    <span ng-hide="!!$ctrl.project.publishDate">Not published</span>
                                    <span ng-show="!!$ctrl.project.publishDate">
                                        {{$ctrl.project.publishDate | date: 'MMMM dd yyyy. h:mm:ss a'}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Template Of</span>
                                </td>
                                <td class="text-primary id"><span>{{$ctrl.project.templateOf || 'N/A'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Updated</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.updatedAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Created</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.createdAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="section section-project-content last-section">
                        <h3 class="section-title">Description</h3>
                        <div class="form-group">
                            <!--<label for="area">Description</label>-->
                            <textarea id="area" limit-to="256" style="width:100%" ng-model="$ctrl.project.description" class="form-control area-control"></textarea>
                            <span class="letter-quantity">
                                <span>{{256-projectDescription.length}}</span>/256
                            </span>
                        </div>
                    </div>

                    <div class="btn-wrapper" style="text-align: center">
                        <button type="button" ng-click="$ctrl.update()" class="btn btn-default btn-submit">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal model-confirm" close-modal="remove"  ng-class="{'display-block': $ctrl.modals.remove, 'display-none': !$ctrl.modals.remove}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>
            <h3 ng-hide="!!$ctrl.project.publishDate">Delete this project ?</h3>
            <h3 ng-show="!!$ctrl.project.publishDate">Warning</h3>
        </div>
        <div class="modal-body padding-0-important" ng-if="!!$ctrl.project.publishDate">
            <p class="description word-wrap">
                Your project will no longer be available on
                <span class="text-yellow">{{$ctrl.project.publishedUrl}}</span>, your apps for
                <span class="text-yellow">"{{$ctrl.project.name}}"</span> will stop working !<br>
                Are you sure you want to continue?
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.deleteProject()">delete</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.remove = false">cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" close-modal="share" ng-class="{'display-block': $ctrl.modals.share, 'display-none': !$ctrl.modals.share}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.share = false">×</span>
            <h3>Share this project</h3>
        </div>
        <div class="modal-body">
            <p data-ng-if="$ctrl.project.public === 'false'" class="text-small description">
                This project is not public, you can change this from project settings.
            </p>
            <div class="form-wrapper margin-top-20" data-ng-if="$ctrl.project.public === 'true'">
                <div class="form-group" custom-input>
                    <input id="projectUrl" type="text" class="form-control" value="{{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}" disabled>
                    <label class="control-label float-label">Url of project</label>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-bottom-20-important">
            <div class="required-field-actions clearfix">
                <button data-ng-if="$ctrl.project.public === 'false'" type="button" class="btn btn-primary" data-ng-click="$ctrl.goToSettings()">go to settings</button>
                <button  data-ng-if="$ctrl.project.public === 'true'" type="button" class="btn btn-primary" data-ng-click="$ctrl.copyUrl()">copy this url</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.share = false">cancel</a>
            </div>
        </div>
    </div>
</div>

