<div class="page__wrapper">

    <div class="main-container">
        <h1 class="main-title">Space/<i class="icon icon-lock"></i><span class="user-name">{{$ctrl.project.name}}</span></h1>
        <div class="page-content">
            <div class="content-navbar">
                <ul class="navbar-list">
                    <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                    <li class="other-links dropdown" uib-dropdown>
                        <a id="dLabel" role="button" data-uib-dropdown-toggle>
                            <i class="icon icon-more"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-more" data-uib-dropdown-menu>
                            <li>
                                <a href="{{$ctrl.project.editorUrl}}">Editor</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Designer</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Duplicate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="other-links" ng-click="$ctrl.open('remove')"><a><i class="icon icon-delete"></i></a><span>Delete</span>
                    </li>
                    <li class="other-links" ng-if="$ctrl.projectPublic" ng-click="$ctrl.open('share')"><a><i class="icon icon-link"></i></a><span>Share</span>
                    </li>
                </ul>
            </div>
            <div class="section section-switch">
                <switch id="enabled" data-name="enabled" data-ng-change="$ctrl.toggleStatus()" data-ng-model="$ctrl.projectPublic" data-on="ON" data-off="OFF" class="green"></switch>
                <h5 class="switch-box-title">Showcase This Space</h5>
                <p class="description text-small text-down">Showcased sites appear in your public profile.</p>
                <p class="description text-small text-down" ng-if="$ctrl.project.public === 'true'">
                    <a  class="text-yellow" ng-href="{{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}" target="_blank">
                        {{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}
                    </a>
                </p>
            </div>
            <div class="section section-general-setting">
                <h2 class="section-title">General Settings</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-wrapper">
                            <div class="form-group" custom-input>
                                <input type="text" class="form-control" placeholder="" data-ng-model="$ctrl.project.name" disabled>
                                <label class="control-label float-label">Space Name</label>
                            </div>
                            <p class="text-small description">This is the Space title.</p>
                            <div class="form-group" custom-input>
                                <tags-input class="form-control" ng-model="$ctrl.project.tags"></tags-input>
                                <label class="control-label float-label">Metaa Tags</label>
                            </div>
                            <!--<div class="form-group" custom-input>-->
                                <!--<input type="email" class="form-control" placeholder="" value="" ng-disabled="true">-->
                                <!--<label class="control-label float-label">-->
                                    <!--Url-->
                                     <!--&lt;!&ndash;<span class="transparent-color">.rodin.io</span>&ndash;&gt;-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<p class="text-small description">Must be alphanumeric (A-Z, 0-9) wilh dashes between words Th« site nasnT been published yet.</p>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-vr-space">
                <h2 class="section-title">VR space icons</h2>
                <div class="drag-cont">
                    <div class="drag-item first">
                        <h5 class="section-small-title">Webclip</h5>
                        <p class="text-small description">Upload a <span>256 x 256 pixel</span> nebdip image. The icon shows up when your websrte link s saved to an iPhone home screen</p>
                        <div class="drag-area first">
                            <div style="cursor: pointer" class="center-row" onclick="document.querySelector('#thumbnail-img').click()">
                                <i ng-if="!$ctrl.project.thumbnail" class="icon icon-invalid"></i>
                                <img width="166" height="166" ng-src="{{$ctrl.project.thumbnail}}" ng-if="!!$ctrl.project.thumbnail" alt="">
                            </div>
                            <p class="drag-instruct">To try
                                <span>
                                    Again
                                    <input class="hidden" type="file" id="thumbnail-img" data-ng-model="avatarUrl" accept="image/jpeg,image/jpg,image/png,"
                                           onchange="angular.element(this).scope().$ctrl.changeThumbnail(event)" name="avatar"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="drag-item hidden">
                        <h5 class="section-small-title">Favicon</h5>
                        <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon image Supported image formats are .ico, .png, .gif and .jpg</p>
                        <div class="drag-area first">
                            <div class="center-row"><i class="icon icon-invalid"></i>
                            </div>
                            <p class="drag-instruct">To try <span>Again</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section overview">
                <h2 class="section-title">Overview</h2>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Total Asset Size</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.projectSize}} ( Files. Fonts, and Backups)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Published</span>
                                </td>
                                <td class="text-primary">
                                    <span ng-hide="!!$ctrl.project.publishDate">Not published</span>
                                    <span ng-show="!!$ctrl.project.publishDate">
                                        {{$ctrl.project.publishDate | date: 'MMMM dd yyyy. h:mm:ss a'}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Template Of</span>
                                </td>
                                <td class="text-primary id"><span>{{$ctrl.project.templateOf || 'N/A'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Updated</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.updatedAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Created</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.createdAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- TODO: traffic statistics -->
           <!-- <div class="section traffic-statistics last-section">
                <h2 class="section-title">Traffic Statistics</h2>
                <p class="text-small description">
                    Statistics from the past <span>30 days</span> of traffic data
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Total views</span>
                                </td>
                                <td class="text-primary">0 views<span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Views by IP</span>
                                </td>
                                <td class="text-primary">0 views<span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
            <div class="section section-project-content last-section">
                <h2 class="section-title">Description</h2>
                <div class="row">
                    <div class="col-md-6">
                        <wysiwyg textarea-id="projectDescription"
                                 textarea-class="form-control"
                                 textarea-height="80px"
                                 textarea-name="projectDescription"
                                 ng-model="$ctrl.project.description"
                                 enable-bootstrap-title="true"
                                 textarea-menu="$ctrl.wysiwygOptions"></wysiwyg>
                        <div class="btn-wrapper">
                            <button type="button" ng-click="$ctrl.update()" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" data-ng-if="$ctrl.showLoader"></div>

</div>

<div class="modal model-confirm" ng-class="{'display-block': $ctrl.modals.remove, 'display-none': !$ctrl.modals.remove}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>
            <h1 ng-hide="!!$ctrl.project.publishDate">Delete this project ?</h1>
            <h1 ng-show="!!$ctrl.project.publishDate">Warning</h1>
        </div>
        <div class="modal-body padding-0-important" ng-if="!!$ctrl.project.publishDate">
            <p class="description">
                Your project will no longer be available on
                <span class="text-yellow">{{$ctrl.project.publishedUrl}}</span>, your apps for
                <span class="text-yellow">"{{$ctrl.project.name}}"</span> will stop working !<br>
                Are you sure you want to continue?
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.deleteProject()">delete</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.remove = false">cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" ng-class="{'display-block': $ctrl.modals.share, 'display-none': !$ctrl.modals.share}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.share = false">×</span>
            <h1>Share this project</h1>
        </div>
        <div class="modal-body">
            <p data-ng-if="$ctrl.project.public === 'false'" class="text-small description">
                This project is not public, you can change this from project settings.
            </p>
            <div class="form-wrapper margin-top-20" data-ng-if="$ctrl.project.public === 'true'">
                <div class="form-group" custom-input>
                    <input id="projectUrl" type="text" class="form-control" value="{{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name | lowercase}}" disabled>
                    <label class="control-label float-label">Url of project</label>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-bottom-20-important">
            <div class="required-field-actions clearfix">
                <button data-ng-if="$ctrl.project.public === 'false'" type="button" class="btn btn-primary" data-ng-click="$ctrl.goToSettings()">go to settings</button>
                <button  data-ng-if="$ctrl.project.public === 'true'" type="button" class="btn btn-primary" data-ng-click="$ctrl.copyUrl()">copy this url</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.share = false">cancel</a>
            </div>
        </div>
    </div>
</div>

