<div class="page__wrapper">

    <div class="main-container">
        <h1 class="main-title">Space/<i class="icon icon-lock"></i><span class="user-name">{{$ctrl.project.name}}</span></h1>
        <div class="page-content">
            <div class="content-navbar">
                <ul class="navbar-list">
                    <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                    <li class="other-links dropdown" uib-dropdown>
                        <a id="dLabel" role="button" data-uib-dropdown-toggle>
                            <i class="icon icon-more"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-more" data-uib-dropdown-menu>
                            <li><a href="#">Editor</a>
                            </li>
                            <li><a href="#">Designer</a>
                            </li>
                            <li><a href="#">Duplicate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="other-links" ng-click="$ctrl.open('remove')"><a><i class="icon icon-delete"></i></a><span>Delete</span>
                    </li>
                    <li class="other-links" ng-click="$ctrl.open('share')"><a><i class="icon icon-link"></i></a><span>Share</span>
                    </li>
                    <li class="other-links"><a><i class="icon icon-publish"></i></a><span>Publish</span>
                    </li>
                </ul>
            </div>
            <div class="section section-switch">
                <switch id="enabled" data-name="enabled" data-ng-change="$ctrl.toggleStatus()" data-ng-model="$ctrl.projectPublic" data-on="ON" data-off="OFF" class="green"></switch>
                <h5 class="switch-box-title">Showcase This Space</h5>
                <p class="description text-small text-down">Showcased sites appear in your public profile.</p>
            </div>
            <div class="section section-general-setting">
                <h2 class="section-title">General Settings</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-wrapper">
                            <div class="form-group" custom-input>
                                <input type="email" class="form-control" placeholder="" data-ng-model="$ctrl.project.name">
                                <label class="control-label float-label">Space Name</label>
                            </div>
                            <p class="text-small description">This is the Space title.</p>
                            <!--<div class="form-group" custom-input>-->
                                <!--<input type="email" class="form-control" placeholder="" value="" ng-disabled="true">-->
                                <!--<label class="control-label float-label">-->
                                    <!--Url-->
                                     <!--&lt;!&ndash;<span class="transparent-color">.rodin.io</span>&ndash;&gt;-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<p class="text-small description">Must be alphanumeric (A-Z, 0-9) wilh dashes between words Th« site nasnT been published yet.</p>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-vr-space">
                <h2 class="section-title">VR space icons</h2>
                <!--<div class="drag-cont">
            <div class="drag-item first">
                <h5 class="section-small-title">Webclip</h5>
                <p class="text-small description">Upload a <span>256 x 256 pixel</span> nebdip image. The icon
                    shows up when your websrte
                    link s saved to an iPhone home screen</p>
                <div class="drag-area first">
                    <p class="center-row">256 x 256</p>
                    <p class="drag-instruct">Drag or <span>Click</span></p>
                </div>
            </div>
            <div class="drag-item">
                <h5 class="section-small-title">Favicon</h5>
                <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon
                    image Supported image formats are .ico, .png, .gif and .jpg</p>
                <div class="drag-area first">
                    <p class="center-row">32 x 32</p>
                    <p class="drag-instruct">Drag or Click </p>
                </div>
            </div>
        </div>-->
                <!--<div class="drag-cont">
            <div class="drag-item first">
                <h5 class="section-small-title">Webclip</h5>
                <p class="text-small description">Upload a <span>256 x 256 pixel</span> nebdip image. The icon
                    shows up when your websrte
                    link s saved to an iPhone home screen</p>
                <div class="drag-area drag-area-loading first">
                    <div class="loaded"></div>
                    <p class="drag-instruct">Loading</p>
                </div>
            </div>
            <div class="drag-item">
                <h5 class="section-small-title">Favicon</h5>
                <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon
                    image Supported image formats are .ico, .png, .gif and .jpg</p>
                <div class="drag-area drag-area-loading first">
                    <div class="loaded"></div>
                    <p class="drag-instruct">Loading</p>
                </div>
            </div>
        </div>-->
                <!--<div class="drag-cont">
            <div class="drag-item first">
                <h5 class="section-small-title">Webclip</h5>
                <p class="text-small description">Upload a <span>256 x 256 pixel</span> nebdip image. The icon
                    shows up when your websrte
                    link s saved to an iPhone home screen</p>
                <div class="drag-area drag-area-loading add-img first">
                    <img src="static/img/general/256img.png">
                    <p class="drag-instruct">Imagename.png</p>
                </div>
            </div>
            <div class="drag-item">
                <h5 class="section-small-title">Favicon</h5>
                <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon
                    image Supported image formats are .ico, .png, .gif and .jpg</p>
                <div class="drag-area drag-area-loading add-img first">
                    <img src="static/img/general/32img.png">
                    <p class="drag-instruct">Imagename.png</p>
                </div>
            </div>
        </div>-->
                <div class="drag-cont">
                    <div class="drag-item first">
                        <h5 class="section-small-title">Webclip</h5>
                        <p class="text-small description">Upload a <span>256 x 256 pixel</span> nebdip image. The icon shows up when your websrte link s saved to an iPhone home screen</p>
                        <div class="drag-area first">
                            <div style="cursor: pointer" class="center-row" onclick="document.querySelector('#thumbnail-img').click()">
                                <i ng-if="!$ctrl.project.thumbnail" class="icon icon-invalid"></i>
                                <img width="166" height="166" ng-src="{{$ctrl.project.thumbnail}}" ng-if="!!$ctrl.project.thumbnail" alt="">
                            </div>
                            <p class="drag-instruct">To try
                                <span>
                                    Again
                                    <input class="hidden" type="file" id="thumbnail-img" data-ng-model="avatarUrl" accept="image/jpeg,image/jpg,image/png,"
                                           onchange="angular.element(this).scope().$ctrl.changeThumbnail(event)" name="avatar"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="drag-item hidden">
                        <h5 class="section-small-title">Favicon</h5>
                        <p class="text-small description">Upload a <span>32 x 32 pixel</span> favicon image Supported image formats are .ico, .png, .gif and .jpg</p>
                        <div class="drag-area first">
                            <div class="center-row"><i class="icon icon-invalid"></i>
                            </div>
                            <p class="drag-instruct">To try <span>Again</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="section sit-time-zone">-->
                <!--<h2 class="section-title">Site Time Zone</h2>-->
                <!--<div class="form-wrapper">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group loaded col-md-6 col-sm-12 col-sm-12 col-xs-12 clearfix select-group">-->
                                <!--<select class="form-control selectpicker">-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                    <!--<option value="">Choose the time zone from this list</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="btn-primary-cont">-->
                                <!--<span class="divider">or</span>-->
                                <!--<button type="button" class="btn btn-primary active">Detect my time zone</button>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<p class="col-md-7 text-small description">Time zone defaults to UTC, so setting it to your local time zone will improve any dat&'hme remind features of your dynamic content including relative date tillerng. It will also update any datedime-relaled elements-->
                                    <!--of your existing dynamic content</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="section overview">
                <h2 class="section-title">Overview</h2>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Total Asset Size</span>
                                </td>
                                <td class="text-primary"><span>10.8 mb ( Files. Fonts, and Backups)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Published</span>
                                </td>
                                <td class="text-primary"><span>Never</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Template Of</span>
                                </td>
                                <td class="text-primary id"><span>N/A</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Last Updated</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.updatedAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Created</span>
                                </td>
                                <td class="text-primary"><span>{{$ctrl.project.createdAt | date: 'MMMM dd yyyy. h:mm:ss a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Pages</span>
                                </td>
                                <td class="text-primary"><span>1</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Form Submissions</span>
                                </td>
                                <td class="text-primary"><span>0</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="section traffic-statistics last-section">
                <h2 class="section-title">Traffic Statistics</h2>
                <p class="text-small description">
                    Statistics from the past <span>30 days</span> of traffic data
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Total views</span>
                                </td>
                                <td class="text-primary">0 views<span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Views by IP</span>
                                </td>
                                <td class="text-primary">0 views<span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="section section-project-content last-section">
                <h2 class="section-title">Description</h2>
                <div class="row">
                    <div class="col-md-6">
                        <!--<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">-->
                            <!--<a class="btn btn-large" data-edit="bold"><i class="icon-bold"></i></a>-->
                        <!--</div>-->
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.project.description"></textarea>
                        <div class="btn-wrapper">
                            <button type="button" ng-click="$ctrl.update()" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" data-ng-if="$ctrl.showLoader"></div>

</div>

<div class="modal model-confirm" ng-class="{'display-block': $ctrl.modals.remove, 'display-none': !$ctrl.modals.remove}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>
            <h1>Delete this project ?</h1>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.deleteProject()">delete</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.password = false">cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" ng-class="{'display-block': $ctrl.modals.share, 'display-none': !$ctrl.modals.share}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.share = false">×</span>
            <h1>Share this project</h1>
        </div>
        <div class="modal-body">
            <p data-ng-if="$ctrl.project.public === 'false'" class="text-small description">This project is not public, you can change this from project settings.
                project settingsy lini orangevi link vor sghmi miangamic baci et projecti settingsy</p>
            <div class="form-wrapper margin-top-20" data-ng-if="$ctrl.project.public === 'true'">
                <div class="form-group" custom-input>
                    <input id="projectUrl" type="text" class="form-control" value="{{$ctrl.PUBLIC + $ctrl.user.username + '/' + $ctrl.project.name}}" disabled>
                    <label class="control-label float-label">Url of project</label>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-bottom-20-important">
            <div class="required-field-actions clearfix">
                <button data-ng-if="$ctrl.project.public === 'false'" type="button" class="btn btn-primary" data-ng-click="$ctrl.goToSettings()">go to settings</button>
                <button  data-ng-if="$ctrl.project.public === 'true'" type="button" class="btn btn-primary" data-ng-click="$ctrl.copyUrl()">copy this url</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.share = false">cancel</a>
            </div>
        </div>
    </div>
</div>

