<div class="auth-page">
	<div class="container page">
		<div class="row" style="text-align: center">

			<div class="offset-md-6 col-xs-12">
				<h1 class="text-xs-center" data-ng-bind="::$ctrl.title"></h1>
				<p class="text-xs-center">
					<a data-ui-sref="landing.login"
					   data-ng-show="$ctrl.authType === 'register'">
						Have an account?
					</a>
					<!--<a data-ui-sref="landing.register"
					   data-ng-show="$ctrl.authType === 'login'">
						Need an account?
					</a>-->
				</p>

				<form data-ng-submit="$ctrl.submitForm()">

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'login'">

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block margin-top-20">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.username">
											<label class="control-label float-label">Username</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="password" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.password">
											<label class="control-label float-label">Password</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<p class="text-center text-danger"
							 	ng-if="$ctrl.errors[0]">
							Wrong username or password
						</p>

						<div class="section section-project-content login">
							<div class="row">
								<div class="center-block">
									<div class="btn-wrapper">
										<button type="submit" class="btn btn-primary border-orange">Sign in</button>
										<button type="button" ui-sref="landing.resetpassword" class="btn btn-primary border-orange">Forget password</button>
									</div>
								</div>
								<div class="center-block">
									<div class="btn-wrapper">
										<button type="button" ng-click="$ctrl.fbLogin()" class="btn btn-primary border-orange">Login via Facebook</button>
										<button type="button" ng-click="$ctrl.googleLogin()" class="btn btn-primary border-orange">Login via Google</button>
										<button type="button" ng-click="$ctrl.gitLogin()" class="btn btn-primary border-orange">Login via Github</button>
									</div>
								</div>
							</div>
						</div>

					</fieldset>

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'forgot'">

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block margin-top-20">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.email">
											<label class="control-label float-label">Email</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<div class="section section-project-content">
							<div class="row">
								<div class="center-block">
									<div class="btn-wrapper">
										<button type="submit" class="btn btn-primary border-orange">Send Email</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'register'">

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block margin-top-20">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.username">
											<label class="control-label float-label">Username</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.email">
											<label class="control-label float-label">Email</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.password">
											<label class="control-label float-label">Password</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<div class="section section-project-content">
							<div class="row">
								<div class="center-block">
									<div class="btn-wrapper">
										<button type="submit" class="btn btn-primary border-orange">Sign up</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>

				</form>
			</div>

		</div>
	</div>
</div>
