<div class="auth-container signup-container">
    <div class="container">
        <div class="auth-content" ng-class="$ctrl.authType === 'login' ? 'sign-in' : ''">
            <h3 class="title">{{$ctrl.authType === 'login' ? 'SIGN IN' : 'SIGN UP'}}</h3>

            <p ng-if="$ctrl.authType === 'register'" class="title-description">
                <a style="color:#008BF2" ui-sref="landing.login">Have an account?</a>
            </p>

            <form data-ng-submit="$ctrl.submitForm(register.$valid)" class="main-form" name="register" novalidate>

                <div data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'login'">

                    <div class="form-group" custom-input>
                        <input type="text" class="form-control" ng-class="$ctrl.formData.username ? 'active' : ''" placeholder="" value="" data-ng-model="$ctrl.formData.username">

                        <label class="control-label float-label">Username</label>
                    </div>

                    <div class="form-group" custom-input style="margin-bottom:25px !important">
                        <input type="password" class="form-control" ng-class="$ctrl.formData.password ? 'active' : ''" placeholder="" value="" data-ng-model="$ctrl.formData.password">

                        <label class="control-label float-label">Password</label>
                    </div>

                    <div class="text-center" style="margin-bottom: 10px;">
                        <a ui-sref="landing.resetpassword" class="text-wrong forgot-password">Forgot password?</a>
                    </div>

                    <div class="btn-wrapper">
                        <button type="submit" style="margin-right:10px" class="btn btn-default btn-submit">Sign In</button>
                        <!--
                           <button type="button" ui-sref="landing.register" class="btn btn-default btn-submit">Register</button>
                        -->
                    </div>


                </div>

                <div data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'register'" class="form-register">
                    <div class="form-group" custom-input data-ng-focus="register.username.focused" data-ng-class="{
                         'has-error': (register | formValidator:'username')  == 'invalid',
                         'has-success': (register | formValidator:'username')  == 'valid',
                         }">
                        <input type="text" data-ng-class="{'active':register.username.$viewValue}" class="form-control" placeholder="" value="" ng-minlength="3" ng-maxlength="32" name="username" data-ng-model="$ctrl.formData.username" required data-ng-focus="register.username.focused = true"
                            data-ng-blur="register.username.focused = false">
                        <label class="control-label float-label">Username<sub>*</sub></label>
                        <div class="validation error" ng-if="(register | formValidator:'username')  == 'invalid' && !register.username.focused">
                            {{$ctrl.formErrors.username}}
                        </div>
                    </div>

                    <div class="form-group" custom-input data-ng-class="{
                         'has-error': (register | formValidator:'email')  == 'invalid',
                         'has-success': (register | formValidator:'email')  == 'valid',
                         }">
                        <input type="text" data-ng-class="{'active':register.email.$viewValue}" class="form-control" placeholder="" value="" name="email" data-ng-pattern="$ctrl.patterns.email" data-ng-focus="register.email.focused = true" data-ng-blur="register.email.focused = false"
                            data-ng-model="$ctrl.formData.email" required>
                        <label class="control-label float-label">Email<sub>*</sub></label>
                        <div class="validation error" ng-if="(register | formValidator:'email')  == 'invalid' && !register.email.focused">
                            {{$ctrl.formErrors.email}}
                        </div>
                    </div>

                    <div class="form-group" custom-input data-ng-focus="register.password.focused" data-ng-class="{
                         'has-error': (register | formValidator:'password')  == 'invalid',
                         'has-success': (register | formValidator:'password')  == 'valid',
                         }">
                        <input type="password" data-ng-class="{'active':register.password.$viewValue}" class="form-control" name="password" ng-pattern="$ctrl.patterns.password" placeholder="" value="" data-ng-model="$ctrl.formData.password" ng-minlength="8" data-ng-focus="register.password.focused = true"
                            data-ng-blur="register.password.focused = false" required>
                        <label class="control-label float-label">Password<sub>*</sub></label>
                        <div class="validation" ng-class="!!((register | formValidator:'password')== 'invalid' && !register.password.focused) ? 'error' : ''">
                            {{$ctrl.formErrors.password}}
                        </div>
                    </div>

                    <div class="form-group" custom-input data-ng-focus="register.passwordConfirm.focused" data-ng-class="{
                         'has-error': (register.passwordConfirm.$invalid || register.passwordConfirm.$error.confirmed) && (register | formValidator:'passwordConfirm')  == 'invalid',
                         'has-success': register.passwordConfirm.$valid && register.passwordConfirm.focused && !register.passwordConfirm.$error.hasOwnProperty('confirmed'),
                         }">

                        <input type="password" confirm-Password compare-to="register.password.$viewValue" data-ng-class="{'active':register.passwordConfirm.$viewValue}" class="form-control" name="passwordConfirm" placeholder="" value="" data-ng-model="$ctrl.formData.confirmPassword"
                            ng-minlength="8" data-ng-focus="register.passwordConfirm.focused = true" data-ng-blur="register.passwordConfirm.focused = false" required>
                        <label class="control-label float-label">Confirm Password<sub>*</sub></label>
                        <div class="validation error-password" ng-if="
                             (register.passwordConfirm.$invalid || register.passwordConfirm.$error.confirmed)
                             &&
                             (register | formValidator:'passwordConfirm')== 'invalid' && !register.passwordConfirm.focused">
                            {{$ctrl.formErrors.confirmPassword}}
                        </div>
                    </div>
                    <!-- <div class="form-group"
                         ng-show="register.passwordConfirm.$invalid && register.passwordConfirm.focused && register.passwordConfirm.$error.confirmed">
                        <p class="password-description">
                            Password does not match
                        </p>
                    </div>-->

                    <div class="form-group" data-ng-focus="register.invitationCode.invitationCode = true" data-ng-class="{
                         'has-error': (register | formValidator:'invitationCode')  == 'invalid',
                         'has-success': (register | formValidator:'invitationCode')  == 'valid',
                         }" custom-input>
                        <input type="text" data-ng-class="{'active':$ctrl.formData.invitationCode}" name="invitationCode" class="form-control" placeholder="" value="" data-ng-model="$ctrl.formData.invitationCode" data-ng-focus="register.invitationCode.focused = true" required>
                        <label class="control-label float-label">Invitation Code<sub>*</sub></label>
                        <div class="validation error" ng-if="(register | formValidator:'invitationCode')  == 'invalid'">
                            {{$ctrl.formErrors.invitationCode}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input style="margin-left:5px" type="checkbox" ng-change="!$ctrl.agree2" required name="agreement" ng-model="$ctrl.agree2" />
                        <span ng-class="{'error-password':(register | formValidator:'agreement')  == 'invalid'}" style="margin-left:10px; color:rgba(255, 255, 255, 0.45)"> By clicking this button, I agree to
                            <a target="_blank"
                               ng-class="{'error-password':(register | formValidator:'agreement')  == 'invalid'}"
                               ui-sref="landing.pages({pageURL:'beta-evaluation-agreement'})"> Pre-Release Evaluation Agreement.*</a></span>
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn-default btn-submit">Sign up
                        </button>

                    </div>

                </div>


            </form>


        </div>
    </div>
</div>