<div class="stripeWrapper">

    <div class="section" ng-if="vm.customerCards">
        <h2 class="section-title"> Cards List </h2>
        <ul class="list-group">
            <li class="list-group-item row" ng-repeat="(index, card) in vm.customerCards"
            ng-class="card.id == vm.customer.default_source ? 'active' : ''">
                <div class="col-md-2 col-sm-2 col-sx-2">
                    <i class="fa fa-cc-{{card.brand}} fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-sm-3 col-sx-3">
                    <h4>**** {{card.last4}}</h4>
                </div>
                <div class="col-md-2 col-sm-2 col-sx-2">
                    <h4>{{card.exp_month}}/{{card.exp_year}}</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center">

                    <i ng-show="card.settingDefaultInProgress" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <div ng-hide="card.settingDefaultInProgress">
                        <h4 class="label label-info" style="top: 5px; position: relative;"
                            ng-if="card.id == vm.customer.default_source">Default</h4>

                        <a ng-if="card.id != vm.customer.default_source" href=""
                           ng-click="vm.setDefaultCard(index, card.id); card.settingDefaultInProgress = true">
                            <i class="icon icon-edit"></i>
                            <span>Set default</span>
                        </a>
                    </div>

                </div>
                <div class="col-sm-2 col-sx-2 col-md-2   text-right">
                    <a ng-if="vm.customerCards.length > 1"
                       ng-hide="card.deleteInProgress"
                       href=""
                       class="remove-card"
                       ng-click="vm.removeCard(index, card.id); card.deleteInProgress = true">
                        <i class="icon icon-delete" aria-hidden="true"></i>
                        <span>Delete</span>
                    </a>
                    <i ng-show="card.deleteInProgress" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                </div>
            </li>
        </ul>
    </div>

    <div class="section">
        <h2 class="section-title">Add new Card</h2>
        <form id="stripeFrom" name="vm.stripe"  ng-submit="vm.formSumbit()">

            <div class="form-group" custom-input
                 data-ng-class="{'has-error': (vm.stripe.number.$invalid && vm.stripe.number.focused), 'has-success': vm.stripe.number.$valid && vm.stripe.number.focused}">
                <input type="text" class="form-control"
                       name="number"
                       data-stripe="number"
                       required
                       only-num
                       ng-model="vm.cardForm.number"
                       cc-number cc-eager-type
                       data-ng-focus="vm.stripe.number.focused = true">
                <label class="control-label float-label">Card number</label>
            </div>

            <div class="form-group row" style="margin:20px -15px">

                <div class="form-group col-md-6 has-col" custom-input
                     data-ng-class="{'has-error': vm.stripe.exp_month.$invalid && vm.stripe.exp_month.focused, 'has-success': vm.stripe.exp_month.$valid && vm.stripe.exp_month.focused}">
                    <input type="text" class="form-control"
                           name="exp_month"
                           data-stripe="exp_month"
                           cc-exp-month
                           only-num
                           required
                           ng-model="vm.cardForm.exp_month"
                           data-ng-focus="vm.stripe.exp_month.focused = true">
                    <label style="left:25px" class="control-label float-label">Expiration MM</label>
                </div>
                <div class="form-group col-md-6 has-col" custom-input
                     data-ng-class="{'has-error': vm.stripe.exp_year.$invalid && vm.stripe.exp_year.focused, 'has-success': vm.stripe.exp_year.$valid && vm.stripe.exp_year.focused}">
                    <input type="text" class="form-control"
                           name="exp_year"
                           data-stripe="exp_year"
                           cc-exp-year
                           only-num
                           required
                           ng-model="vm.cardForm.exp_year"
                           data-ng-focus="vm.stripe.exp_year.focused = true">
                    <label  style="left:25px"class="control-label float-label">Expiration YY</label>
                </div>

            </div>

            <div class="form-group" custom-input style="margin-bottom:20px"
                 data-ng-class="{'has-error': vm.stripe.cvc.$invalid && vm.stripe.cvc.focused, 'has-success': vm.stripe.cvc.$valid && vm.stripe.cvc.focused}">
                <input type="text" class="form-control"
                       name="cvc"
                       data-stripe="cvc"
                       cc-cvc
                       only-num
                       required
                       ng-model="vm.cardForm.cvc"
                       data-ng-focus="vm.stripe.cvc.focused = true">
                <label class="control-label float-label">CVC</label>
            </div>

            <input type="submit" ng-disabled="vm.submitInProgress || vm.stripe.$invalid" class="btn btn-primary" value="Add card">
            <i ng-show="vm.submitInProgress" style="vertical-align: middle;color: #fff;margin-left: 10px;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </form>
    </div>

</div>
