<header>
    <div class="header-auth">
        <div class="container">
            <a href="" class="btn-mobile-menu visible-xs">
                            <span class="btn-bars">
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            				</span>
            </a>
            <a data-ui-sref="landing.home({new:true})" ui-sref-opts="{reload: true, notify: true}" class="logo">
                <img alt="Rodin" src="/images/landing/general/logo.svg">
            </a>
            <div class="header-menu">
                <ul class="menu-list">
                    <li ng-if="$ctrl.user">
                        <a data-ui-sref-active="active" data-ui-sref="app.dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="landing.store">Store</a>
                    </li>
                    <li class="rodin-hide">
                        <a ui-sref="landing.discover">How it works</a>
                    </li>
                    <li class="dropdown">
                        <a href="" id="moreLabel" data-target="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            More <i class="rd rd-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu more-dropdown-menu" aria-labelledby="moreLabel">
                            <li>
                                <a ui-sref="landing.docs">Docs</a>
                            </li>
                            <li>
                                <a ui-sref="landing.tutorials">Tutorials</a>
                            </li>
                            <li>
                                <a ui-sref="landing.faq">FAQ</a>
                            </li>
                            <li>
                                <a ui-sref="landing.privacy">Terms and Conditions</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-menu pull-right" ng-if="!$ctrl.user">
                <ul class="menu-list">
                    <li>
                        <a class="nav-link" data-ui-sref-active="active" data-ui-sref="landing.login">
                            Sign in
                        </a>
                    </li>
                    <!--  <li>
                          <a class="nav-link" data-ui-sref-active="active" data-ui-sref="landing.register">
                              Register
                          </a>
                      </li>-->
                </ul>
            </div>
            <!--
                        <div class="account-action">
                            <ul>
                                <li class="dropdown notifi-dropdown">
                                    <a href="" class="btn-notifi new" id="notifiLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="rd rd-notifi"></i>
                                    </a>
                                    <div class="dropdown-menu notifi-dropdown-menu" aria-labelledby="notifiLabel">
                                        <h5>Notifications</h5>
                                        <ul class="notifi-list">
                                            <li>
                                                <a href="">
                                                    <p>
                                                        It sometimes seems everyone on the planet is using Windows. Lorem ipsum dolor.
                                                    </p>
                                                    <span class="notifi-date">3 hours ago</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <p>
                                                        It sometimes seems everyone on the planet is using Windows. Lorem ipsum dolor.
                                                    </p>
                                                    <span class="notifi-date">3 hours ago</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <p>
                                                        It sometimes seems everyone on the planet is using Windows. Lorem ipsum dolor.
                                                    </p>
                                                    <span class="notifi-date">3 hours ago</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown account-dropdown">
                                    <a href="" class="btn-account" id="accountLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="hidden-xs">Username</span>
                                        <span class="accout-img-wrapper">
                                                        <span class="account-img" style="background-image: url(static/img/content/account-img.jpg);"></span>
                                                    </span>
                                        <i class="rd rd-angle-down hidden-xs"></i>
                                    </a>
                                    <div class="dropdown-menu account-dropdown-menu" aria-labelledby="accountLabel">
                                        <h4>Account Name</h4>
                                        <ul class="account-action-list">
                                            <li>
                                                <a href="">Edit profile</a>
                                            </li>
                                            <li>
                                                <a href="">Lorem ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Sign out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
            -->
        </div>
    </div>
    <!--<div class="header-search-box">
        <div class="container">
            <form action="">
                <div class="form-group">
                    <input type="search" class="header-search" placeholder="Search for Projects">
                    <button type="submit" class="btn-search">
                        <i class="rd rd-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
</header>