<!--
<nav class="navbar">
    <div class="container-fluid">
        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-ui-sref="landing.home">
                <img src="images/rodin-logo.png" width="90" alt="logo">
            </a>
        </div>
        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
        <div class="collapse navbar-collapse" uib-collapse="isNavbarCollapsed">
            <ul class="nav navbar-nav">
                <li>
	                <a data-ui-sref-active="active" data-ui-sref="landing.home">
						Home
					</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-account">
                <li>
                    <a class="nav-link" data-ui-sref-active="active" data-ui-sref="landing.login">
						Sign in
					</a>
                </li>
                <li>
                    <a class="nav-link" data-ui-sref-active="active" data-ui-sref="landing.register">
						Sign up
					</a>
                </li>
            </ul>
        </div>
        &lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>
    &lt;!&ndash; /.container-fluid &ndash;&gt;
</nav>
-->
