.line-sample {
  border-top: 1px solid $color-primary;
}
.samples-page {
  .title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .rd-tree {
    .nav-list {
      //margin-top: 5px;
     > li {
        margin-bottom: 0;
        &.labeled {
          .tree-toggler {
            margin-bottom: 0;
            font-weight: 400;
            color: $color-primary;
            font-size: 16px;
            font-family: $RobotoCond;
            padding: 10px 10px 10px 15px;
            cursor: pointer;
            width: 100%;
            &:hover {
              background: #082542;
            }
          }
          ul.tree {
            li {
              padding-left: 30px;
              &:hover {
                background: #082542;
                a {
                  color: white;
                }
              }
            }
          }
          //margin-bottom: 9px;
        }
        a {
          cursor: pointer;
          font-size: 14px;
          width: 100%;
          padding: 10px 0px 10px 0px;
          //line-height: 18px;
          color: $color-text-secondary;
          font-family: $Roboto;
        }
      }
    }
  }
}
.samples-iframe {
  background: black;
  .info {
    position: absolute;
    top: 6px;
    left: 15px;
    color: $color-primary;
  }
  .view-source {
    position: absolute;
    bottom: 50px;
    right: 10px;
    padding: 8px 12px 8px 12px;
    border: 1px solid $color_primary;
    border-radius: 3px;
    background: $bg-primary;
    &:hover {
      //background: $color-bd-sec;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .samples-iframe {
    display: none;
  }
}
@media screen and (orientation:portrait) and (min-width: 320px) and (max-width: 1024px) {
  .samples-iframe {
    display: none;
  }
  .rd-tree {
    margin-top: 20px;
    li {
      a{
          border-bottom:none !important;
      }
    }
  }
  //.line {
  //  position: absolute;
  //  top: 90px;
  //}
}
@media screen and (orientation:landscape) and (min-width: 320px) and (max-width: 1024px) {
  .samples-iframe {
    display: none;
  }
  .rd-tree .nav-list > li a {

  }
  .rd-tree {
    margin-top: 20px;
    li {
      a{
          border-bottom:none !important;
      }
    }
  }
  //.line {
  //  position: absolute;
  //  top: 70px;
  //}
}