<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <div class="store-page main-form">
                    <h3 class="title">MODULES</h3>
                    <ul class="radio-list" ng-repeat="list in $ctrl.modulesList">
                        <li ng-repeat="module in list">
                            <div class="radio-wrapper">
                                <label class="label-radio">
                                    <input type="radio" name="template">
                                    <span class="custom-radio" style="background-image: url({{module.thumbnail}});">
                                    <div class="module-content long">

                                         <div class="module-header">
                                             <p class="module-title turn-blue">{{module.title}}</p>
                                             <p class="turn-blue" style="font-size:12px">by {{module.author}}</p>
                                        </div>
                                         <div class="content">
                                             {{module.description.substring(0, 60)}}...
                                             <div class="content-bottom">
                                                 <p class="pull-left">
                                                     <a class="circle"
                                                        ng-class="module.subscribed && !module.unsubscribed ? 'active' : ''"
                                                        popover-placement="top"
                                                        popover-class="store-popover"
                                                        uib-popover="{{module.subscribed && !module.unsubscribed ? 'Unsubscribe' : 'Subscribe'}}"
                                                        popover-trigger="'mouseenter'"
                                                        ng-click="$ctrl.moduleSubscribe(module)"
                                                        href="">
                                                         <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                     </a>
                                                     <a class="circle" popover-placement="top"
                                                        popover-class="store-popover"
                                                        uib-popover="Example"
                                                        popover-trigger="'mouseenter'">
                                                         <i class="fa fa-eye" aria-hidden="true"></i>
                                                     </a>
                                                 </p>
                                                 <p class="pull-right oval">$ {{module.price || '0.0'}}</p>
                                             </div>
                                        </div>

                                    </div>

                                </span>
                                    <span class="template-name">{{project.name}}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="store-page">
                     <div class="row modules-section">
                         <div class="col-lg-3 col-md-4 col-sm-4" ng-repeat="module in $ctrl.modulesList">
                             <div class="module-wrapper">
                                 <img ng-src="{{module.thumbnail}}" class="img-responsive"/>
                                 <div class="module-content short">
                                     <div class="module-header">
                                         <p class="pull-left module-title">{{module.title}}</p>
                                         <p class="pull-right">$ {{module.price || '0.0'}}</p>
                                     </div>
                                 </div>
                                 <div class="module-content long">
                                     <div class="module-header">
                                         <p class="module-title turn-blue">{{module.title}}</p>
                                         <p class="turn-blue" style="font-size:12px">by {{module.author}}</p>
                                     </div>
                                     <div class="content">
                                         {{module.description.substring(0, 60)}}...
                                         <div class="content-bottom">
                                             <p class="pull-left">
                                                 <a class="circle" ng-class="module.subscribed && !module.unsubscribed ? 'active' : ''"
                                                    popover-placement="top"
                                                    popover-class="store-popover"
                                                    uib-popover="{{module.subscribed && !module.unsubscribed ? 'Unsubscribe' : 'Subscribe'}}"
                                                    popover-trigger="'mouseenter'"
                                                    ng-click="$ctrl.moduleSubscribe(module)"
                                                    href="" >
                                                     <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                 </a>
                                                 <a class="circle" popover-placement="top"
                                                    popover-class="store-popover"
                                                    uib-popover="Example"
                                                    popover-trigger="'mouseenter'">
                                                     <i class="fa fa-eye" aria-hidden="true"></i>
                                                 </a>
                                             </p>
                                             <p class="pull-right oval">$ {{module.price || '0.0'}}</p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                     </div>
                 </div>-->
            </div>
        </div>

    </div>
</div>


