<div class="modal-header">
    <p>{{$ctrl.modalTitle}}</p>
</div>
<div class="modal-body">
    <p class="text-small description text-highlight">
        {{$ctrl.modalContent}}
    </p>
    <p class="alert alert-rodin margin-top-20" ng-if="$ctrl.subscribtionWarning">
        {{$ctrl.subscribtionWarning}}
    </p>
</div>
<div class="modal-footer">
    <div class="required-field-actions clearfix">
        <div class="text-center">
            <button ng-if="$ctrl.activateSubscribeButton" type="button" class="btn btn-positive" data-ng-click="$ctrl.purchaseModule($ctrl.module)">Subscribe</button>
            <button ng-if="!$ctrl.activateSubscribeButton" type="button" class="btn btn-negative" data-ng-click="$ctrl.unsubscribeModule($ctrl.module)">Unsubscribe</button>
            <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modalInstance.close()">Cancel</a>
        </div>
    </div>
</div>