<div class="modal-header">
    <p>Assign</p>
</div>
<div class="modal-body padding-0-important">
    <div ng-if="$ctrl.module.script">
        <div class="form-wrapper">
            <div class="form-group" custom-input>
                <input class="form-control"
                       id="scriptInput"
                       readonly
                       style="width:90%; display: inline-block"
                       value="{{$ctrl.module.script}}"/>
                <!--<a href=""-->
                   <!--tooltip-placement="top-left"-->
                   <!--style="display: inline-block; padding: 5px; color:#33deff"-->
                   <!--ng-click="$ctrl.copyToClipBoard()"-->
                   <!--uib-tooltip="Copy to clipboard">-->
                    <!--<i class="fa fa-clipboard" aria-hidden="true"></i>-->
                <!--</a>-->
            </div>
            <p class="text-small description">Copy and Paste this script tag into index.html.</p>
        </div>
    </div>
    <div ng-if="!$ctrl.module.script">
        <p style="font-weight:400">Are you sure you want assign a module to current project?</p>
    </div>
</div>
<div class="modal-footer">
    <div class="required-field-actions clearfix">
        <div class="text-center">
            <button type="button" ng-if="!$ctrl.module.script" class="btn btn-positive blue" data-ng-click="$ctrl.assign($ctrl.module)">Generate Script</button>
            <a href="" class="btn btn-cancel" ng-if="!$ctrl.module.script" data-ng-click="$ctrl.modalInstance.close()"><!--{{$ctrl.module.script ? 'Close' : 'Cancel'}}--> Cancel</a>
            <a href="" class="btn btn-cancel" ng-if="$ctrl.module.script" data-ng-click="$ctrl.copyToClipBoard(); $ctrl.modalInstance.close()"><!--{{$ctrl.module.script ? 'Close' : 'Cancel'}}--> Copy This Script</a>
        </div>
    </div>
</div>