<div class="modal-header">
    <h1>Assign</h1>
</div>
<div class="modal-body padding-0-important">
    <div ng-if="$ctrl.module.script">
        <div class="form-wrapper">
            <div class="form-group" custom-input>
                <input class="form-control"
                       id="scriptInput"
                       readonly
                       style="width:90%; display: inline-block"
                       value="{{$ctrl.module.script}}"/>
                <a href=""
                   tooltip-placement="top-left"
                   style="display: inline-block; padding: 5px; color:#33deff"
                   ng-click="$ctrl.copyToClipBoard()"
                   uib-tooltip="Copy to clipboard">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                </a>
            </div>
            <p class="text-small description">copy and paste this script into index.html.</p>
        </div>
    </div>
    <div >
        <div class="form-wrapper">
            <div class="form-group" custom-input>
                <tags-input style="height:100%; min-height:44px"   class="form-control" ng-model="$ctrl.allowedHosts"></tags-input>
            </div>
            <p class="text-small description">Please add hosts without http:// or https://</p>
        </div>
    </div>
</div>
<div class="modal-footer padding-bottom-20-important">
    <div class="required-field-actions clearfix">
        <button type="button" ng-if="!$ctrl.module.script" class="btn btn-primary blue" data-ng-click="$ctrl.assign($ctrl.module)">Assign</button>
        <button type="button" ng-if="$ctrl.module.script" class="btn btn-primary blue" data-ng-click="$ctrl.updateHosts($ctrl.module)">Update allowed hosts</button>
        <a href="" class="btn btn-save" data-ng-click="$ctrl.modalInstance.close()">{{$ctrl.module.script ? 'Close' : 'Cancel'}}</a>
    </div>
</div>