<div class="container">
	<div class="footer-content">
		<div class="logo-wrapper">
			<a class="logo-footer">
				<img alt="Rodin" src="images/landing/general/logo.svg">
			</a>
			<ul class="pull-right social-list">
				<li>
					<a href="https://www.facebook.com/rodinvr/" target="_blank"><i class="fa  fa-facebook-official"></i></a>
					<a href="https://twitter.com/rodinvr" target="_blank"><i class="fa  fa-twitter"></i></a>
					<a href="https://www.youtube.com/channel/UCIctFroo3prDx_7OSk6DJ1Q" target="_blank"><i class="fa  fa-youtube-play"></i></a>
					<!--<a href="" target="_blank"><i class="fa  fa-instagram"></i></a>-->
					<!--<a href="" target="_blank"><i class="fa  fa-pinterest"></i></a>-->
					<a href="https://www.linkedin.com/company-beta/17931160/" target="_blank"><i class="fa  fa-linkedin-square"></i></a>
				</li>
			</ul>
		</div>
		<div class="footer-menu-wrapper">
			<p class="copyright text-center">
				Copyright &copy; {{::$ctrl.date | date:'yyyy'}} Rodin Corporation. All rights reserved.
			</p>
			<ul class="footer-menu-list">
				<li ng-repeat="page in $ctrl.pagesList">
					<a ng-if="page.externalURL"  ng-href="{{page.externalURL}}">{{page.title}}</a>
					<a ng-if="!page.externalURL" ui-sref="landing.pages({pageURL:'{{page.slug}}'})">{{page.title}}</a>
				</li>
			<!--<li>
			<a ui-sref="landing.pages({pageURL:'tutorial'})">Documentation</a>
			</li>
			<li>
			<a href="">Blog</a>
			</li>
			<li>
			<a ui-sref="landing.faq">FAQ</a>
			</li>
			<li>
			<a ui-sref="landing.privacy">Terms and Conditions</a>
			</li>
			<li>
			<a href="">Contact</a>
			</li>-->
			</ul>
		</div>
	</div>
</div>
