<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h1 class="title"> Account Settings</h1>
                <div class="main-form">
                    <div class="content-navbar">
                        <ul class="navbar-list">
                            <li ng-class="!$ctrl.privacy ? 'active' : ''">
                                <a href="" ng-click="$ctrl.privacy = false">Profile</a>
                            </li>
                            <li ng-class="$ctrl.privacy ? 'active' : ''">
                                <a href="" ng-click="$ctrl.privacy = true">Password</a>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="!$ctrl.privacy">
                        <h3 class="section-title">Account Details</h3>
                        <table class="table main-table">
                            <tbody>
                            <tr>
                                <td class="text-primary"><span>Account Created</span>
                                </td>
                                <td class="text-primary">
                                    {{$ctrl.currentUser.creationDate | formatDate : 'DD MMMM YYYY'}}<span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Published projects</span>
                                </td>
                                <td class="text-primary">{{$ctrl.currentUser.projects.published || 0}}<span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Unpublished sites</span>
                                </td>
                                <td class="text-primary">{{$ctrl.currentUser.projects.unpublished ||
                                    0}}<span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary"><span>Storage Used (Sites)</span>
                                </td>
                                <td class="text-primary">
                                    <span ng-if="$ctrl.currentUser.usedStorage"> {{$ctrl.currentUser.usedStorage | bytes:'MB'}}</span>
                                    <span ng-if="!$ctrl.currentUser.usedStorage">0.00 MB</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <form name="profile" novalidate>
                            <div class="section section-connected-accounts">
                                <h3 class="section-title">Connected Accounts</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group title">Facebook</div>
                                            </div>
                                            <div class="col-md-10">
                                                <button type="button" ng-if="!$ctrl.currentUser.facebook"
                                                        ng-click="$ctrl.fbSync()"
                                                        class="btn btn-primary border-orange">Sync with Facebook
                                                </button>
                                                <div class="synced row" ng-if="$ctrl.currentUser.facebook">
                                                    <div class="col-md-4" style="font-size: 14px">
                                                        <span ng-click="$ctrl.openUnSync('facebook')">
                                                            <i class=" icon icon-send"></i> Synced as
                                                        ({{$ctrl.currentUser.facebook}})
                                                        </span>
                                                    </div>
                                                    <!--<div class="col-md-6">-->
                                                    <!--<button type="button"-->
                                                    <!--ng-click="$ctrl.openUnSync('facebook')"-->
                                                    <!--class="btn btn-primary border-orange">Unsync from Facebook-->
                                                    <!--</button>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group title">Google</div>
                                            </div>
                                            <div class="col-md-10">
                                                <button type="button" ng-if="!$ctrl.currentUser.google"
                                                        ng-click="$ctrl.googleSync()"
                                                        class="btn btn-primary border-orange">Sync with Google
                                                </button>
                                                <div class="synced row" ng-if="$ctrl.currentUser.google">
                                                    <div class="col-md-4">
                                                        <span ng-click="$ctrl.openUnSync('google')">
                                                            <i class=" icon icon-send"></i> Synced as
                                                        ({{$ctrl.currentUser.google}})
                                                        </span>
                                                    </div>
                                                    <!--<div class="col-md-6">-->
                                                    <!--<button type="button"-->
                                                    <!--ng-click="$ctrl.openUnSync('google')"-->
                                                    <!--class="btn btn-primary border-orange">Unsync from Google-->
                                                    <!--</button>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group title">GitHub</div>
                                            </div>
                                            <div class="col-md-10">
                                                <button type="button" ng-if="!$ctrl.currentUser.github"
                                                        ng-click="$ctrl.gitSync()"
                                                        class="btn btn-primary border-orange">Sync with Github
                                                </button>
                                                <div class="synced row" ng-if="$ctrl.currentUser.github">
                                                    <div class="col-md-4">
                                                        <span ng-click="$ctrl.openUnSync('github')">
                                                            <i class=" icon icon-send"></i>
                                                            Synced as
                                                        ({{$ctrl.currentUser.github}})
                                                        </span>
                                                    </div>
                                                    <!--<div class="col-md-6">-->
                                                    <!--<button type="button"-->
                                                    <!--ng-click="$ctrl.openUnSync('github')"-->
                                                    <!--class="btn btn-primary border-orange">Unsync from Github-->
                                                    <!--</button>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                       <!-- <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group title">Oculus</div>
                                            </div>
                                            <div class="col-md-10">
                                                <button type="button" ng-if="!$ctrl.currentUser.oculus"
                                                        ng-click="$ctrl.openSyncModal('oculus')"
                                                        class="btn btn-primary border-orange">Sync with Oculus
                                                </button>
                                                <div class="synced row" ng-if="$ctrl.currentUser.oculus">
                                                    <div class="col-md-4">
                                                        <span ng-click="$ctrl.openUnSync('oculus')">
                                                           <i class=" icon icon-send"></i> Synced
                                                        </span>
                                                    </div>
                                                    &lt;!&ndash;<div class="col-md-6">&ndash;&gt;
                                                    &lt;!&ndash;<button type="button"&ndash;&gt;
                                                    &lt;!&ndash;ng-click="$ctrl.openUnSync('oculus')"&ndash;&gt;
                                                    &lt;!&ndash;class="btn btn-primary border-orange">Unsync from Oculus&ndash;&gt;
                                                    &lt;!&ndash;</button>&ndash;&gt;
                                                    &lt;!&ndash;</div>&ndash;&gt;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group title">Steam</div>
                                            </div>
                                            <div class="col-md-10">
                                                <button type="button" ng-if="!$ctrl.currentUser.steam"
                                                        ng-click="$ctrl.openSyncModal('steam')"
                                                        class="btn btn-primary border-orange">Sync with Steam
                                                </button>
                                                <div class="synced row" ng-if="$ctrl.currentUser.steam">
                                                    <div class="col-md-4">
                                                        <span ng-click="$ctrl.openUnSync('steam')">
                                                            <i class=" icon icon-send"></i> Synced
                                                        </span>
                                                    </div>
                                                    &lt;!&ndash;<div class="col-md-6">&ndash;&gt;
                                                    &lt;!&ndash;<button type="button"&ndash;&gt;
                                                    &lt;!&ndash;ng-click="$ctrl.openUnSync('steam')"&ndash;&gt;
                                                    &lt;!&ndash;class="btn btn-primary border-orange">Unsync from Steam&ndash;&gt;
                                                    &lt;!&ndash;</button>&ndash;&gt;
                                                    &lt;!&ndash;</div>&ndash;&gt;
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>

                            <!--<div class="section">-->
                            <h3 class="section-title">Account Info</h3>
                            <div class="form-group" custom-input>
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="" limit-to="64"
                                       data-ng-model="$ctrl.currentUser.profile.firstName">
                            </div>

                            <div class="form-group" custom-input>
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="" limit-to="64"
                                       data-ng-model="$ctrl.currentUser.profile.lastName">
                            </div>

                            <div class="form-group form-username" custom-input>
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="" limit-to="32"
                                       data-ng-model="$ctrl.currentUser.username"
                                       ng-disabled="true">
                                <p class="form-description">
                                    Deployed on your public profile, notifications and other places.
                                </p>
                            </div>

                            <div class="form-group" custom-input
                                 data-ng-class="{
                                 'has-error': (profile | PFValidator:'email')  == 'invalid',
                                 'has-success': (profile | PFValidator:'email')  == 'valid'
                                 }">
                                <label>
                                    Email<sub>*</sub>
                                </label>
                                <input type="email" class="form-control" placeholder=""
                                       name="email"
                                       data-ng-model="$ctrl.currentUser.email"
                                       data-ng-pattern="$ctrl.patterns.email"
                                       required
                                       data-ng-focus="profile.email.focused = true"
                                       data-ng-keyup="profile.email.pressed = true">
                                <div style="clear:both"></div>
                                <div class="validation error" ng-if="(profile | PFValidator:'email')  == 'invalid'">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group" custom-input>
                                <label>Country (City)</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder=""
                                       limit-to="64"
                                       ng-model="$ctrl.currentUser.profile.city">
                            </div>

                            <div class="checkbox">
                                <label class="text-small" style="color: #fff;line-height: 25px;">
                                    <input type="checkbox"
                                           ng-model="$ctrl.currentUser.notification" style="margin-top: 6px">
                                    I want to receive notifications on this email
                                    <span class="custom-check"></span>
                                </label>
                            </div>

                            <div class="btn-wrapper text-center">
                                <button type="submit" class="btn btn-submit btn-default"
                                        ng-click="$ctrl.updateProfile(profile.$valid)">
                                    Update Profile
                                </button>
                            </div>


                            <!--</div>-->
                        </form>
                    </div>

                    <div ng-show="$ctrl.privacy">
                        <div class="section">

                            <h3 class="section-title">Change Password</h3>

                            <form class="form-wrapper" data-ng-submit="$ctrl.updatePassword(changePasswordForm.$valid)" name="changePasswordForm" novalidate>
                                <div class="form-group pass-group" custom-input
                                     data-ng-class="{
                                     'has-error': (changePasswordForm | formValidator:'password')  == 'invalid',
                                     'has-success': (changePasswordForm | formValidator:'password')  == 'valid',
                                     }">
                                    <label>New Password</label>

                                    <input type="password" class="form-control" placeholder=""
                                           name="password"
                                           data-ng-model="$ctrl.newPassword.password"
                                           ng-pattern="$ctrl.patterns.password"
                                           required
                                           ng-minlength="5"
                                           ng-change="$ctrl.confirmPassword()"
                                           data-ng-focus="changePasswordForm.password.focused = true">
                                    <div class="validation"
                                         ng-class="(changePasswordForm | formValidator:'password')  == 'invalid' ? 'error' : ''">
                                        Password must contain at least 8 characters, including numbers and letters
                                    </div>
                                </div>
                                <div class="form-group pass-group" custom-input
                                     data-ng-class="{
                                     'has-error': (changePasswordForm.confirmPassword.$invalid || changePasswordForm.confirmPassword.$error.confirmed) && (changePasswordForm | formValidator:'confirmPassword')  == 'invalid',
                                     'has-success': changePasswordForm.confirmPassword.$valid && changePasswordForm.confirmPassword.focused && !changePasswordForm.confirmPassword.$error.hasOwnProperty('confirmed'),
                                     }">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" placeholder=""
                                           name="confirmPassword"
                                           data-ng-model="$ctrl.newPassword.confirmPassword"
                                           required
                                           confirm-Password
                                           compare-to="changePasswordForm.confirmPassword.$viewValue"
                                           ng-minlength="5"
                                           ng-change="$ctrl.confirmPassword()"
                                           data-ng-focus="changePasswordForm.confirmPassword.focused = true">
                                    <div class="validation error"
                                         ng-if="(changePasswordForm.confirmPassword.$invalid || changePasswordForm.confirmPassword.$error.confirmed) && (changePasswordForm | formValidator:'confirmPassword')  == 'invalid'">
                                        Passwords do not match
                                    </div>
                                </div>

                                <!-- <p class="description">New password must be at least 8
                                     characters long,
                                     contain a number and letter
                                 </p>-->


                                <div class="btn-wrapper text-center"
                                     data-ng-class="{
                                        'has-error': $ctrl.passwordChangeResponse === 'error',
                                        'has-success': $ctrl.passwordChangeResponse === 'success'
                                    }">
                                    <button type="submit"
                                            class="btn btn-submit btn-default">Update Password
                                    </button>
                                    <!--  <p class="help-block text-small error-help-block">Something went wrong.</p>
                                      <p class="help-block text-small success-help-block">Excellent. Password
                                          changed.</p>-->
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal model-confirm" close-modal="sync"
     ng-class="{'display-block': $ctrl.modals.sync, 'display-none': !$ctrl.modals.sync}" tabindex="-1" id="modalSync"
     role="dialog" aria-labelledby="modalSyncLabel">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.share = false">×</span>-->
            <p>Please enter your {{$ctrl.syncType}} id</p>
        </div>
        <div class="modal-body">
            <form name="oculusSteamSync" class="modal-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="" required
                           data-ng-model="$ctrl.oculusSteamId">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">
                    <button type="button" ng-disabled="oculusSteamSync.$invalid" class="btn btn-positive"
                            ng-click="$ctrl.syncOculusSteam()">Sync
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.sync = false">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal model-confirm" close-modal="unsync"
     ng-class="{'display-block': $ctrl.modals.unsync, 'display-none': !$ctrl.modals.unsync}" tabindex="-1"
     id="modalUnSync" role="dialog" aria-labelledby="modalSyncLabel">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.share = false">×</span>-->
            <p>Unsync from {{$ctrl.unSyncType == 'github' ? 'GitHub' : $ctrl.unSyncType}}</p>
        </div>
        <div class="modal-body">
            <p class="text-small description">
                <span ng-if="$ctrl.unSyncType == 'github'">
                    All your projects will be unlinked from GitHub.<br/>
                </span>
                Are you sure you want to unsync?
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">
                    <button type="button" class="btn btn-negative"
                            ng-click="$ctrl.confirmUnsync()">Unsync
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.unsync = false">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loaderContent" data-ng-if="$ctrl.showLoader">
    <div class="spriteLoader"></div>
</div>

