.billing-section {
  margin-top: 80px;
  .payment-service {
    display: inline-table;
    border-spacing: 10px 0;
    margin-top: 30px;
    .payservice-info {
      color: $color-text-gray;
    }
    li {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .billing-title {
    margin-bottom: 60px;
    font-size: 20px;
    color: $color-text-gray;
  }

  .payment-data {
    .payment-content {
      > h1 {
        margin-bottom: 24px;
      }
      .about-plan {
        color: $color-text-gray;
        font-size: 16px;
        //margin-bottom: 36px;
        .payment-info {
          color: #00518E;
          font-size: 13px;
          margin-left: 5px;
        }
      }
      .price {
        color: $color-primary;
        position: relative;
        font-size: 72px;
        .currency {
          font-size: 24px;
          top: -31px;
        }
        .payment-period {
          font-size: 16px;
          position: absolute;
          bottom: 30px;
        }
      }
      .paymen-benefit {
        list-style-type: disc;
        margin-left: 16px;
        li {
          line-height: 1.9;
          font-size: 13px;
          color: $color-text-gray;
        }
      }
      min-height: 515px;
      background: #0E1E32;
      padding: 36px;
      .action-section {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        bottom: 36px;
        .btn-sign-up {
          color: $color-text-gray;
          min-height: 48px;
          min-width: 148px;
          &:hover {
            color: white;
          }
          &:active {
            border: none;
            color: $bg-primary;
            background: $gey-blue;
          }
        }
        .button-negative {
          min-width: 148px;
          border-radius: 24px;
          min-height: 48px;
          background: #002E51;
          border: none;
          color: #7B7B7B;
        }
        .button-downgrade {
          min-width: 148px;
          border-radius: 24px;
          min-height: 48px;
          border: 2px solid $color-text-gray;
          color: $color-text-gray;
          transition: all 0.3s ease;
          &:hover {
            color: white;
          }
          &:active {
            border: 2px solid $color-text-secondary;
            color: $bg-primary;
            background: $color-text-secondary;
          }
        }
      }
    }
  }
}