

.page__wrapper {
	min-height: 100%;
	position: relative;
}

* html .page__wrapper {
	height: 100%;
}

//== Typography
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-text-primary;
	margin: 8px 0;
	font-weight: 400;
}

h1,
.main-title {
	font-size: 36px;
	font-family: $RobotoCond;
}

h2,
.title {
	font-size: 34px;
	font-family: $RobotoCond;
}

h3,
.sub-title {
	font-size: 24px;
	font-family: $Roboto;
}

h3.title{
	font-size: 27px;
	font-family: $RobotoCond;
	font-weight: 400;
}

p {
	font-family: $Roboto;
	font-size: $fontBase;
	color: $color-text-secondary;
	&.text-blue{
		color: $color-primary;
	}
}

button {
	background-color: transparent;
	outline: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.row-table{
	display: table;
	width: 100%;
	> [class*='col-'] {
		display: table-cell;
		vertical-align: middle;
	}
}

//== FORMS
.input-group {
	.form-control {
		height: 55px;
		background-color: rgba(#000, 0.17);
		border: 0;
		padding: 14px 16px 14px 30px;
		border-radius: 100px;
		color: #B0B0B0;
		font-size: 22px;
		transition: background-color 0.2s ease;
		&:focus {
			color: #616161;
			background-color: #fff;
		}
		// &:valid + .input-group-btn .btn {
		// 	color: green;
		// }
	}
	.btn {
		background-color: $color-primary;
		border: 0;
		padding: 18px 30px;
		color: $color-text-primary;
		font-family: $Roboto;
		font-weight: 500;
		transition: background-color .2s ease;
		outline: none !important;
		&:hover {
			color: $color-text-primary;
			background-color: darken($color-primary, 10%);
		}
		&:active,
		&:focus {
			color: $color-text-primary;
			background-color: darken($color-primary, 10%);
			&:hover {
				color: $color-text-primary;
				background-color: darken($color-primary, 10%);
			}
		}
	}
}


.container{
	&.static{
		padding:20px 0 0 0;
		line-height: 24px;
		color:#DEDEDE;
	}
	.docs-iframe {
		position: fixed;
		top: 70px;
		left: 0;
		border: none;
		width: 100%;
		height: 100%;
	}
}

//== SECTIONS
section.section {

	.title,
	.subtitle {
		text-align: center;
		margin-bottom: 8px;
	}
	.subtitle {
		opacity: 0.7;
		font-weight: 400;
		font-size: 18px;
	}
	.title + .section-title-divider {
		margin-top: 28px;
	}
}
.section-title-divider {
	width: 54px;
	height: 2px;
	margin: auto;
	border-top: 2px solid $color-primary;
}


//== PARALLAX
#parallax {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 120vh;
	z-index: -1;
	overflow: hidden;
	pointer-events: none;
	> li {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-image: url(/images/landing/content/banner.jpg);
		background-position: 50% 50%;
		background-size: cover;
	}
}

// == SVG
.st0 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    enable-background: new;
}

.deviceScreen {
    opacity: 0.58;
    fill: #093454;
    stroke-miterlimit: 10;
    enable-background: new;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	h1,
	.main-title {
		font-size: 34px;
	}

	h2,
	.title {
		font-size: 30px;
	}

	h3,
	.sub-title {
		font-size: 20px;
	}

	h3.title{
		font-size: 22px;
	}

	section {
		&.section {
			.title {
				+ .section-title-divider {
					margin-top: 20px;
				}
			}
		}
	}
}


//======================= MEDIA QUERIES ==============================//

// medium
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// tablet
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// phone + tablet
@media (max-width: $screen-sm-max) {

}
// phone
@media (max-width: $screen-xs-max) {
	h2,
	.title {
		font-size: 17px;
	}

	h3.title{
		font-size: 17px;
	}

	section {
		&.section {
			.title{
				+ .section-title-divider{
					margin-top: 15px;
				}
			}
			.subtitle {
				font-size: 13px;
			}
		}
	}

	.section-title-divider{
		width: 25px;
	}
}