@import "vars";
@import "fonts";
@import "icons";
@import "normalize";
@import "common/icons";

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus,
button:hover,
button:active {
  outline: none !important;
}

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-text";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/opacity";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

@import "../../node_modules/angular-ui-switch/angular-ui-switch.min";
@import "./libraries/_bootstrap";
@import "./plugins/_bootstrap-tagsinput";
@import "./plugins/_jquery.tagit";
@import "./plugins/_jquery.tagsinput.min";
@import "./plugins/_monokai-sublime";
@import "./plugins/_swiper";

@import "mixins";
//@import "billings";
@import "normalize";
@import "GUI";
@import "common";
@import "utils";
@import "docs";
@import "scroller";
@import "loader";
@import "forms";
@import "pagination";
@import "../../src/app/pages/auth/auth";
@import "../../src/app/pages/faq/faq";
@import "../../src/app/pages/about/about";
@import "../../src/app/pages/resetPassword/resetPassword";
@import "../../src/app/layout/header";
@import "../../src/app/layout/footer";
@import "../../src/app/layout/header/header";
@import "../../src/app/pages/contacts/contacts";
@import "../../src/app/pages/home/layout/banner";
@import "../../src/app/pages/home/layout/benefits";
@import "../../src/app/pages/home/layout/code";
@import "../../src/app/pages/home/layout/developers";
@import "../../src/app/pages/home/layout/doc";
@import "../../src/app/pages/home/layout/features";
@import "../../src/app/pages/home/layout/footer";
@import "../../src/app/pages/home/layout/project";
@import "../../src/app/pages/home/layout/vision";
@import "../../src/app/pages/home/layout/techstars";
@import "../../src/app/pages/home/layout/app";
@import "../../src/app/pages/home/layout/rodin-home";
@import "../../src/app/pages/home/layout/know-js";
@import "../../src/app/pages/dashboard/dashboard";
@import "../../src/app/pages/project/project";
@import "../../src/app/pages/discover/discover";
@import "../../src/app/pages/store/store";
@import "../../src/app/pages/resetPassword/resetPassword";
@import "../../src/app/pages/samples/samples";
@import "../../src/app/pages/modules/modules";
@import "../app/pages/help-descs/question/question";
@import "ngWig";

.page-404{
  .main-container{
    .page-404-content{
      text-align: center;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      a.btn-app:hover {
        background: $color-primary;
        color: white;
      }
    ;
    }
    h1{
      font-size: 150px;
      line-height: .78;
      font-weight: 700;
      color: rgba($white, .2);
      margin: 0;
      margin-bottom: 40px;
    }
    h5{
      color: $white;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .btn-primary{
      height: 42px;
      padding: 12px;
      font-size: 12px;
    }
  }
}
