.rd-scroll::-webkit-scrollbar {
  width: 6px;
}

.rd-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: transparent;
  border-radius: 10px;
}

.rd-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(216, 216, 216, 0.3);
}