.store-page{
  h2{
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size:24px;
    color: #fff;
  }
  .module-wrapper{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //padding: 0;
    margin-bottom: 15px;
    //overflow:hidden;
    height:235px;
    &:hover{
      .module-content{
        &.short{
          opacity: 0;
          transition:all 0.3s ease;
        }
        &.long{
          opacity: 1;
          background: rgba(0, 0, 0, 0.9);
          transition:all 0.3s ease;
        }
      }
    }
    .module-content{
      padding: 5px 10px;
      position: absolute;
      width: 100%;
      transition:all 0.3s ease;
      cursor: pointer;
      &.short{
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
        top: calc(235px - 40px);
        padding-top: 10px;
        position: relative;
        height: 40px;
        .module-header{
          color: #fff;
          font-size: 15px;
        }
      }
      &.long{
        color:#fff;
        bottom:0;
        opacity: 0;
        height: 100%;
        .content-bottom{
          position: absolute;
          bottom: 0;
          width: calc(100% - 20px);
        }
        .module-title{
          font-size: 21px;
          font-weight: 700;
          margin: 0;
        }
      }
    }

  }
  .col-ro{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    &.md-2-5{
      width: 20%;
      float: left;
    }
  }
  .circle {
    background: transparent;
    color:rgba(255, 255, 255, 0.5);
    padding: 3px 7px;
    display: inline-block;
    border-radius: 50%;
    border:1px solid;
    &:hover{
      border:1px solid;
      border-color: #2b9af3;
      background: #2b9af3;
      color: rgba(0, 0, 0, 0.9);
    }
    &:last-of-type{
      margin-left: 5px;
    }
  }
  .oval{
    border: 1px solid;
    border-radius: 15px;
    border-color:#2b9af3;
    color:#2b9af3;
    padding:2px 10px;
  }
  .turn-blue{
    color:#2b9af3
  }
}
body{
  .store-popover{
    border: none;
    box-shadow: none;
    background: #2b9af3;
    color: #1e1e20;
    font-size: 16px;
    .arrow{
      &:after{
        border-top-color: #2b9af3 !important;
      }
    }
  }
}