body{
  &:not(.home){
    &.page-store {
      .main-container {
        padding-left: 150px;
        padding-right: 150px;
      }
      h2 {
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        color: #fff;
      }

    }
  }
}

.page-store{
  .module-wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //padding: 0;
    margin-bottom: 15px;
    //overflow:hidden;
    //height: 235px;
    &:hover {
      .module-content {
        &.short {
          opacity: 0;
          visibility: hidden;
          background: transparent;
          transition: all 0.3s ease;
        }
        &.long {
          opacity: 1;
          background: rgba(0, 0, 0, 0.9);
          transition: all 0.3s ease;
        }
      }
    }
    .module-content {
      padding: 20px;
      position: absolute;
      width: 100%;
      transition: all 0.3s ease;
      //cursor: pointer;
      &.short {
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
        //top: calc(235px - 40px);
        padding-top: 10px;
        position: absolute;
        height: 40px;
        visibility: visible;
        bottom: 0;
        .module-header {
          color: #fff;
          font-size: 15px;
        }
      }
      &.long {
        color: #fff;
        bottom: 0;
        opacity: 0;
        height: 100%;
        .content{
          overflow: hidden;
          max-height: 100px;
        }
        .content-bottom {
          position: absolute;
          bottom: 0;
          width: calc(100% - 40px);
        }
        .module-title {
          font-size: 21px;
          font-weight: 700;
          margin: 0;
        }
      }
    }

  }
  .col-ro {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    &.md-2-5 {
      width: 20%;
      float: left;
    }
  }
  .circle {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    padding: 3px 7px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    &.active,
    &:hover {
      border: 1px solid;
      border-color: #2b9af3;
      background: #2b9af3;
      color: rgba(0, 0, 0, 0.9);
    }
    &:last-of-type {
      margin-left: 5px;
    }
  }
  .oval {
    border: 1px solid;
    border-radius: 15px;
    border-color: #2b9af3;
    color: #2b9af3;
    padding: 2px 10px;
  }
  .turn-blue {
    color: #2b9af3
  }
}


@media (min-width: 992px) {
  .module-wrapper{
    .module-content{
      &.long{
        .content{
          font-size: 13px;
          max-height: 55px;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1449px) {
  .module-wrapper{
    .module-content{
      &.long{
        .content{
          font-size: 13px;
          max-height: 55px;
        }
      }
    }
  }
}

@media (min-width: 1450px) {
  .module-wrapper{
    .module-content{
      &.long{
        .content{
          font-size: 16px;
          max-height: 100px;
        }
      }
    }
  }
}


.store-page {

}

body {
  .store-popover {
    border: none;
    box-shadow: none;
    background: #2b9af3;
    color: #1e1e20;
    font-size: 16px;
    margin-top: -15px !important;
    .popover-content {
      padding: 6px 12px;
    }
    .arrow {
      &:after {
        border-top-color: #2b9af3 !important;
      }
    }
  }
}

.alert{
 &.alert-rodin{
   color: #ff9a2b;
   padding: 0;
   text-align: center;
   margin-top: 30px;
 }
}

*:focus,
*:hover{
  outline: none !important;
}