
.hidden {
  display: none !important;
}

p {
  margin: 0 0 10px;
}

.text-action,
.text-primary {
  font-size: 12px;
  line-height: 1.42;
}

.display-block {
  display: block !important;
}

.display-none,
.list-style-none li:before {
  display: none;
}

.publish-modal {
  .modal-content {
    max-width: 520px !important;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  //&.model-confirm {
  //  .modal-footer {
  //    padding-bottom: 35px;
  //  }
  //}
}

.modal-content {
  border-radius: 6px;
  padding: 20px;
  position: relative;
  background-color: $bg-primary;
  margin: auto;
  width: 80%;
  max-width: 410px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  //padding: 2px 0;
  background-color: $bg-primary;
  color: white;
  border: 0 !important;

  h2 {
    margin-top: 0px;
  }
  p {
    font-size: 18px !important;
    font-family: $RobotoCond;
    font-weight: 600;
    //opacity: 0.5;
  }
}

.modal-body {
  .modal-form {
    margin-top: 15px;
  }
  .text-highlight {
    color: $color-primary;
    font-weight: 600;
  }
  #scriptInput {
    width: 100% !important;
  }
  #projectUrl, #scriptInput {
    color: $color-primary;
    border: 2px solid rgba(0, 139, 242, 0.4);
    background-color: rgba(216, 216, 216, 0.09);
  }
  form {
    input {
       height: 54px;
       border: 2px solid rgba(0, 139, 242, 0.4);
       background-color: rgba(216, 216, 216, 0.09);
       border-radius: 4px;
       font-size: 16px;
       color: white;
       padding: 14px 20px;
    }
  }
  p.description {
    line-height: 24px;
    font-size: 14px !important;
    margin-top: 20px;
  }
  select {
    border: 2px solid rgba(0, 139, 242, 0.4);
    background-color: rgba(216, 216, 216, 0.09);
  }
  .select-group {
    color: white;
  }
  .confirm {
    font-size:14px !important;
    margin-top: 20px;
    margin-bottom: 0 !important;
  }
  //padding: 2px 0;
}

.modal-footer {
  //padding: 2px 0;
  background-color: $bg-primary;
  color: white;
  border: 0 !important;
  //padding-bottom: 40px;
  h3 {
    font-size: initial;
    margin: 10px 0;
  }

  .required-field-actions {
    //float: left;
    margin-top: 20px !important;
    .btn-negative {
      background: $color-text-gray !important;
      color: white;
      min-width: 100px;
      font-size: 14px;
      height: 30px !important;
      padding: 0px 30px;
      font-family: "Roboto", sans-serif;
      background: transparent;
      border: none !important;
      margin-right: 20px;
      &:hover {
        color: $color-text-primary;
        background-color: #bbbbbb !important;
        border: none;
      }
    }
    .btn-positive {
      background: #158def !important;
      color: white;
      font-size: 14px;
      min-width: 100px;
      height: 30px !important;
      padding: 0px 30px;
      font-family: "Roboto", sans-serif;
      border: none !important;
      margin-right: 20px;
      &:hover {
        color: $color-text-primary;
        background-color: #44a4f2 !important;
        border: none;
      }
      &:active {
        background-color: #158def !important;
      }
    }
    .btn-cancel {
      min-width: 100px;
      color: $color-text-secondary;
      border: 2px solid $color-text-gray;
      border-color: $color-text-gray;
      font-size: 14px;
      line-height: 26px !important;
      padding: 0px 28px;
      &:hover {
        color: $color-text-primary;
        border-color: $color-text-gray;
        background-color: #bbbbbb !important;
      }
    }
  }
}

.close {
  color: #fff;
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 35px;
  line-height: 18px;
  font-weight: 100;
  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

.clearfix {
  @include clearfix;
}

.main-table {
  tr {
    td.text-primary {
      width: 40%;
    }
  }
  &.table-secondary {
    tbody {
      > tr {
        transition: all .3s;
        &:first-child {
          > td {
            padding-top: 10px;
          }
        }
        &:hover {
          background-color: rgba($white, .02);
          .btn-table-popover {
            visibility: visible;
            opacity: 1;
          }
        }
        > td {
          border-bottom: 1px solid rgba($white, .1);
          position: relative;
          .more-link {
            color: #4A90E2;
            text-decoration: underline;
            transition: all .3s;
            &:hover {
              color: lighten(#4A90E2, 10%);
            }
          }
        }
      }
    }
  }
  tbody {
    > tr {
      position: relative;
      &:first-child {
        > td {
          padding-top: 0;
        }
      }
      > td {
        position: relative;
        border: none;
        color: $white;
        padding: 10px;
        //background-color: $colorBodyBg;
        &:first-child {
          color: $colorSemiWhite;
          padding-left: 0;
          width: 36%;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:after {
          content: "";
          width: 100%;
          height: 1px;
          border-bottom: 1px dotted rgba(255, 255, 255, .1);;
          position: absolute;
          bottom: 10px;
          left: 0;
        }
        span {
          //background-color: $colorBodyBg;
          position: relative;
          padding: 0 10px 0 0;
          z-index: 5;
        }
      }
    }
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-0-important {
  margin: 0 !important;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-20-important {
  padding-bottom: 20px !important;
}

.padding-bottom-40-important {
  padding-bottom: 40px !important;
}

.padding-0-important {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}