//
// Variables
// --------------------------------------------------


//== Colors
//
$bg-primary:                                          #09192E;
$color-primary:                                       #008BF2;
$color-icon-primary:                                  $color-primary;
$color-icon-secondary:                                #14273C;
$color-subTitileBg:                                   #07172A;
$color-text-gray:                                     #AAAAAA;
$color-text-primary:                                  #FFFFFF;
$color-text-secondary:                                #DEDEDE;
$color-bd:                                            $color-primary;
$color-bd-sec:                                        #054071;
$bg-secondary:                                        #0C1E33;
$bg-blue:                                             #0178D3;
$text-gray:                                           #A6A6A6;
$text-light-gray:                                     #DADADA;



//== Font
//

$fontBase:                                             16px;