<div class="page__wrapper">

	<div class="main-container projects-container">
		<h1 class="main-title inverse">
			Create Project
		</h1>
		<div class="page-content">
			<div class="section section-select-template">
				<h2 class="section-title">Select Templates</h2>
				<p class="text-small description">When you are creating new space you need to select Template</p>
				<ul class="select-template-list">
					<li ng-repeat="project in $ctrl.projectTemplates.projects"
								ng-class="{
									'select-empty-item': project.name === 'Empty Project',
									'selected-item': $ctrl.projectTemplates.selected === project
								}"
								ng-click="$ctrl.projectTemplates.selected = project">
						<a href="">
							<div class="select-item-img-wrapper">
								<div ng-show="project.thumbnail && project.thumbnail !== ''" class="select-item-img" style="background-image: url({{project.thumbnail}});">
									<img src="images/general/rodin-logo.svg" class="empty-item-img" width="90" alt="">
								</div>
								<div ng-hide="project.thumbnail && project.thumbnail !== ''" class="select-item-img" style="background-image: url(images/content/dashboard-content-img.jpg);">
									<img src="images/general/rodin-logo.svg" class="empty-item-img" width="90" alt="">
								</div>
								<h5 class="select-choose">Choose</h5>
							</div>
							<h5 ng-show="project.name !== 'Empty Project'" class="template-title">{{project.name}}</h5>
							<h5 ng-show="project.name === 'Empty Project'" class="empty-template-title">{{project.name}}</h5>
						</a>
					</li>
				</ul>
			</div>
			<div class="section section-template hidden">
				<h2 class="section-title">Used template</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="subsection-item empty-subsection-item">
							<div class="template-img-wrapper">
								<div class="template-img" style="background-image: url(images/content/dashboard-content-img.jpg);">
									<img src="images/general/rodin-logo.svg" class="empty-item-img" width="90" alt="">
								</div>
							</div>
							<div class="template-description">
								<h2>Empty Template</h2>
								<p class="text-small description">
									If you are in the market for a computer, there are a number of factors to consider
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section section-settings">
				<h2 class="section-title">Settings</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="form-wrapper">
							<div class="form-group fixed-placeholder-group is-focused">
								<input type="text" class="form-control" placeholder="typehereprojectname" value="" data-ng-model="$ctrl.project.name">
								<span class="text-primary fixed-placeholder">{{$ctrl.previewUrl+$ctrl.currentUser.username}}/</span>
								<label class="control-label float-label">Project Name</label>
							</div>
							<p class="text-small description">Is the name of your project, which will be displayed in the URL</p>
							<div class="form-group" custom-input>
								<input type="text" class="form-control" placeholder="" value="" data-ng-model="$ctrl.project.tags">
								<label class="control-label float-label">Meta Tags</label>
							</div>
							<p class="text-small description">Meta tags are a great way for webmasters to provide search engines with information about their
								sites.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section section-project-content last-section">
				<h2 class="section-title"> Content of the Project</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
							<a class="btn btn-large" data-edit="bold"><i class="icon-bold"></i></a>
						</div>
						<textarea data-ui-tinymce="$ctrl.tinymceOptions" id="project_description" data-ng-model="projectDescription"></textarea>
						<div class="btn-wrapper">
							<button type="button" data-ng-click="$ctrl.save()" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="loader" data-ng-if="$ctrl.showLoader"></div>

</div>