<div class="page__wrapper">
	<div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h3 class="title">SELECT TEMPLATE</h3>
                <p class="title-description">
                    When you are creating new space you need to select Template
                </p>
                <div class="main-form create-project">
                    <ul class="radio-list" ng-repeat="list in $ctrl.projectTemplates.projects">
                        <li  ng-repeat="project in list">
                            <div class="radio-wrapper" ng-click="$ctrl.projectTemplates.selected = project">
                                <label class="label-radio">
                                    <input type="radio" name="template">
                                    <span class="custom-radio" style="background-image: url({{project.thumbnail}});">
                                        <span>CHOOSE</span>
                                        <span class="custom-radio-hover-background"></span>
                                    </span>
                                    <span class="template-name">{{project.name}}</span>
                                    <br>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group"
                         data-ng-class="{'has-error': !$ctrl.project.displayName && $ctrl.displayNameFocused, 'has-success': $ctrl.project.displayName && $ctrl.displayNameFocused}">
                        <label for="name">
                            Project name
                            <!--<span ng-if="!$ctrl.project.displayName && $ctrl.displayNameFocused">required</span>-->
                        </label>
                        <input type="text"
                               class="form-control"
                               placeholder="Rodin VR awesome project"
                               value=""
                               ng-minlength="3"
                               ng-maxlength="64"
                               limit-to="64"
                               ng-click="$ctrl.displayNameFocused = true"
                               data-ng-model="$ctrl.project.displayName">
                    </div>
                    <div class="form-group"
                         data-ng-class="{'has-error': !$ctrl.project.name && $ctrl.projectFocused, 'has-success': $ctrl.project.name && $ctrl.projectFocused}">
                        <label for="url">Project url</label>
                        <div class="url-group">
                            <input type="text"
                                   class="form-control"
                                   placeholder="projectURL"
                                   value=""
                                   ng-minlength="3"
                                   ng-maxlength="16"
                                   limit-to="16"
                                   ng-click="$ctrl.projectFocused = true"
                                   data-ng-model="$ctrl.project.name">
                            <span class="main-placeholder">https://rodin.io/projects/nasoku/</span>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="url">Meta Tags</label>-->
                        <!--<tags-input style="height:100%; min-height:55px" max-length="32" min-length="3" class="form-control" ng-model="$ctrl.project.tags"></tags-input>-->
                        <!--<p class="form-description">Meta tags are a great way for webmasters to provide search engines with information about their sites</p>-->
                    <!--</div>-->
                    <div class="form-group"
                         data-ng-class="{'has-error': !$ctrl.projectDescription && $ctrl.projectDescriptionFocused, 'has-success': $ctrl.projectDescription && $ctrl.projectDescriptionFocused}"
                    >
                        <label for="area">Description</label>
                        <textarea
                                id="area"
                                ng-minlength="1"
                                limit-to="128" style="width:100%"
                                data-ng-model="projectDescription"
                                class="form-control area-control"
                                ng-click="$ctrl.projectDescriptionFocused = true"
                        ></textarea>
                        <span class="letter-quantity">
                            <span>{{128-projectDescription.length}}</span>/128
                        </span>
                    </div>
                    <div class="btn-wrapper" style="text-align: center">
                        <button type="submit" data-ng-click="$ctrl.save()" class="btn btn-default btn-submit">Save and Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" data-ng-if="$ctrl.showLoader"></div>
</div>


