.contacts-page {
  //.title-section {
  //  position: relative;
  //  h1.title {
  //    margin-top: 32px;
  //    display: block;
  //  }
  //  .line {
  //    border-bottom: 1px solid #008af1;
  //    width: 100%;
  //    position: absolute;
  //    left: 0;
  //    top: 114px;
  //  }
  //}
  .content-section {
    .col-md-12 {
      min-height: 123px;
      //margin-bottom: 0px;
    }
    margin-top: 75px;
    > div {
      > div {
        article {
          margin-bottom: 20px;
        }
        font-family: $Roboto;
        font-size: 14px;
        line-height: 18px;
        //margin-bottom: 20px;
        color: white;
      }
    }
    .social-list-contact {
      li {
        display: inline-block !important;
        a {
          color: #DEDEDE;
          cursor: pointer;
          &:not(:first-child) {
            margin-left: 20px !important;
          }
          &:hover {
            color: $color-primary !important;
          }
        }
      }
    }
    .cs-title {
      font-family: $RobotoCond;
      font-size: 24px;
      margin-bottom: 20px;
      color: white;
      line-height: normal;
    }
    .corp {
      font-family: $Roboto;
      font-weight: 600;
      margin-bottom: 0px !important;
    }
  }

}