.contacts-page {
  .content-section {
    .col-md-12 {
      min-height: 123px;
    }
    margin-top: 80px;
    > div {
      > div {
        article {
          margin-bottom: 20px;
        }
        font-family: $Roboto;
        font-size: 14px;
        line-height: 18px;
        color: white;
      }
    }
    .social-list-contact {
      li {
        display: inline-block !important;
        a {
          color: white !important;
          cursor: pointer;
          &:not(:first-child) {
            margin-left: 20px !important;
          }
          &:hover {
            color: $color-primary !important;
          }
        }
      }
    }
    .cs-title {
      font-family: $RobotoCond;
      font-size: 24px;
      margin-bottom: 22px;
      color: white;
    }
    .corp {
      font-family: $Roboto;
      font-weight: 600;
      margin-bottom: 0px !important;
    }
  }

}