$border-color:#026ec0;
body {
  &.about-us {
    background-attachment: fixed;
  }
}

.about-us {
  .centerize {
    margin: 0 auto;
  }
  .btn-wrapper{
    button{
      background: #081a30;
      color:#aaaaaa;
      &:hover{
        border-color: lighten(#008bf2, 5%);
        background-color: lighten(#008bf2, 5%);
        color: #fff;
      }
    }
  }
  div {
    &.main {
      background: url('../../../images/about/bg.jpg') no-repeat;
      h3 {
        font-family: "Roboto Condensed";
        font-size: 34px;
        color: #008af2;
        font-weight: bold;
        margin: 0;
        padding: 25px 0;
        text-transform: uppercase;
      }
    }
    &.info {
      p {
        &.intor-text {
          line-height: 32px;
          margin: 25px 0;
          padding: 0 200px;
        }
      }
      .info-row {
        border-top: 1px solid $border-color;
        .details{
          padding: 40px 15px;
        }
        & > .details{
          &:first-child{
            border-right: 1px solid $border-color;
          }
        }

        h5 {
          font-size: 24px;
          font-family: "Roboto Condensed";
          font-weight: bold;
          margin: 20px 0 10px;
        }
      }
    }
    &.team{
      &.overlay{
        background: rgba(0, 0, 0, 0.2);
      }
      h3{
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 34px;
        font-weight: bold;
        padding: 25px 0 15px;
      }
      .compress{
        padding: 10px 200px;
      }
      .no-margin{
        padding: 0 !important;
        margin-bottom: 3px;
      }
      .team-wrapper{
        //cursor: pointer;
        &:hover{
          .info{
            opacity: 1;
          }
        }
        .info{
          position: absolute;
          z-index: 10;
          bottom: 0;
          width: 100%;
          text-align: center;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
          transition: all 0.3s ease-in-out;
          opacity: 0;
          h5{
            font-weight: bold;
            font-size: 18px;
          }
          h6{
            text-transform: uppercase;
            color: #728aa8;
            font-weight: normal;
            font-size: 14px;
          }
        }
      }
    }
  }
}