a {
  cursor: pointer;
}
.voted {
  color: #C1C5CA !important;
}
.reply-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 1;
  &:hover {
    color: $gey-blue;
  }
}

.search-line {
  border: 1px solid rgba(170, 170, 170, .2);
  border-left-color: transparent;
  border-right-color: transparent;
}
.button-ask {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15.5px;
  float: right;
  margin-top: 6px;
  background: #045190;
  color: #DEDEDE;
  border: none;
  border-radius: 6px;
  &:hover {
    background: $color-primary;
    color: white;
  }
}
.single-tag-section {
  margin-bottom: 22px;
}

.tag-section {
  padding-top: 8px;
  .reply {
    li {
      border: none;
      a {
        color: $primary-color;
      }
      &:hover {
        color: $color-primary;
        background: none;
        border: none;
        a {
          text-decoration: underline;
          color: $gey-blue;
        }
      }
    }
  }
  ul {
    padding-left: 0px;
    display: inline-block;
    list-style-type: none;
    li {
      color: #AAAAAA;
      font-family: "Roboto", sans-serif;
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      margin-top: 8px;
      margin-right: 8px;
      a {
        border: 1px solid #4f5864;
        border-radius: 6px;
        padding: 6px 12px;
        color: #AAAAAA;
      }
      &:hover {
        a {
          background: #045190;
          border: 1px solid #045190;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.content {
  margin-top: 30px;
  margin-bottom: 15px;
  h2 {
    font-family: Roboto;
    font-weight: 300;
    color: #95989A;
  }
}

.message-section {
  padding-top: 15px;
  padding-bottom: 15px;
  .vote-panel {
    z-index: 1;
    text-align: center;
    list-style: none;
    position: absolute;
    right: 0;
    .reply {
      position: absolute;
      transform: translate(-11%, 200%);
    }
    span {
      cursor: pointer;
      color: #3A4758;
      font-size: 18px;
      padding: 5px;
      &:hover {
        color: #5F6977;
      }
      &:active {
        .count {
          color: #C1C5CA;
        }
        color: #C1C5CA;
      }
    }
    .count {
      cursor: pointer;
      color: #848C97;
      font-weight: 600;
      line-height: 1;
      font-family: $Roboto;
      font-size: 16px;
      &:active {
        color: #C1C5CA;
      }
    }
  }
  .answerer {
    max-width: 64px;
  }
  .profile-image {
    //max-width: 48px;
  }
  .text-section {
    .question-description {
      //margin-top: 30px;
      color: #DEDEDE;
      font-size: 16px;
    }
    .message-answer {
      min-height: auto !important;
    }
    .message-content {
      padding: 15px;
      .question-subject {
        p {
          font-size: 24px !important;
          font-weight: bold;
          word-break: break-all;
          a {
            word-break: break-all;
          }
        }
      }
    }
    small {
      margin-left: 18px;
      font-size: 12px;
      color: #575F6A;
    }
    p {
      color: #aaaaaa;
      display: inline-block;
      font-size: 18px;
      word-break: break-all;

      a {
        color: #DEDEDE;
        word-break: break-all;
        &:hover {
          color: white;
        }
      }
    }
    .message-background {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: .2;
      background: black;
    }
    .message {
      min-height: 120px;
      position: relative;
      .settings {
        margin-bottom: 10px;
        .settings-dropdown {
          background-color: #0C1F37 !important;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) !important;
          left: -127px;
          top: 29px;
          margin-top: 0;
          padding: 0 !important;
          width: 100% !important;
          line-height: normal !important;
          clear: both;
          li {
            cursor: pointer;
            padding: 10px;
            &:hover {
              background: #082542;
              a {
                color: white;
              }
            }
          }
          .settings-list {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          a {
            font-size: 15px !important;
            padding: 2px 8px !important;
            color: #B0B0B0;
          }
        }
        > a {
          color: #AAAAAA;
          position: relative;
          font-size: 21px;
          &:hover {
            &:after {
              content: '';
              display: block;
              width: 100%;
              background: #008BF2;
              height: 2px;
              position: absolute;
              bottom: -2px;
              right: 0px;
            }
          }
        }
      }
      p {
        margin-bottom: 0px;
        color: #DEDEDE;
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}

.post-answer {
  .has-error {
    .answer-wig {
      .ng-wig {
        border-color: rgba(255, 0, 0, 0.5) !important;
      }
      .wig-focused {
        border-color: #843534;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      }

    }

  }
}

.answer-question {
  margin-bottom: 30px;
  h3 {
    color: #AAAAAA;
    margin-bottom: 15px;
  }
  .question-type {
    color: #aaaaaa;
    font-size: 18px;
  }
  .question-section {
    width: 100%;
    border: 1px solid #045190;
    border-radius: 6px;
    min-height: 122px;
    height: 122px;
    background: #0F1F35;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    //resize: vertical;
    overflow: hidden;
    transition: height 100ms linear;
    box-sizing: border-box;
    resize: none;
    &::-webkit-input-placeholder {
      font-size: 16px;
      color: $placeholder-color;
    }
    &:focus {
      outline: none;
    }
  }
  .ask-form {
    .form-group {
      margin-top: 8px;
      margin-bottom: 8px !important;
    }
  }
  .answer-question-section {
    width: 100%;
    border: 1px solid #045190;
    border-radius: 6px;
    min-height: 100px;
    background: #0F1F35;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    resize: vertical;
    overflow: hidden;

    &::-webkit-input-placeholder {
      font-size: 16px;
      color: $placeholder-color;
    }
    &:focus {
      outline: none;
    }
  }
  .action-section {
    .btn-answer {
      margin-left: 30px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tag-selection {
    margin-top: 16px;
    .tags {
      width: 100% !important;
      box-shadow: none;
      border: 1px solid #045190;
      border-radius: 6px;
      min-height: 52px;
      background: #0F1F35;
      padding: 8px;
      color: #5C646F;
      font-size: 24px;
      resize: none;
      .input {
        height: 34px;
        background: transparent;
        border: none;
        margin: 0;
        color: white;
        font-size: 18px;
        font-family: $Roboto;
        &:focus {
          outline: none !important;
        }
        &::-webkit-input-placeholder {
          font-size: 16px;
          color: $placeholder-color;

        }

      }
      &::-webkit-input-placeholder {
        font-size: 16px;
        color: $placeholder-color;
      }

      .ui-select-match {
        position: absolute;
        top: -6px;
      }

      .tag-list {
        li {
          border: 1px solid #4f5864;
          border-radius: 6px;
          padding: 4px 12px;
          height: 34px;
          color: #AAAAAA;
          font-family: "Roboto", sans-serif;
          display: inline-block;
          margin-right: 6px;
          cursor: pointer;
          font-size: 14px;
          background: none;
          margin-top: 0;
          a {
            color: #AAAAAA;
          }
          &:hover {
            color: white;
            background: #045190;
            border: 1px solid #045190;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}