<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h1 class="title text-center">
                    <i class="icon icon-private"></i>
                    <span class="user-name">{{$ctrl.project.displayName || $ctrl.project.name}}</span></h1>
                <div class="main-form">
                    <div class="content-navbar">
                        <ul class="navbar-list">
                            <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                        </ul>
                    </div>
                    <form class="main-form" name="configs" method="post" action="" enctype="multipart/form-data"
                          id="configs">
                        <div class="section">
                            <h3 class="section-title">VIVE required fields</h3>

                            <div class="form-group" custom-input
                                 data-ng-class="{'has-error': configs.displayName.$invalid && configs.displayName.focused, 'has-success': configs.displayName.$valid && configs.displayName.focused}">
                                <label>
                                    Display name <span
                                        ng-if="configs.displayName.$invalid && configs.displayName.focused">is required</span>
                                </label>
                                <input type="text" class="form-control" placeholder=""
                                       data-ng-model="$ctrl.project.vive.name"
                                       name="displayName"
                                       required
                                       data-ng-disabled="$ctrl.isBuildInProcess"
                                       data-ng-focus="configs.displayName.focused = true">
                                <p class="form-description">App Name - Display name of your app</p>
                            </div>

                            <div class="form-group" custom-input
                                 data-ng-init="isVersionValid = true"
                                 data-ng-class="{'has-error': (configs.version.$invalid || !isVersionValid) && configs.version.focused, 'has-success': configs.version.$valid && isVersionValid && configs.version.focused}">
                                <label>
                                    Version <span
                                        ng-if="configs.version.$invalid && configs.version.focused && configs.version.$error.required">is required</span>
                                    <span ng-if="configs.version.$invalid && configs.version.focused && configs.version.$error.pattern">must be in x.x.x format</span>
                                    <span ng-if="!isVersionValid">must be higher than current. Current version is {{$ctrl.project.build.vive.version}}</span>
                                </label>
                                <input type="text" class="form-control" placeholder=""
                                       data-ng-model="$ctrl.project.vive.version"
                                       name="version"
                                       required
                                       data-ng-disabled="$ctrl.isBuildInProcess"
                                       ng-pattern="/^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/"
                                       data-ng-focus="configs.version.focused = true"
                                       data-ng-change="$ctrl.project.build.vive.version && (isVersionValid = $ctrl._checkVersion($ctrl.project.build.vive.version, $ctrl.project.vive.version))">
                                <p class="form-description">Version of your app</p>
                                <p class="form-description" ng-if="configs.version.error">
                                    The current version for this project is 3.1.2, please select a higher version for
                                    the new build.
                                </p>
                            </div>

                            <div>
                                <switch id="vivePortTrigger"
                                        data-name="enabled"
                                        data-ng-model="$ctrl.vivePortTrigger"
                                        class="blue"></switch>
                                <h5 class="switch-box-title">Viveport store build</h5>
                            </div>


                            <div class="" ng-if="$ctrl.vivePortTrigger" style="margin-top:10px">
                                <div class="form-group">
                                    <p class="form-description">
                                        Note. You won't be able to run store builds on your PC.
                                        This build will need to be uploaded to Viveport and after approval you will be able to run it from Viveport store.
                                    </p>
                                </div>
                                <div class="form-group" custom-input
                                     data-ng-class="{'has-error': configs.viveportId.$invalid && configs.viveportId.focused, 'has-success': configs.viveportId.$valid && configs.viveportId.focused}">
                                    <label>
                                        Viveport id <span
                                            ng-if="configs.viveportId.$invalid && configs.viveportId.focused">is required</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="$ctrl.project.vive.viveportId"
                                           name="viveportId"
                                           required
                                           data-ng-disabled="$ctrl.isBuildInProcess"
                                           data-ng-focus="configs.viveportId.focused = true">
                                    <p class="form-description">Viveport id</p>
                                </div>
                                <div class="form-group" custom-input
                                     data-ng-class="{'has-error': configs.viveportKey.$invalid && configs.viveportKey.focused, 'has-success': configs.viveportKey.$valid && configs.viveportKey.focused}">
                                    <label>
                                        Viveport key <span
                                            ng-if="configs.viveportKey.$invalid && configs.viveportKey.focused">is required</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="$ctrl.project.vive.viveportKey"
                                           name="viveportKey"
                                           required
                                           data-ng-disabled="$ctrl.isBuildInProcess"
                                           data-ng-focus="configs.viveportKey.focused = true">
                                    <p class="form-description">Viveport key</p>
                                </div>
                            </div>

                            <div class="btn-wrapper" style="text-align: center">
                                <button type="button" class="btn btn-default btn-submit"
                                        ng-click="$ctrl.build($event)"
                                        ng-disabled="!isVersionValid ||
                                        !configs.$valid ||
                                        ($ctrl.project.build.vive.requested && !$ctrl.project.build.vive.built)">
                                    Build
                                </button>
                            </div>
                        </div>
                    </form>

                    <form class="main-form" action="" ng-if="$ctrl.project.build.vive.requested">
                        <div class="section">
                            <div class="required-field-item">
                                <p data-ng-if="$ctrl.project.build.vive.built"
                                   class="description margin-top-40 text-white text-center">Package ready</p>
                                <div class="small-loader"
                                     data-ng-if="$ctrl.project.build.vive.requested && !$ctrl.project.build.vive.built">
                                    <div class="image"></div>
                                </div>
                                <div class="main-upload-area "
                                     data-ng-if="$ctrl.project.build.vive.built">
                                    <div class="download-build">
                                        <div class="dashed-bord">
                                            <img src="images/general/file_icon_placeholder.png" alt="" width="60"
                                                 class="uploaded-file-icon">
                                        </div>
                                        <div class="download" ng-click="$ctrl.download()">
                                            <span>Download</span>
                                        </div>
                                        <p class="description">Click to download</p>
                                    </div>
                                </div>
                                <p data-ng-if="!$ctrl.project.build.vive.built"
                                   class="description margin-top-20 text-white text-center">We are now building your
                                    installation
                                    package, the download link will appear here once done.</p>
                                <div class="required-field-actions text-center">
                                    <!--<button data-ng-if="$ctrl.project.build.vive.built"-->
                                    <!--type="button" class="btn btn-primary"-->
                                    <!--ng-click="$ctrl.download()">download-->
                                    <!--</button>-->
                                    <a data-ng-click="$ctrl.cancelBuild($event)"
                                       data-ng-if="!$ctrl.project.build.vive.built" class="btn btn-save">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal model-confirm publish-modal" close-modal="notPublished"
     ng-class="{'display-block': $ctrl.modals.notPublished, 'display-none': !$ctrl.modals.notPublished}">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>-->
            <p>Warning</p>
        </div>
        <div class="modal-body padding-0-important">
            <p class="description word-wrap">
                To build your project you need to publish it first.
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">

                    <button type="button" class="btn btn-positive"
                            ng-click="$ctrl.publishNbuild($event)">Publish & Build
                    </button>
                    <button type="button" class="btn btn-positive"
                            ng-click="$ctrl.gotToPublish()">Publish Project
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.notPublished = false">Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>