<div class="page__wrapper" ng-show="$ctrl.plan">
    <div class="container billing-section" style="margin-top: 30px !important;">
        <div class="col-md-offset-3 col-md-6">
            <p class="billing-section-title">Account Summary</p>
            <div class="col-md-12 billing-info" ng-show="$ctrl.plan">
                <div class="col-md-12 text-center">
                    <h1>{{$ctrl.plan.title}}</h1>
                    <p class="info" ng-bind-html="$ctrl.plan.description"></p>
                </div>
                <div class="col-md-12 plan-info">
                    <h6 class="what-you-get" style="margin-left: -5px;">You have these great features:</h6>
                    <div class="row">
                        <div class="col-md-3 info-items text-center" ng-repeat="info in $ctrl.plan.info">
                            <div class="plan-row">
                                <section>
                                    <p><strong ng-bind-html="info.traffic"></strong>{{info.value}}</p>
                                    <p class="small" ng-bind-html="info.desc"></p>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="text-center" style="margin-top: 15px;">
                        <button ui-sref="landing.plans" class="btn-answer">Get Large</button>
                    </div>
                </div>
            </div>

            <p class="billing-section-title" ng-show="$ctrl.customer.sources">Payment methods</p>
            <div class="col-md-12 billing-info" ng-if="$ctrl.customer.sources">
                <div class="row">
                    <div class="col-md-12 payment-methods">
                        <p class="section-desc">Credit or debit cards</p>
                        <div class="col-md-8">
                            <div class="row">
                                <p style="font-size: 14px;">Card will be charged monthly for resources used. <br>
                                    All major credit cards accepted.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <button ui-sref="app.upgrade-plans({update:true})" class="btn btn-positive">Change
                                    Credit Card
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 card-info">
                            <div class="col-md-10">
                                <div class="row">
                                    <p class="card-user">
                                        <strong>{{$ctrl.customer.sources.data["0"].name}}
                                            XXXX-{{$ctrl.customer.sources.data["0"].last4}}</strong> <br>
                                        <span>Expires {{$ctrl.customer.sources.data["0"].exp_month}} / {{$ctrl.customer.sources.data["0"].exp_year}} | Added on {{$ctrl.customer.created * 1000| date:'dd/MM/yy'}}</span>
                                    </p>
                                </div>
                            </div>
                            <!--<div class="col-md-2">-->
                            <!--<div class="row pull-right">-->
                            <!--<i class="fa fa-window-close" style="font-size: 20px" aria-hidden="true"></i>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-12 billing-info">-->
            <!--<div class="row">-->
            <!--<div class="col-md-12 payment-methods">-->
            <!--<p class="section-desc">Promo code</p>-->
            <!--<div class="col-md-12">-->
            <!--<div class="row">-->
            <!--<p>The promo code <span style="color: #008AF2;">#$%^&*(*&^%$#@</span> for $250000 was applied to your account. <br>-->

            <!--if you have a prmo code, pleace enter it below to recieve your credit.</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
            <!--<div class="row">-->
            <!--<form class="main-form">-->
            <!--<div class="form-group" style="margin-bottom: 0px !important;">-->
            <!--<input type="text" class="form-control">-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--<div class="row">-->
            <!--<button class="button-ask">Apply code</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <p class="billing-section-title" style="margin-bottom: 15px;">Billing history</p>
            <div class="col-md-12">
                <div class="row">
                    <table class="table table-billing" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="col-md-3">Date</th>
                            <th class="col-md-8">Description</th>
                            <th class="col-md-1">Amount</th>
                        </tr>
                        </thead>
                        <tbody ng-if="$ctrl.billingHistory.data" ng-repeat="billing in $ctrl.billingHistory.data">
                        <tr>
                            <td>{{billing.created * 1000 | date:'mediumDate'}}</td>
                            <td>Invoice for {{billing.created * 1000| date:'MMMM y'}}</td>
                            <td>{{billing.amount / 100 | currency}}</td>
                        </tr>
                        <tr ng-if="billing.refunded" ng-repeat="refund in billing.refunds.data">
                            <td>{{refund.created * 1000 | date:'mediumDate'}}</td>
                            <td>Refunded / Reason <span style="color: #008BF2;">{{refund.reason}}</span></td>
                            <td>{{refund.amount / 100 | currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-if="!$ctrl.billingHistory.data" class="text-center">You don`t have any billings</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="loaderContent" data-ng-if="$ctrl.showLoader">
    <div class="spriteLoader"></div>
</div>