<div class="container-fluid">
    <div class="row">
        <div class="search-line">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="header-search-box">
                                <form action="">
                                    <div class="form-group search">
                                        <input type="search" class="header-search" ng-model="$ctrl.searchField"
                                               placeholder="Search">
                                        <button type="submit" class="btn-search" ng-click="$ctrl.search($event)">
                                            <i class="rd rd-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <button class="button-ask" ng-click="$ctrl.goToPage()">
                                {{$ctrl.config.buttonText}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-if="!$ctrl.creationPage && !$ctrl.editPage">
            <div class="col-md-12">
                <div class="tag-section">
                    <ul>
                        <li ng-repeat="tag in $ctrl.tags"><a ng-click="$ctrl.filterByTag(tag.name)"> {{tag.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <!--<h2>{{$ctrl.config.title}}</h2>-->
                </div>
            </div>
            <div class="col-md-12 message-section">
                <div class="row">
                    <div class="col-md-1">
                        <img class="img-circle img-responsive answerer" src="/images/question/incognito.png"
                             alt="">
                    </div>
                    <div class="col-md-11 text-section">
                        <p>{{$ctrl.question.user.firstName}}</p>
                        <small>{{$ctrl.question.createdAt | date:'medium'}}</small>
                        <div class="col-md-12 message">
                            <div class="message-background"></div>
                            <div class="row message-content">
                                <section class="col-md-11">
                                    <div class="row question-subject">
                                        <p>{{$ctrl.question.subject}}</p>
                                    </div>
                                </section>
                                <section class="col-md-1">
                                    <div class="row">
                                        <ul class="vote-panel">
                                            <li class="settings" ng-if="$ctrl.isEditable" uib-dropdown>
                                                    <a class="" id="settings"   uib-dropdown-toggle>
                                                        <i class="icon icon-settings more-settings"></i>
                                                    </a>
                                                    <ul class="dropdown-menu settings-dropdown" uib-dropdown-menu>
                                                        <ul class="settings-list">
                                                            <li ng-click="$ctrl.switchToEdit()"><a >Edit</a></li>
                                                            <li ng-click="$ctrl.open('remove')"><a >Remove</a></li>
                                                        </ul>
                                                    </ul>
                                            </li>
                                            <li ng-click="$ctrl.vote($ctrl.question.id, 1, index)"
                                                disabled="{{inProgress}}">
                                                <span class="icon-vote-up"></span></li>
                                            <li class="count">{{$ctrl.question.rating}}</li>
                                            <li ng-click="$ctrl.vote($ctrl.question.id, -1, index)"
                                                disabled="{{inProgress}}">
                                                <span class="icon-vote-down"></span></li>
                                        </ul>

                                    </div>

                                </section>

                                <div class="tag-section single-tag-section col-md-12" ng-if="$ctrl.question.tags.length > 0">
                                    <div class="row">
                                        <ul>
                                            <li ng-repeat="tag in $ctrl.question.tags"><a
                                                    ng-click="$ctrl.filterByTag(tag)"> {{tag}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 question-description">
                                    <div class="row answer-area">
                                        <ng-wig  style="width: 100px;" ng-model="$ctrl.question.preview" ng-disabled="true"></ng-wig>

                                        <!--{{$ctrl.question.preview}}-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="message in $ctrl.question.threads" class="col-md-12 message-section">
                <div class="row">
                    <div class="col-md-1">
                        <div class="row">
                            <img class="img-circle img-responsive profile-image pull-right" src="/images/question/incognito.png"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-md-11 text-section">
                        <p>{{message.createdBy.firstName}}</p>
                        <small>{{message.createdAt | date:'medium'}}</small>
                        <div class="col-md-12 message message-answer">
                            <div class="message-background"></div>
                            <div class="row message-content">
                                <section class="col-md-11">
                                    <div class="row">
                                        <ng-wig style="width: 100px;"   style="width: 100px;" data-ng-disabled="true" ng-model="message.body"></ng-wig>
                                        <!--<p>{{message.body}}</p>-->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 answer-question">
                <h3>Your Answer</h3>
                <div class="col-md-1">
                    <div class="row">
                        <img class="img-circle img-responsive profile-image" src="/images/question/incognito.png"
                             alt="">
                    </div>
                </div>
                <div class="col-md-11">
                    <form novalidate name="answerForm" class="main-form post-answer">
                        <div class="row question-area" ng-class="{'has-error': answerForm.answer.$viewValue.length === 0 && answerForm.submitted}">
                            <ng-wig placeholder="Type your answer here..." ng-model="$ctrl.answer" name="answer" class="answer-wig" ng-class="{'wig-focused':answerForm.answer.focused}" required></ng-wig>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 action-section text-center">
                    <a class="btn-back"  ng-click="$ctrl.goBack()">Back</a>
                    <button class="btn-answer" ng-click="$ctrl.submitAnswer(); answerForm.submitted = true">{{$ctrl.currentUser ? 'Post':'Sign in and post'}}</button>
                </div>
            </div>
        </div>
        <div class="container" ng-if="$ctrl.creationPage">
            <div class="col-md-12 answer-question">
                <div class="content" style="margin-bottom: 30px;">
                    <h2>{{$ctrl.config.title}}</h2>
                </div>
                <div class="col-md-1">
                    <img class="img-circle img-responsive" src="/images/question/incognito.png"
                         alt="">
                </div>
                <div class="col-md-11">
                    <p class="question-type">{{$ctrl.config.type}}</p>
                    <form class="ask-form main-form" name="createQuestion" novalidate>
                        <div class="form-group" data-ng-class="{
                         'has-error': (createQuestion | supportFormsValidator:'subject')  == 'invalid',
                         'has-success': (createQuestion | supportFormsValidator:'subject')  == 'valid',
                         }">
                            <textarea rows="4"
                                      name="subject" required ng-minlength="3" class="question-section form-control" ng-model="$ctrl.post.subject"
                                      data-ng-focus="createQuestion.subject.focused = true"
                                      placeholder="{{$ctrl.config.placeholder}}"></textarea>
                        </div>
                        <div class="form-group question-area">
                                <ng-wig ng-model="$ctrl.post.preview" placeholder="Fill in the details..."></ng-wig>
                        </div>
                        <div class="col-md-12 tag-selection">
                            <div class="row">
                                <p class="question-type">Tags</p>
                                <tags-input ng-model="$ctrl.selectedTags" placeholder="Enter tags...">
                                </tags-input>
                            </div>
                        </div>
                        <div class="col-md-12 action-section text-center">
                            <a class="btn-back" ui-sref="{{'landing.' + $ctrl.type.slice(0, -1)}}">Back</a>
                            <button class="btn-answer" ng-click="$ctrl.askQuestion(createQuestion)">{{$ctrl.currentUser ? 'Post':'Sign in and post'}}
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="container" ng-if="$ctrl.editPage">
            <div class="col-md-12 answer-question">
                <div class="content" style="margin-bottom: 30px;">
                    <h2>{{$ctrl.config.title}}</h2>
                </div>
                <div class="col-md-1">
                    <img class="img-circle img-responsive" src="/images/question/incognito.png"
                         alt="">
                </div>
                <div class="col-md-11">
                    <p class="question-type">{{$ctrl.config.type}}</p>
                    <form name="updateQuestion" class="ask-form main-form" novalidate>
                        <div class="form-group" data-ng-class="{
                         'has-error': (updateQuestion | supportFormsValidator:'subject')  == 'invalid',
                         'has-success': (updateQuestion | supportFormsValidator:'subject')  == 'valid',
                         }">
                            <textarea required ng-minlength="3" rows="4"
                                      name="subject" class="question-section form-control"
                                      data-ng-change="$ctrl.updateSubject($ctrl.question.subject)"
                                      ng-model="$ctrl.question.subject"
                                      data-ng-focus="updateQuestion.subject.focused = true"
                                      placeholder="{{$ctrl.config.placeholder}}"></textarea>
                        </div>
                        <div class="form-group question-area">
                            <ng-wig ng-model="$ctrl.question.preview" placeholder="Fill in the details..."></ng-wig>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-1 col-md-11 tag-selection">
                    <p class="question-type">Tags</p>
                    <tags-input ng-model="$ctrl.question.tags"
                                on-tag-adding="$ctrl.onAddTags($tag)"
                                on-tag-removed="$ctrl.onRemoveTag($tag)"
                                placeholder="Enter tags...">
                    </tags-input>
                </div>
                <div class="col-md-12 action-section text-center">
                    <a class="btn-back" ui-sref="{{'landing.' + $ctrl.type.slice(0, -1)}}">Back</a>
                    <button class="btn-answer" ng-click="$ctrl.updateQuestion()">Update</button>
                </div>

            </div>
        </div>
    </div>
    <div class="loaderContent" data-ng-if="$ctrl.showLoader">
        <div class="spriteLoader"></div>
    </div>
</div>

<div class="modal" close-modal="remove"
     ng-class="{'display-block': $ctrl.modals.remove, 'display-none': !$ctrl.modals.remove}">
    <div class="modal-content">
        <div class="modal-header">
            <p style="color: #aaaaaa;font-size: 16px;">Remove Question</p>
        </div>
        <div class="modal-body">
            <p style="color: #aaaaaa;font-size: 14px;">Are you sure you want to remove this conversation ?</p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">
                    <button type="button" class="btn btn-positive"
                            data-ng-click="$ctrl.deleteQuestion()">Remove
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.remove = false">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>