<div class="container-fluid">
    <div class="row">
        <div class="search-line">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="header-search-box">
                                <form action="">
                                    <div class="form-group search">
                                        <input type="search" class="header-search" ng-model="$ctrl.searchField"
                                               placeholder="Search">
                                        <button type="submit" class="btn-search" ng-click="$ctrl.search($event)">
                                            <i class="rd rd-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <button class="button-ask" ng-click="$ctrl.goToPage()">
                                {{$ctrl.config.buttonText}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-if="!$ctrl.creationPage">
            <div class="col-md-12">
                <div class="tag-section">
                    <ul>
                        <li ng-repeat="tag in $ctrl.tags"><a ng-click="$ctrl.filterByTag(tag.name)"> {{tag.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <!--<h2>{{$ctrl.config.title}}</h2>-->
                </div>
            </div>
            <div class="col-md-12 message-section">
                <div class="row">
                    <div class="col-md-1">
                        <img class="img-circle img-responsive answerer" src="/images/question/incognito.png"
                             alt="">
                    </div>
                    <div class="col-md-11 text-section">
                        <p>{{$ctrl.question.user.firstName}}</p>
                        <small>{{$ctrl.question.createdAt | date:'medium'}}</small>
                        <div class="col-md-12 message">
                            <div class="message-background"></div>
                            <div class="row message-content">
                                <section class="col-md-11">
                                    <div class="row question-subject">
                                        <p>{{$ctrl.question.subject}}</p>
                                    </div>
                                </section>
                                <!--<section class="col-md-1">-->
                                    <!--<div class="row">-->
                                        <!--<ul class="vote-panel">-->
                                            <!--<li ng-click="$ctrl.vote($ctrl.question.id, 1, index)"-->
                                                <!--disabled="{{inProgress}}">-->
                                                <!--<span class="icon-vote-up"></span></li>-->
                                            <!--<li class="count">{{$ctrl.question.rating}}</li>-->
                                            <!--<li ng-click="$ctrl.vote($ctrl.question.id, -1, index)"-->
                                                <!--disabled="{{inProgress}}">-->
                                                <!--<span class="icon-vote-down"></span></li>-->
                                        <!--</ul>-->

                                    <!--</div>-->

                                <!--</section>-->

                                <div class="tag-section single-tag-section col-md-12" ng-if="$ctrl.question.tags.length > 0">
                                    <div class="row">
                                        <ul>
                                            <li ng-repeat="tag in $ctrl.question.tags"><a
                                                    ng-click="$ctrl.filterByTag(tag)"> {{tag}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 question-description">
                                    <div class="row answer-area">
                                        <ng-wig ng-model="$ctrl.question.preview" ng-disabled="true"></ng-wig>

                                        <!--{{$ctrl.question.preview}}-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="message in $ctrl.question.threads" class="col-md-12 message-section">
                <div class="row">
                    <div class="col-md-1">
                        <div class="row">
                            <img class="img-circle img-responsive profile-image pull-right" src="/images/question/incognito.png"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-md-11 text-section">
                        <p>{{message.createdBy.firstName}}</p>
                        <small>{{message.createdAt | date:'medium'}}</small>
                        <div class="col-md-12 message">
                            <div class="message-background"></div>
                            <div class="row message-content">
                                <section class="col-md-11">
                                    <div class="row">
                                        <ng-wig data-ng-disabled="true" ng-model="message.body"></ng-wig>
                                        <!--<p>{{message.body}}</p>-->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 answer-question">
                <h3>Your Answer</h3>
                <div class="col-md-1">
                    <div class="row">
                        <img class="img-circle img-responsive profile-image" src="/images/question/incognito.png"
                             alt="">
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="row question-area" >
                        <ng-wig placeholder="Type your answer here..." ng-model="$ctrl.answer"></ng-wig>
                        <!--<textarea rows="2" cols="2"-->
                                  <!--class="answer-question-section"-->
                                  <!--ng-model="$ctrl.answer"-->
                                  <!--placeholder="Type your answer here..."-->
                                  <!--ng-keyup="$ctrl.autoResize($event)"></textarea>-->
                    </div>
                </div>
                <div class="col-md-12 action-section text-center">
                    <a class="btn-back"  ng-click="$ctrl.goBack()">Back</a>
                    <button class="btn-answer" ng-click="$ctrl.submitAnswer()">{{$ctrl.currentUser ? 'Post':'Sing in and post'}}</button>
                </div>
            </div>
        </div>
        <div class="container" ng-if="$ctrl.creationPage">
            <div class="col-md-12 answer-question">
                <div class="content" style="margin-bottom: 30px;">
                    <h2>{{$ctrl.config.title}}</h2>
                </div>
                <div class="col-md-1">
                    <img class="img-circle img-responsive" src="/images/question/incognito.png"
                         alt="">
                </div>
                <div class="col-md-11">
                    <p class="question-type">{{$ctrl.config.type}}</p>
                    <form ng-submit="askQuestion()" class="ask-form">
                        <div class="form-group">
                            <textarea rows="4" class="question-section" ng-model="$ctrl.post.subject" ng-keyup="$ctrl.autoResize($event)"
                                      placeholder="{{$ctrl.config.placeholder}}"></textarea>
                        </div>
                        <div class="form-group question-area">
                            <ng-wig ng-model="$ctrl.post.description" placeholder="Fill in the details..."></ng-wig>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-1 col-md-11 tag-selection">
                    <p class="question-type">Tags</p>
                    <tags-input ng-model="$ctrl.selectedTags" placeholder="Enter tags...">
                    </tags-input>
                </div>
                <div class="col-md-12 action-section text-center">
                    <a class="btn-back" ui-sref="{{'landing.' + $ctrl.type.slice(0, -1)}}">Back</a>
                    <button class="btn-answer" ng-click="$ctrl.submitAnswer()">{{$ctrl.currentUser ? 'Post':'Sing in and post'}}
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="loaderContent" data-ng-if="$ctrl.showLoader">
        <div class="spriteLoader"></div>
    </div>
</div>
