.content-pages {
  .tutorial {
    .page {
      font-family: $Roboto;
      margin-top: 40px;
      .rd-tree {
        .nav-list {
          margin-top: 5px;
          li {
            &.labeled {
              ul {
                margin-top: 9px;
              }
              margin-bottom: 9px;
            }
            label {
              font-weight: 400;
              color: $color-primary;
              font-size:18px;
              font-family: $RobotoCond;
            }
            a {
              cursor: pointer;
              font-size: 14px;
              padding: 0px 0px 6px 15px;
              line-height: 18px;
              color: $color-text-secondary;
              font-family: $Roboto;
            }
          }
        }
      }
      .tutorial-section {
        .tutorial-content {
          code.common {
            color: #008BF2;
          }
          margin-bottom: 20px;
          h1 {
            margin-top: 0px;
            font-family: $Roboto;
            font-size: 34px;
            color: $color-primary;
          }
          article {
            p.code-box-title {
              font-size:13px;
              color: $color-text-gray;
            }
            p {
              margin: 0px;
              font-size: 16px;
              line-height: 36px;
            }
            .indent {
              padding-left: 40px;
            }
            span.block {
              display: block;
            }
            margin-top: 15px;
            font-size: 16px;
            line-height: 28px;
            color: #ffffff;
            .section-footer p {
              font-size: 14px;
              color: #808080;
              text-align: right;
            }
          }
        }
        &:before {
          content: "";
          border-right: 1px #008BF2 solid;
          opacity: 0.5;
          position: absolute;
          height: 100%;
          left: -30px;
        }
      }
    }
  }
}

.color-box {
  position: absolute;
  right: 30px;
  display: inline-block;
  bottom: 168px;
  li {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: inline-block;
    &:nth-child(1) {
      margin-right: 5px;
      background: #F79803;
    }
    &:nth-child(2) {
      margin-right: 5px;
      background: #008BF2;
    }
    &:nth-child(3) {
      background: #04A900;
    }
  }
}
.tutorial {
  span.andor {
    color: #70ad47;
  }
  span.left-margin {
    margin-left: 20px;
  }
  background: #dedede;
  border-radius: 6px;
  color: black !important;
  padding: 60px;
  font-family: $Roboto !important;
  p.console {
    margin-bottom: 0px;
    span {
      color: #4c555a;
      font-family: monospace;
      font-size: 12px;
    }
  }
  h1 {
    font-family: $Roboto !important;
    span {
      font-weight: 400 !important;
      font-size: 24px !important;
      line-height: 32px !important;
      color: #4c555a !important;
    }
  }
  p.Code {
    font-family: $Roboto !important;
    font-size: 14px !important;
    span {
      //box-sizing: border-box;
      //display: inline-block;
      padding: 2px;
      background: #ccc;
      border: 1px solid #c3c3c3;
      border-radius: 4px;
      color: #b93d6a !important;
      font-family: Source Code Pro, Menlo, monospace;
      font-size: 13px;
      line-height: 20px;
    } ;
  }
  .CodeChar {
    padding: 2px;
    background: #ccc;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    color: #b93d6a !important;
    font-family: Source Code Pro, Menlo, monospace;
    font-size: 13px;
    line-height: 20px;
    margin-right: 5px;
  }
  p {
    span {
      line-height: 1.6;
    }
    line-height: 1.6;
    font-size: 15px;
    font-family: $Roboto;
    color: #4c555a !important;
  }
  p.MsoQuote, li.MsoQuote, div.MsoQuote {
    mso-style-priority: 29;
    mso-style-unhide: no;
    mso-style-qformat: yes;
    mso-style-link: "Quote Char";
    mso-style-next: Normal;
    margin-top: 10.0pt;
    margin-right: 43.2pt;
    margin-bottom: 8.0pt;
    margin-left: 43.2pt;
    text-align: center;
    line-height: 107%;
    mso-pagination: widow-orphan;
    font-size: 11.0pt;
    font-family: "Calibri", sans-serif;
    mso-ascii-font-family: Calibri;
    mso-ascii-theme-font: minor-latin;
    mso-fareast-font-family: Calibri;
    mso-fareast-theme-font: minor-latin;
    mso-hansi-font-family: Calibri;
    mso-hansi-theme-font: minor-latin;
    mso-bidi-font-family: "Times New Roman";
    mso-bidi-theme-font: minor-bidi;
    color: #404040;
    mso-themecolor: text1;
    mso-themetint: 191;
    mso-fareast-language: EN-US;
    font-style: italic;
  }
  .code-section {
    padding: 2px;
    background: #ccc;
    border: 1px solid #c3c3c3 !important;
    border-radius: 4px;
    color: #b93d6a !important;
    font-family: Source Code Pro, Menlo, monospace;
    font-size: 13px;
    line-height: 20px;
  }
}