<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h1 class="title text-center">
                    <i style="margin-right:5px"
                       ng-class="{
                                        'icon-private' : (!$ctrl.project.public || $ctrl.project.public == 'false'),
                                        'icon-globe' : ($ctrl.project.public && $ctrl.project.public == 'true'),
                                    }"
                       class="icon" aria-hidden="true"></i>
                    <span class="user-name">{{$ctrl.project.displayName || $ctrl.project.name}}</span></h1>
                <div class="main-form">
                    <form name="configs" novalidate enctype="multipart/form-data" id="configs" method="post"
                          class="main-form">
                        <div class="content-navbar">
                            <ul class="navbar-list">
                                <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                            </ul>
                        </div>

                        <div class="section">
                            <div class="required-field-item">

                                <div class="form-group" custom-input
                                     data-ng-class="{
                                        'has-error': (configs | PFValidator:'displayName')  == 'invalid',
                                        'has-success':(configs | PFValidator:'displayName')  == 'valid'}
                                ">
                                    <label class="control-label float-label">
                                        App Name<sub>*</sub>
                                    </label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="$ctrl.project.android.name"
                                           name="displayName"
                                           required
                                           data-ng-keyup="configs.displayName.pressed = true"
                                           data-ng-focus="configs.displayName.focused = true">
                                    <div class="validation error"
                                         ng-if="(configs | PFValidator:'displayName')  == 'invalid'">
                                        App name is required
                                    </div>

                                </div>

                                <div class="form-group" custom-input data-ng-init="isVersionValid = true"
                                     data-ng-class="{
                                     'has-error': (configs | PFValidator:'version')  == 'invalid' || !isVersionValid,
                                     'has-success': (configs | PFValidator:'version')  == 'valid' &&  isVersionValid
                                     }">
                                    <label class="control-label float-label">
                                        Version<sub>*</sub>
                                    </label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="$ctrl.project.android.version"
                                           name="version"
                                           required
                                           ng-pattern="/^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/"
                                           data-ng-keyup="configs.version.pressed = true"
                                           data-ng-focus="configs.version.focused = true"
                                           data-ng-change="$ctrl.project.build.android.version && (isVersionValid = $ctrl._checkVersion($ctrl.project.build.android.version, $ctrl.project.android.version))">
                                    <div class="validation error"
                                         ng-if="(configs | PFValidator:'version')  == 'invalid' && configs.version.$error.pattern  ? 'error' : ''">
                                        Version must be in #.#.# format
                                    </div>
                                    <div class="validation error"
                                         ng-if="((configs | PFValidator:'version')  == 'invalid' || !isVersionValid) && (!configs.version.$viewValue || configs.version.$viewValue.length <= 0)">
                                        Version is required
                                    </div>
                                    <div class="validation error" ng-if="!isVersionValid && configs.version.$valid">
                                        Version must be higher than current. Current version is
                                        {{$ctrl.project.build.android.version}}
                                    </div>
                                </div>

                                <div class="form-group" custom-input
                                     data-ng-class="{
                                     'has-error': (configs | PFValidator:'package')  == 'invalid',
                                     'has-success': (configs | PFValidator:'package')  == 'valid'
                                     }">
                                    <label class="control-label float-label">
                                        Package<sub>*</sub>
                                    </label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="$ctrl.project.android.package"
                                           name="package"
                                           required
                                           ng-pattern="/^(0|[a-zA-Z0-9]\w*)\.(0|[a-zA-Z0-9]\w*)\.(0|[a-zA-Z0-9]\w*)$/"
                                           data-ng-keyup="configs.package.pressed = true"
                                           data-ng-focus="configs.package.focused = true">
                                    <div class="validation error"
                                         ng-if="(configs | PFValidator:'package')  == 'invalid'">
                                        Must be in xxx.xxx.xxx format.
                                        Used for uniquely identifying your application in the operation system
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom:0 !important;">
                                    <div class="drag-cont text-center" style="margin-top:10px"
                                         data-ng-class="{
                                         'has-error': configs.$submitted && !$ctrl.files.icon.name,
                                         'has-success': configs.$submitted && $ctrl.files.icon.name
                                         }">
                                        <div class="drag-item first text-center">
                                            <label class="control-label float-label">App Icon<sub>*</sub></label>
                                            <div class="drag-area first">
                                                <div style="cursor: pointer" class="center-row"
                                                     onclick="document.querySelector('#icon-file').click()">
                                                    <span ng-if="$ctrl.files.icon.name == ''"
                                                          class="">.png</span>
                                                    <img width="166" height="166" ng-src="{{$ctrl.files.icon.src}}"
                                                         ng-if="$ctrl.files.icon.name !== ''" alt="">
                                                </div>
                                                <p class="drag-instruct">
                                                    <input type="file"
                                                           class="hidden"
                                                           id="icon-file"
                                                           name="icon-h"
                                                           accept="image/png"
                                                           onchange="angular.element(this).scope().$ctrl.changeIcon(event)" required>
                                                </p>
                                                <div class="drag-item-again"
                                                     onclick="document.querySelector('#icon-file').click()"
                                                     ng-show="$ctrl.files.icon.name !== ''">
                                                    <div class="drag-board"></div>
                                                    <span>Tap To Replace</span>
                                                </div>
                                            </div>
                                            <h5 class="section-small-title text-center">We recomended a 1024x1024 size
                                                image</h5>
                                        </div>
                                        <div class="drag-item hidden">
                                            <h5 class="section-small-title">Favicon</h5>
                                            <p class="text-small description">upload .png 1024x1024</p>
                                            <div class="drag-area first">
                                                <div class="center-row">
                                                    <i class="icon icon-invalid"></i>
                                                </div>
                                                <p class="drag-instruct">To try <span>Again</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">

                            <div class="form-group" custom-input
                                 data-ng-class="{
                                 'has-error': (configs | PFValidator:'KSName')  == 'invalid',
                                 'has-success': (configs | PFValidator:'KSName')  == 'valid'
                                 }">
                                <label class="control-label float-label">
                                    Name<sub>*</sub>
                                </label>
                                <input type="text" class="form-control" placeholder=""
                                       data-ng-model="$ctrl.project.android.keyStore.name"
                                       name="KSName"
                                       required
                                       data-ng-focus="configs.KSName.focused = true"
                                       data-ng-keyup="configs.KSName.pressed = true">
                                <div class="validation error" ng-if="(configs | PFValidator:'KSName')  == 'invalid'">
                                    Name is required
                                </div>
                            </div>

                            <div class="form-group" custom-input
                                 data-ng-class="{
                                 'has-error': (configs | PFValidator:'KSAlias')  == 'invalid',
                                 'has-success': (configs | PFValidator:'KSAlias')  == 'valid'
                                 }">
                                <label class="control-label float-label">
                                    Alias<sub>*</sub>
                                </label>
                                <input type="text" class="form-control" placeholder=""
                                       data-ng-model="$ctrl.project.android.keyStore.alias"
                                       name="KSAlias"
                                       required
                                       data-ng-focus="configs.KSAlias.focused = true"
                                       data-ng-keyup="configs.KSAlias.pressed = true"
                                >
                                <div class="validation error"
                                     ng-if="(configs | PFValidator:'KSAlias')  == 'invalid'">Alias is required
                                </div>
                            </div>

                            <div style="clear:both"></div>
                            <div class="form-group" ng-if="$ctrl.projectError">
                                <h4 class="text-center">{{$ctrl.errorText}}</h4>
                            </div>

                            <div class="btn-wrapper" style="text-align: center">
                                <button type="button" class="btn btn-default btn-submit"
                                        ng-click="configs.$submitted = true; $ctrl.open($event, configs.$valid)">
                                    Build
                                </button>
                            </div>
                        </div>
                    </form>
                    <form class="main-form" style="margin-top:10px"
                          ng-if="$ctrl.project.build.android.requested">
                        <div class="section">
                            <div class="required-field-item">
                                <p data-ng-if="$ctrl.project.build.android.built"
                                   class="description margin-top-40 text-white text-center">Package ready</p>
                                <div class="small-loader"
                                     data-ng-if="$ctrl.project.build.android.requested && !$ctrl.project.build.android.built">
                                    <div class="image"></div>
                                </div>
                                <div class="main-upload-area " data-ng-if="$ctrl.project.build.android.built">
                                    <div class="download-build">
                                        <div class="dashed-bord">
                                            <img src="images/general/file_icon_placeholder.png" alt="" width="60"
                                                 class="uploaded-file-icon">
                                        </div>
                                        <div class="download" ng-click="$ctrl.download()">
                                            <span>Download</span>
                                        </div>
                                        <p class="description">Click to download</p>
                                    </div>
                                </div>
                                <p data-ng-if="!$ctrl.project.build.android.built"
                                   class="description margin-top-20 text-white text-center">We are now building your
                                    installation package, the download link will appear here once done.</p>
                                <div class="required-field-actions text-center">

                                    <a data-ng-click="$ctrl.cancelBuild($event)"
                                       data-ng-if="!$ctrl.project.build.android.built" class="btn btn-save">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal model-confirm publish-modal" close-modal="notPublished"
     ng-class="{'display-block': $ctrl.modals.notPublished, 'display-none': !$ctrl.modals.notPublished}">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>-->
            <p>Warning</p>
        </div>
        <div class="modal-body padding-0-important">
            <p class="description word-wrap">
                To build your project you need to publish it first.
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">
                    <button type="button" class="btn btn-positive" ng-click="$ctrl.publishNbuild($event)">
                        Publish & Build
                    </button>
                    <button type="button" class="btn btn-positive" ng-click="$ctrl.gotToPublish()">
                        Publish Project
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.notPublished = false">
                        Cancel
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" close-modal="password"
     ng-class="{'display-block': $ctrl.modals.password, 'display-none': !$ctrl.modals.password}">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.password = false">×</span>-->
            <p>KeyStore password and Alias password</p>
        </div>
        <div class="modal-body padding-0-important">
            <form name="password">
                <div class="form-wrapper margin-top-40">
                    <div class="form-group" style="position: relative"
                         data-ng-class="{
                         'has-error': (password | PFValidator:'password')  == 'invalid',
                         'has-success': (password | PFValidator:'password')  == 'valid'
                         }">
                        <input type="password"
                               class="form-control"
                               placeholder="KeyStore Password"
                               data-ng-model="$ctrl.project.android.keyStore.password"
                               name="password"
                               ng-minlength="6"
                               required
                               data-ng-keyup="password.password.pressed = true"
                               data-ng-focus="password.password.focused = true">
                        <div class="validation error"
                             ng-if="(password | PFValidator:'password')  == 'invalid'">
                            KeyStore password must be at least 6 characters
                        </div>
                    </div>
                    <!--<p class="text-small description">KeyStore Password.</p>-->

                    <div class="form-group margin-top-40" style="position: relative"
                         data-ng-class="{
                         'has-error': (password | PFValidator:'aliasPassword')  == 'invalid',
                         'has-success': (password | PFValidator:'aliasPassword')  == 'valid'
                         }">
                        <input type="password"
                               class="form-control"
                               placeholder="Alias Password"
                               data-ng-model="$ctrl.project.android.keyStore.aliasPassword"
                               name="aliasPassword"
                               required
                               ng-minlength="6"
                               data-ng-keyup="password.aliasPassword.pressed = true"
                               data-ng-focus="password.aliasPassword.focused = true">
                        <div class="validation error"
                             ng-if="(password | PFValidator:'aliasPassword')  == 'invalid'">
                            Alias password must be at least 6 characters
                        </div>
                    </div>
                    <!--<p class="text-small description">Alias Password.</p>-->
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">
                    <button type="button" class="btn btn-positive" ng-click="$ctrl.build($event)"
                            data-ng-disabled="!password.$valid">Build
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.password = false">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>