// Common styles of the project

html, body {
    height: 100%;
}

.page {
	font-size: $font-base;
	font-family: $fontOpenSans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $colorBodyBg;
	position: relative;
	&.page-work-space{
		.page__wrapper{
			padding-top: 30px;
		}
	}
}

.page__wrapper {
    min-height: 100%;
}

* html .page__wrapper {
    height: 100%;
}

h2{
	font-size: 18px;
	line-height: 1.333;
	font-weight: 700;
	&.section-title{
		font-size: 24px;
		line-height: 1.375;
		font-weight: 400;
		text-transform: capitalize;
		color: $white;
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.text-primary{
	font-size: 12px;
	line-height: 1.42;
}

.text-small{
	font-size: 10px;
	line-height: 1.4;
}

//======================= MEDIA QUERIES ==============================//

// medium
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// tablet
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// phone + tablet
@media (max-width: $screen-sm-max) {

}
// phone
@media (max-width: $screen-xs-max) {

}

@import 'pages/work-space';
