<div class="auth-page reset-password">

    <div class="container page" ng-if="$ctrl.loaded">
        <div class="row" style="text-align: center">

            <div class="col-md-offset-3 col-md-6 col-xs-12" ng-if="!$ctrl.tokenUsed">
                <!--<h1 class="text-center" data-ng-bind="::$ctrl.title"></h1>-->
                <h3 class="text-center title" style="color:#fff">
                    {{$ctrl.newPasswordMode ? 'Reset Password' : 'Request Password Reset'}}
                </h3>
                <form ng-if="!$ctrl.newPasswordMode && !$ctrl.successfulySend"
                      class="main-form"
                      name="resetPasswordForm"
                      data-ng-submit="$ctrl.submitForm()">
                    <!--<div class="center-block landing-input-block margin-top-20">-->
                    <div class="form-group"
                         data-ng-focus="resetPasswordForm.usernameOrEmail.focused = true"
                         data-ng-class="{
                         'has-error': resetPasswordForm.usernameOrEmail.$invalid && resetPasswordForm.usernameOrEmail.focused,
                         'has-success': resetPasswordForm.usernameOrEmail.$valid && resetPasswordForm.usernameOrEmail.focused,
                         }"
                         data-ng-disabled="$ctrl.isSubmitting">
                        <label class="control-label">Username / Email*</label>
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               name="usernameOrEmail"
                               data-ng-class="{'active':resetPasswordForm.usernameOrEmail.$viewValue}"
                               value=""
                               data-ng-focus="resetPasswordForm.usernameOrEmail.focused = true"
                               required
                               data-ng-model="$ctrl.formData.resetData">
                        <div class="validation error"
                             ng-if="resetPasswordForm.usernameOrEmail.$invalid && resetPasswordForm.usernameOrEmail.focused">
                            {{$ctrl.formErrors.usernameEmail}}
                        </div>
                    </div>
                    <!--</div>-->
                    <div class="section section-project-content">
                        <div class="row">
                            <div class="center-block">
                                <div class="btn-wrapper">
                                    <p ng-if="$ctrl.resetError" class="help-block error-help-block">
                                        {{$ctrl.resetError}}
                                    </p>
                                    <button type="submit" ng-disabled="resetPasswordForm.$invalid"
                                            class="btn btn-submit">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form ng-if="$ctrl.newPasswordMode"
                      name="changePasswordForm"
                      class="main-form"
                      data-ng-submit="$ctrl.sumbitNewPassword()">

                    <div class="form-group"
                         data-ng-focus="changePasswordForm.password.focused = true"
                         data-ng-class="{
                         'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.focused,
                         'has-success': changePasswordForm.password.$valid && changePasswordForm.password.focused,
                         }"
                    >
                        <label class="control-label">New Password</label>
                        <input type="password"
                               name="password"
                               data-ng-class="{'active':changePasswordForm.password.$viewValue}"
                               class="form-control"
                               required
                               placeholder=""
                               value=""
                               data-ng-focus="changePasswordForm.password.focused = true"
                               ng-pattern="$ctrl.patterns.password"
                               data-ng-model="$ctrl.formData.password">
                        <div class="validation error" ng-if="changePasswordForm.password.$invalid && changePasswordForm.password.focused">
                            {{$ctrl.formErrors.password}}
                        </div>
                    </div>

                    <div class="form-group margin-top-20 last-form"
                         data-ng-focus="changePasswordForm.confirm_password.focused = true"
                         data-ng-class="{
                         'has-error': changePasswordForm.confirm_password.$invalid && changePasswordForm.confirm_password.focused,
                         'has-success': changePasswordForm.confirm_password.$valid && changePasswordForm.confirm_password.focused
                         }">
                        <label class="control-label">Confirm Password</label>
                        <input type="password"
                               confirm-Password
                               compare-to="changePasswordForm.password.$viewValue"
                               data-ng-class="{'active':changePasswordForm.confirm_password.$viewValue}"
                               name="confirm_password"
                               class="form-control"
                               required
                               placeholder=""
                               value=""
                               ng-pattern="$ctrl.patterns.password"
                               data-ng-focus="changePasswordForm.confirm_password.focused = true"
                               data-ng-model="$ctrl.formData.confirmPassword">
                        <div class="validation error" ng-if="changePasswordForm.confirm_password.$invalid && changePasswordForm.confirm_password.focused">
                            {{$ctrl.formErrors.confirmPassword}}
                        </div>
                    </div>
                    <div class="section section-project-content">
                        <div class="row">
                            <div class="center-block">
                                <div class="btn-wrapper">
                                    <button ng-disabled="changePasswordForm.$invalid || ($ctrl.formData.password != $ctrl.formData.confirmPassword)"
                                            type="submit" class="btn btn-submit">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>


            <div class="col-md-12" ng-if="$ctrl.successfulySend">
                <div class="row">
                    <h1 class="help-block success-help-block">
                        <p>Instructions have been sent to your email.</p>
                        <p> Please check your inbox.</p>
                    </h1>
                    <a ui-sref="landing.login"
                       class="btn btn-submit margin-top-20">Return to Sign In</a>
                </div>
            </div>
            <div class="col-md-12" ng-if="$ctrl.tokenUsed">
                <div class="row">
                    <h1 class="help-block success-help-block">
                        <p>Token already used or expired</p>
                    </h1>
                    <a ui-sref="landing.login"
                       class="btn btn-submit margin-top-20">Return to Sign In</a>
                </div>
            </div>

        </div>

    </div>
</div>
