.reset-password {
  padding-top: 104px;
  .section-project-content {
    margin-top: 20px;
  }
  .main-form {
    margin-top: 30px;
  }
  .title {
    //margin-top: 20px;
    font-size: 27px !important;
    margin-bottom: 20px;
  }
  /*label {
    margin-bottom: 0px !important;
  }*/
  .form-group.is-dirty .float-label {
    color: rgba(255, 255, 255, 0.45);
    line-height: 1.1;
    font-size: 12px !important;
    top: -21px;
    //margin-bottom: 5px;
  }
  .form-control:focus + .float-label,
  .form-control.active + .float-label{
    font-size: 12px;
    color: rgba(white, .45);
    left: 0;
    top: -21px;
    transform: none;
  }
  .float-label{
    font-size: 16px;
    //color: transparent;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    margin-bottom: 0;
    pointer-events: none;
    transition: all .3s;
  }
  .last-form {
    margin-top: 30px;
  }
  p.password-description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.45);
    margin: 0;
  }
  .form-group {
    margin-bottom: 10px;
    &:last-child {
      //margin-top: 10px;
      //margin-bottom: 20px !important;
      //margin-top: 20px;
    }
  }
  .error-help-block {
    color: #008BF2;
    font-size: 16px;
    font-family: $Roboto;
    margin-top: 0px;
  }
  .success-help-block {
    color: #008BF2;
    font-size: 16px;
  }
}