<div class="auth-page">
	<div class="container page">
		<div class="row" style="text-align: center">

			<div class="offset-md-6 col-xs-12">
				<h1 class="text-xs-center" data-ng-bind="::$ctrl.title"></h1>
				<p class="text-xs-center" style="color:#fff">
					Please enter username or email
				</p>

				<form ng-if="!$ctrl.newPasswordMode" name="resetPasswordForm" data-ng-submit="$ctrl.submitForm()">

					<fieldset data-ng-disabled="$ctrl.isSubmitting">

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block margin-top-20">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="text" class="form-control" placeholder="" value="" required data-ng-model="$ctrl.formData.resetData">
											<label class="control-label float-label">Username / email</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>


						<div class="section section-project-content">
							<div class="row">
								<div class="center-block">
									<div class="">
										<button type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-primary border-orange">Submit</button>
										<p ng-if="$ctrl.successfulySend" class="help-block success-help-block">
											Instruction has been sent to your email
										</p>
										<p ng-if="$ctrl.resetError" class="help-block error-help-block">
											{{$ctrl.resetError}}
										</p>
									</div>
								</div>
							</div>
						</div>

					</fieldset>

				</form>

				<form ng-if="$ctrl.newPasswordMode" name="changePasswordForm" data-ng-submit="$ctrl.sumbitNewPassword()">

					<fieldset data-ng-disabled="$ctrl.isSubmitting">

						<fieldset class="form-group">
							<div class="row">
								<div class="center-block landing-input-block margin-top-20">
									<div class="form-wrapper">
										<div class="form-group" custom-input>
											<input type="password" name="password" class="form-control" required placeholder="" value="" data-ng-model="$ctrl.formData.password">
											<label class="control-label float-label">New Password</label>
										</div>
										<br/>
										<div class="form-group" custom-input>
											<input type="password" name="confirm_password" class="form-control" required placeholder="" value="" data-ng-model="$ctrl.formData.confirmPassword">
											<label class="control-label float-label">Confirm Password</label>
										</div>
									</div>
								</div>
							</div>
						</fieldset>


						<div class="section section-project-content">
							<div class="row">
								<div class="center-block">
									<div class="">
										<button ng-disabled="changePasswordForm.$invalid || ($ctrl.formData.password != $ctrl.formData.confirmPassword)" type="submit" class="btn btn-primary border-orange">Submit</button>
										<p ng-if="$ctrl.errorMessage" class="help-block error-help-block">{{$ctrl.errorMessage}}</p>
									</div>
								</div>
							</div>
						</div>

					</fieldset>

				</form>
			</div>

		</div>
	</div>
</div>
