.btn{
	font-size: 10px;
	font-weight: 700;
	color: $colorBlue;
	&.btn-primary{
		color: $white;
		background-color: transparent;
		border: 1px solid rgba($white, .3);
		min-width: 165px;
		height: 30px;
		border-radius: 30px;
		transition: all .3s;
		&:hover{
			background-color: transparent;
			border-color: $colorBlue;
		}
		&.btn-orange{
			border-color: $colorOrange;
			&:hover{
				background-color: rgba(255, 255, 255, 0.05);;
			}
		}
	}
}

.btn-table-popover{
	background-color: transparent;
	border: none;
	border-radius: 0;
	font-size: 16px;
	padding: 0;
	color: $colorOrange;
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	right: 15px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
	&:hover{
		color: $colorOrange;
	}
}

// medium
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// tablet
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// phone + tablet
@media (max-width: $screen-sm-max) {

}
// phone
@media (max-width: $screen-xs-max) {

}