.wysihtml5-toolbar {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	background-color: $black;
	@include cf;
	> li {
		float: left;
		.btn{
			border: none;
			border-radius: 0;
			background-color: transparent;
			padding: 11px 10px 12px;
			font-size: 14px;
			color: $colorSemiWhite;
			&[data-wysihtml5-command="italic"]{
				font-style: italic;
			}
			&[data-wysihtml5-command="underline"]{
				text-decoration: underline;
			}
		}
	}
}