<div class="container">
    <div class="title-wrapper">
        <div class="img-wrapper">
            <img src="/images/landing/content/section-rodin-logo.png" alt="">
        </div>
        <h3 class="title">DOWNLOAD RODIN APPS</h3>
        <p class="text-blue">
            And start enjoying VR experiences on any device instantly
        </p>
    </div>
    <ul class="device-app-list">
        <li>
            <a href="https://play.google.com/store/apps/details?id=io.rodin.app" target="_blank" class="btn btn-app">
                <img src="/images/landing/content/google-play.png" class="google-play" alt="">Google Play
            </a>
            <h6>Android</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-sam-and.png" alt="">
            </div>
        </li>
        <li>
            <a href="https://itunes.apple.com/us/app/rodinvr/id1196688272" target="_blank"  class="btn btn-app">
                <img src="/images/landing/content/app-store.png" class="app-store" alt="">App store
            </a>
            <h6>App store</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-app-store.png" alt="">
            </div>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a  class="btn btn-app">
                <img src="/images/landing/content/google-play.png" class="google-play" alt="">Google Play
            </a>
            <h6>Samsung GearVR</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-sam-g.png" alt="">
            </div>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a class="btn btn-app">
                <img src="/images/landing/content/oculus.png" alt="">Oculus
            </a>
            <h6>Oculus</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-oculus.png" width="50" alt="">
            </div>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a  class="btn btn-app">
                <img src="/images/landing/content/vive-port.png" alt="">VivePort
            </a>
            <h6>Vive HTC</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-vive.png" alt="">
            </div>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a class="btn btn-app">
                <img src="/images/landing/content/google-play.png" class="google-play" alt="">Google Play
            </a>
            <h6>DayDream Google</h6>
            <div class="app-logo-wrapper">
                <img src="/images/landing/content/logo-dream.png" alt="">
            </div>
        </li>
    </ul>
</div>
