<div class="container">
    <h2 class="title">{{$ctrl.content.section2Title}}</h2>
    <h3 class="subtitle">{{$ctrl.content.section2SubTitle}}</h3>
    <hr class="section-title-divider">
    <div class="row benefits-row">
        <div class="col-sm-4">
            <div class="benefits-item">
                <div class="benefits-icon">
                    <svg class="javascript" width="70px" height="55px">
                        <use xlink:href="#javascript"></use>
                    </svg>
                </div>
                <h4 class="benefits-title">{{$ctrl.content.section2Block1Title}}</h4>
                <p>{{$ctrl.content.section2Block1Description}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="benefits-item">
                <div class="benefits-icon">
                    <svg class="multiplatform" width="96px" height="58px">
                        <use xlink:href="#multiplatform"></use>
                    </svg>
                </div>
                <h4 class="benefits-title">{{$ctrl.content.section2Block2Title}}</h4>
                <p>{{$ctrl.content.section2Block2Description}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="benefits-item">
                <div class="benefits-icon">
                    <svg class="extensibly" width="59px" height="59px">
                        <use xlink:href="#extensibly"></use>
                    </svg>
                </div>
                <h4 class="benefits-title">{{$ctrl.content.section2Block3Title}}</h4>
                <p>{{$ctrl.content.section2Block3Description}}</p>
            </div>
        </div>
    </div>
</div>
