<div class="container">
        <h2 class="title">KNOW JAVASCRIPT? YOU'RE ALL SET.</h2>
        <h3 class="subtitle">Benefits of using Rodin</h3>
        <hr class="section-title-divider">
        <div class="row benefits-row">
            <div class="col-sm-4">
                <div class="benefits-item">
                    <div class="benefits-icon">
                        <svg class="javascript" width="70px" height="55px">
                            <use xlink:href="#javascript"></use>
                        </svg>
                    </div>
                    <h4 class="benefits-title">JAVASCRIPT</h4>
                    <p>
                        Rodin offers an online environment where you can develop in JavaScript and use our extensive library to deploy instantly.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefits-item">
                    <div class="benefits-icon">
                        <svg class="multiplatform" width="96px" height="58px">
                            <use xlink:href="#multiplatform"></use>
                        </svg>
                    </div>
                    <h4 class="benefits-title"> MULTIPLATFORM</h4>
                    <p>
                        Cross platform app development to create native VR applications for GearVR, Oculus, Vive, Daydream, Cardboard, iOS, Android, & Webvr all from the same code.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefits-item">
                    <div class="benefits-icon">
                        <svg class="extensibly" width="59px" height="59px">
                            <use xlink:href="#extensibly"></use>
                        </svg>
                    </div>
                    <h4 class="benefits-title">EXTENSIBLE</h4>
                    <p>
                        Rodin comes with a selection of controls and libraries but if they aren’t enough, you can install modules created by members of the Rodin community and third-party vendors.
                    </p>
                </div>
            </div>
        </div>
    </div>
