<div class="container">
        <h3 class="title">DEVELPOERS FROM DIFFERENT COMPANIES TRUST RODIN</h3>
        <ul class="comany-name">
            <li>
                <a href="" class="marcJacobs">
                    <img src="images/landing/content/marc-jacobs.png" alt="">
                </a>
            </li>
            <li>
                <a href="" class="united-airlanes">
                    <img src="images/landing/content/united-airlanes.png" alt="">
                </a>
            </li>
            <li>
                <a href="" class="absolutLabslogo">
                    <img src="images/landing/content/absolut-labslogo.png" alt="">
                </a>
            </li>
            <li>
                <a href="" class="grovueJones">
                    <img src="images/landing/content/grovue-jones.png" alt="">
                </a>
            </li>
            <li>
                <a href="" class="coors-light">
                    <img src="images/landing/content/coors-light.png" alt="">
                </a>
            </li>
            <li>
                <a href="" class="subversive">
                    <img src="images/landing/content/subversive.png" alt="">
                </a>
            </li>
        </ul>
    </div>