<div class="container">
        <h3 class="title">DEVELOPERS FROM DIFFERENT COMPANIES TRUST RODIN</h3>
        <ul class="comany-name">

            <li>
                <a  class="marcJacobs" href="https://www.marcjacobs.com/" target="_blank">
                    <img src="images/landing/content/marc-jacobs12.svg" width="102" alt="Marc Jacobs">
                </a>
            </li>
            <li>
                <a class="united-airlanes" href="https://www.united.com/" target="_blank">
                    <img src="images/landing/content/united-airlanes12.svg" width="135" alt="United Arilines">
                </a>
            </li>
            <li>
                <a class="absolutLabslogo" href="http://www.theabsolutlabs.com/" target="_blank">
                    <img src="images/landing/content/absolut-labslogo12.svg" width="73"  alt="Absolute lab">
                </a>
            </li>
            <li>
                <a  class="grovueJones" href="https://www.groovejones.com/" target="_blank">
                    <img src="images/landing/content/grovue-jones12.svg" width="90" alt="grovue jones">
                </a>
            </li>
            <li>
                <a  class="coors-light" href="https://www.coorslight.com/" target="_blank">
                    <img src="images/landing/content/coors-light12.svg" width="91" alt="Coors light">
                </a>
            </li>
            <li>
                <a class="subversive" href="http://subvrsive.com/" target="_blank">
                    <img src="images/landing/content/subversive12.svg" width="170"  alt="Subversive">
                </a>
            </li>
        </ul>
    </div>