<div class="container">
        <h3 class="title">DEVELOPERS FROM DIFFERENT COMPANIES TRUST RODIN</h3>
        <ul class="comany-name">
            <li>
                <a  class="marcJacobs">
                    <img src="images/landing/content/marc-jacobs12.svg" width="102" alt="Marc Jacobs">
                </a>
            </li>
            <li>
                <a class="united-airlanes">
                    <img src="images/landing/content/united-airlanes12.svg" width="135" alt="United Arilines">
                </a>
            </li>
            <li>
                <a class="absolutLabslogo">
                    <img src="images/landing/content/absolut-labslogo12.svg" width="73"  alt="Absolute lab">
                </a>
            </li>
            <li>
                <a  class="grovueJones">
                    <img src="images/landing/content/grovue-jones12.svg" width="90" alt="grovue jones">
                </a>
            </li>
            <li>
                <a  class="coors-light">
                    <img src="images/landing/content/coors-light12.svg" width="91" alt="Coors light">
                </a>
            </li>
            <li>
                <a class="subversive">
                    <img src="images/landing/content/subversive12.svg" width="170"  alt="Subversive">
                </a>
            </li>
        </ul>
    </div>