<h2 class="title">CHECK OUT OUR DOCUMENTATION</h2>
<hr class="section-title-divider">
<div class="container">
    <ul class="doc-items">
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-dictionary"></i>
                <span>Dictionary</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a >
                <i class="rd-guides"></i>
                <span>Guides</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a >
                <i class="rd-forum"></i>
                <span>Forum</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a >
                <i class="rd-mailing-list"></i>
                <span>Dev Mailing list</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-whats-new"></i>
                <span>What’s new</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-faq"></i>
                <span>FAQ</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-support"></i>
                <span>Support</span>
            </a>
        </li>
    </ul>
</div>
<p class="doc-action-row">
    <a href="" class="link doc-link">
        View Documentation
        <i class="rd-arrow-right"></i>
    </a>
</p>
