<h2 class="title">{{$ctrl.content.section5Title}}</h2>
<hr class="section-title-divider">
<div class="container">
    <ul class="doc-items">
        <li>
            <a ui-sref="landing.pages({pageURL:'tutorial'})">
                <i class="icon-tutorial"></i>
                <span>Tutorials</span>
            </a>
        </li>
        <li>
            <a ui-sref="landing.docs">
                <i class="rd-dictionary"></i>
                <span>API Reference</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-guides"></i>
                <span>Guide</span>
            </a>
        </li>

        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-forum"></i>
                <span>Q & A</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/RodinJS" target="_blank">
                <i class="icon-github"></i>
                <span>Github</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-whats-new"></i>
                <span>What’s new?</span>
            </a>
        </li>

        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-mailing-list"></i>
                <span>Dev Mailing list</span>
            </a>
        </li>

        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-faq"></i>
                <span>FAQ</span>
            </a>
        </li>
        <li uib-tooltip="Coming Soon" tooltip-placement="top">
            <a>
                <i class="rd-support"></i>
                <span>Support</span>
            </a>
        </li>
    </ul>
</div>