<div class="container">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-5">
            <div class="title-wrapper">
                <h3 class="title">FEATURES</h3>
                <hr class="section-title-divider">
            </div>
            <ul class="features-list">
                <li>
                    <a href="javascript:;" class="features-item active" data-slidename="editing">
                        <div class="icon-wrapper">
                            <svg class="javascript" width="38px" height="30px">
                                <use xlink:href="#javascript"></use>
                            </svg>
                        </div>
                        <div class="text-wrapper">
                            <h4>Easy Editing</h4>
                            <p>
                                Build using our online environment, get app-store ready apps without maintaining native SDKs.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="features-item" data-slidename="deployment">
                        <div class="icon-wrapper">
                            <svg class="upload" width="27px" height="29px">
                                <use xlink:href="#upload"></use>
                            </svg>
                        </div>
                        <div class="text-wrapper">
                            <h4>Easy Deployment</h4>
                            <p>
                                Experiences can be instantly exported to Oculus, Vive, Gear, Daydream, iOS, Android and web.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="features-item" data-slidename="maintenance">
                        <div class="icon-wrapper">
                            <svg class="spinner" width="33px" height="33px">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                        <div class="text-wrapper">
                            <h4>Easy Maintenance</h4>
                            <p>
                                No need to download updates for apps because Rodin implements live push.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-7 hidden-xs">
            <div class="features-slide-wrapper">
                <div class="features-slide">
                    <img src="images/landing/content/editing.png" alt="" data-name="editing">
                    <img src="images/landing/content/slide2-img1.png" alt="" data-name="deployment">
                    <img src="images/landing/content/manageProject.png" alt="" data-name="maintenance">
                </div>
            </div>
        </div>
    </div>
