.footer{
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 1150;
	transition: all .3s;
	pointer-events: none;
	&.open{
		pointer-events: visible;
		.btn-wrapper{
			margin-bottom: 15px;
		}
		.prompt-text,
		.prompt-text.is-show{
			visibility: hidden;
			opacity: 0;
			z-index: 50;
		}
		.footer-content{
			height: 162px;
			visibility: visible;
			opacity: 1;
			padding: 45px 80px 44px 35px;
			border-width: 2px;
			z-index: 55;
			margin-top: -24px;
		}
		.btn-footer-expand {
			opacity: 1;
		}
	}
	.btn-wrapper{
		text-align: center;
		margin-bottom: 20px;
		transition: all .3s;
		pointer-events: none;
	}
	.btn-footer-expand{
		display: inline-block;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		border: 2px solid rgba($color-bd, .34);
		background-color: rgba($color-icon-secondary, .34);
		box-shadow: 0 2px 4px 0 rgba(black, .5);
		position: relative;
		transition: all .3s;
		pointer-events: visible;
		opacity: 0.3;
		&:hover{
			background-color: rgba($color-icon-secondary, .5);
			box-shadow: 0 4px 8px 0 rgba(black, .5);
			opacity: 1;
		}
		&.active{
			.btn-bars{
				i{
					&:nth-child(1) {
						left: 2px;
						top: 4px;
					}
					&:nth-child(2) {
						left: calc(50% - 2px);
						top: 4px;
					}
					&:nth-child(3) {
						left: -50%;
						opacity: 0;
					}
					&:nth-child(4) {
						left: 100%;
						opacity: 0;
					}
					&:nth-child(5) {
						left: 2px;
						top: 13px;
					}
					&:nth-child(6) {
						left: calc(50% - 2px);
						top: 13px;
					}
					&:nth-child(1),
					&:nth-child(6) {
						transform: rotate(45deg);
					}
					&:nth-child(2),
					&:nth-child(5) {
						transform: rotate(-45deg);
					}
				}
			}
		}
		.btn-bars{
			display: block;
			width: 26px;
			height: 22px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -11px;
			margin-left: -13px;
			i{
				display: block;
				width: 50%;
				height: 4px;
				background-color: $color-primary;
				position: absolute;
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
				transition: .2s ease-in-out;
				&:nth-child(1),
				&:nth-child(2) {
					top: 0;
				}
				&:nth-child(3),
				&:nth-child(4) {
					top: 9px;
				}
				&:nth-child(5),
				&:nth-child(6) {
					top: 18px;
				}
				&:nth-child(odd) {
					left: 0;
					border-radius: 2px 0 0 2px;
				}
				&:nth-child(even){
					left: 50%;
					border-radius: 0 2px 2px 0;
				}
			}
		}
	}
	.prompt-text{
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		color: $color-primary;
		margin: 0;
		padding: 0 15px;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		position: relative;
		z-index: 55;
		transition: all .3s;
		&.is-show {
			visibility: visible;
			opacity: 1;
		}
	}
	.footer-content{
		background-color: $bg-secondary;
		border: 0 solid $color-bd-sec;
		border-radius: 8px;
		max-width: 1270px;
		height: 0;
		visibility: hidden;
		opacity: 0;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		z-index: 50;
		transition: all .3s;
		.logo-wrapper{
			margin-bottom: 15px;
			.logo-footer{
				width: 72px;
			}
		}
		.footer-menu-wrapper{
			@include cf();
			.copyright{
				float: left;
				font-family: 'SF UI Display';
				font-size: 15px;
				font-weight: 500;
				line-height: 2.27;
				color: $color-primary;
				margin: 0;
			}
			.footer-menu-list{
				float: right;
				li{
					display: inline-block;
					vertical-align: middle;
					+ li{
						margin-left: 25px;
					}
					a{
						font-family: 'SF UI Display';
						font-size: 15px;
						line-height: 2.27;
						color: $color-primary;
						text-decoration: none;
						transition: all .3s;
						&:hover{
							color: lighten($color-primary, 15%);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.footer {
		&.open {
			.footer-content {
				padding: 30px 25px 20px;
				height: 130px;
				.logo-wrapper{
					margin-bottom: 10px;
				}
				.footer-menu-wrapper {
					.footer-menu-list {
						li {
							+ li {
								margin-left: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer {
		position: static;
		pointer-events: visible;
		padding-bottom: 40px;
		&.open {
			.footer-content {
				height: auto;
				.logo-wrapper{
					margin-bottom: 10px;
				}
				.footer-menu-wrapper {
					.footer-menu-list {
						li {

						}
					}
				}
			}
		}
		.footer-content{
			height: auto;
			visibility: visible;
			opacity: 1;
			background-color: transparent;
			text-align: center;
			.logo-wrapper{
				margin-bottom: 14px;
				.logo-footer{
					img{
						width: 74px;
					}
				}
			}
			.footer-menu-wrapper{
				.copyright{
					font-size: 12px;
					line-height: 1.4;
					float: none;
					margin-bottom: 10px;
				}
				.footer-menu-list{
					float: none;
					li{
						a{
							font-size: 13px;
							line-height: 1.4;
							padding: 0 5px;
						}
						+ li{
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}
