<div class="container-fluid">
    <div class="btn-wrapper hidden-xs">
        <a href="" class="btn-footer-expand">
                            <span class="btn-bars">
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            					<i></i>
            				</span>
        </a>
    </div>
    <p class="prompt-text hidden-xs">Scroll to Get Started</p>
    <div class="footer-content">
        <div class="logo-wrapper">
            <a href="#" class="logo-footer">
                <img alt="Rodin" src="images/landing/general/logo.svg">
            </a>
            <ul class="pull-right social-list">
                <li>
                    <i class="fa fa-2x fa-facebook-official"></i>
                    <i class="fa fa-2x fa-twitter"></i>
                    <i class="fa fa-2x fa-youtube-play"></i>
                    <i class="fa fa-2x fa-instagram"></i>
                    <i class="fa fa-2x fa-pinterest"></i>
                    <i class="fa fa-2x fa-linkedin-square"></i>
                </li>
            </ul>
        </div>
        <div class="footer-menu-wrapper">
            <p class="copyright">
                Copyright 2017 Rodin Corporation. All rights reserved.
            </p>
            <ul class="footer-menu-list">
               <!-- <li>
                    <a href="">Legal</a>
                </li>
                <li>
                    <a href="">Privacy</a>
                </li>
                <li>
                    <a href="">Security</a>
                </li>-->
                <li>
                    <a ui-sref="landing.docs">Documentation</a>
                </li>
                <li>
                    <a ui-sref="landing.privacy">Blog</a>
                </li>
                <li>
                    <a ui-sref="landing.faq">FAQ</a>
                </li>
                <li>
                    <a ui-sref="landing.privacy">Terms and Conditions</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
