<div class="container">
    <h2 class="benefit-section-title">{{$ctrl.content.section3Title}}</h2>
    <h3 class="know-js-section-subtitle">{{$ctrl.content.section3SubTitle}}</h3>
    <hr class="section-title-divider">
    <div class="text-center col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 know-js-line">
        <img class="img-responsive" src="images/landing/content/line.png" alt="">
    </div>
    <div class="row know-js-row">
        <div class="text-center know-js-line-vertical">
            <img src="images/landing/content/line.png" alt="">
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-3 how-section">
                <div class="row">
                    <div class="know-js-item">
                        <div class="row">
                            <div class="know-js-icon">
                                <img src="images/landing/content/arrow.png"/>
                            </div>
                            <h4 class="know-js-title" ng-bind-html="$ctrl.content.section3Block1Title | htmlize"></h4>
                            <p>{{$ctrl.content.section3Block1Description | htmlize}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 how-section">
                <div class="row">
                    <div class="know-js-item">
                        <div class="row">
                        <div class="know-js-icon">
                            <img class="" src="images/landing/content/window.png"/>
                        </div>
                        <h4 class="know-js-title" ng-bind-html="$ctrl.content.section3Block2Title | htmlize"></h4>
                        <p>{{$ctrl.content.section3Block2Description | htmlize}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 how-section">
                <div class="row">
                    <div class="know-js-item">
                        <div class="row">
                            <div class="know-js-icon">
                                <img class="" src="images/landing/content/cloud.png"/>
                            </div>
                            <h4 class="know-js-title" ng-bind-html="$ctrl.content.section3Block3Title | htmlize"></h4>
                            <p>{{$ctrl.content.section3Block3Description | htmlize}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 how-section">
                <div class="row">
                    <div class="know-js-item">
                        <div class="row">
                            <div class="know-js-icon">
                                <img class="" src="images/landing/content/electronic.png"/>
                            </div>
                            <h4 class="know-js-title" ng-bind-html="$ctrl.content.section3Block4Title | htmlize"></h4>
                            <p>{{$ctrl.content.section3Block4Description | htmlize}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
