.know-js-section {
  padding-top: 120px;
  padding-bottom: 60px;
}

.know-js-section-subtitle {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  color: #DEDEDE;
  text-align: center;
}

.know-js-line-vertical {
  display: none;
}

.know-js-line {
  margin-bottom: 40px;
}

.know-js-item {
  text-align: center;
  padding: 0 20px;
  .know-js-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    img {
      max-width: 168px;
    }
    > i {
      font-size: 30px;
    }
  }
  .know-js-title {
    font-family: $Roboto;
    line-height: 1.2;
    color: #95989A;
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 32px;
  }
  a {
    &:hover {
      color: #31a7ff;
    }
  }
  p {
    font-size: 16px;
    color: $text-gray;
  }
  h4 {
    color: $text-gray !important;
    font-size: 16px !important;
  }
}


@media (max-width: 576px) {
  .know-js-line-vertical {
    img {
      margin-top: -190px !important;
    }
  }
}

@media (max-width: 480px) {
  .know-js-line-vertical {
    img {
      margin-top: -50px !important;
    }
  }
}


@media (max-width: 767px) {
  .know-js-section {
    padding-top: 60px;
    padding-bottom: 0 !important;
  }
  .benefit-section-title {
    font-size: 28px !important;
  }
  .know-js-section-subtitle {
    font-size: 16px;
  }
  .know-js-line {
    display: none;
  }
  .know-js-title {
    margin-top: 0px;
    max-width: 270px;
    text-align: center;
    display: inline-block;
  }
  .know-js-line-vertical {
    display: block;
    -webkit-transform: translateY(-100%) rotate(90deg);
    -moz-transform: translateY(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -ms-transform: translateY(-100%) rotate(90deg);
    -o-transform: translateY(-100%) rotate(90deg);
    transform: translateY(-100%) rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    img {
      margin-top: -240px;
      margin-left: 70px;
      max-width: 696px;
    }
  }
  .how-section {
    height: 230px !important;
  }
}