<div class="container-fluid">
    <div class="row" style="position: relative;">
        <div class="home-info col-md-12">
            <h2>{{$ctrl.content.section2Title}}</h2>
            <p>{{$ctrl.content.section2SubTitle}}</p>
            <div class="home-button-section">
                <button class="btn btn-submit btn-explore">Explore now</button>
            </div>
        </div>
        <img src="images/landing/content/rodin-home.png" class="img-responsive rodin-home-background" alt="">
    </div>
</div>

