<div class="project-header">
    <div class="container">
        <button class="btn back-home-btn"><i class="rd-arrow-left"></i>Back to Rodin</button>
        <span class="slide-number">01</span>
    </div>
</div>
<div class="swiper-container" id="projectSlider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="project-step">
                <div class="slide-content slide1">
                    <div class="slider-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                                    <h3>CREATE NEW PROJECT</h3>
                                    <p>Select through our templates for a quick start or start from scratch</p>
                                    <div class="img-wrapper">
                                        <div class="img"
                                             style="background-image: url(images/landing/content/createProject.png);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="project-step">
                <div class="slide-content slide2">
                    <div class="slider-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                                    <h3>DEVELOP WITH HELP OF OUR LIBRARY AND MODULES</h3>
                                    <p>Use any modules from third parties or contibuted by our community, that fits your
                                        need</p>
                                    <div class="img-wrapper">
                                        <div class="img"
                                             style="background-image: url(images/landing/content/slide2-img1.png);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="project-step">
                <div class="slide-content slide3">
                    <div class="slider-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                                    <h3>GETTING STARTED WITH RODIN IS EASY</h3>
                                    <p>View a simple project and testing through any platform</p>
                                    <div class="img-wrapper">
                                        <div class="img"
                                             style="background-image: url(images/landing/content/slide3-img1.png);"></div>
                                        <div class="iframe-box">
                                            <!--<iframe src="https://app.rodinapp.com/" style="border:0px #ffffff none;"
                                                    name="rodin" scrolling="no" frameborder="1" marginheight="0px"
                                                    marginwidth="0px" height="400px" width="600px"
                                                    allowfullscreen></iframe>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="pagination-wrapper">
        <div class="container">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<div class="btn-wrapper">
    <div class="container">
        <a href="#" class="btn-next-slide">
            <i class="rd rd-arrow-down"></i>
        </a>
    </div>
</div>
