<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="title-wrapper">
                <h3 class="title">{{$ctrl.content.section5Title}}</h3>
                <hr class="section-title-divider">
            </div>
            <div class="video-wrapper">
                <div class="video-box">
                    <iframe id='rodinVision'
                            class="video"
                            ng-src="{{$ctrl.activeVideo}}"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="video-nav-wrapper">
                <div class="video-nav">
                    <a href=""
                       ng-repeat="video in $ctrl.videos"
                       class="{{video.className}}"
                       ng-class="$ctrl.videoTrigger == $index ? 'active playing' : ''"
                       ng-click="$ctrl.changeVideo($index)">
                        <span>{{video.title}}</span>
                    </a>
                   <!-- <a href="" class="video-play-btn left"
                       ng-class="$ctrl.videoTrigger == 'createProject' ? 'active playing' : ''"
                       ng-click="$ctrl.changeVideo('createProject')">
                        <span>See what’s possible with Rodin</span>
                    </a>
                    <a href="" class="video-play-btn middle"
                       ng-class="$ctrl.videoTrigger == 'develope' ? 'active playing' : ''"
                       ng-click="$ctrl.changeVideo('develope')">
                        <span>Build native VR apps for multiple platforms</span>
                    </a>
                    <a href="" class="video-play-btn right"
                       ng-class="$ctrl.videoTrigger == 'deploy' ? 'active playing' : ''"
                       ng-click="$ctrl.changeVideo('deploy')">
                        <span>Everything you need to deploy great VR apps</span>
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>
