<div class="page__wrapper">
    <div class="container">
        <div class="selet-template-container">
            <div class="main-container">
                <h1 class="title text-center">
                    <i class="icon icon-private"></i>
                    <span class="user-name">{{$ctrl.project.displayName || $ctrl.project.name}}</span></h1>
                <div class="main-form">
                    <div class="content-navbar">
                        <ul class="navbar-list">
                            <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                        </ul>
                    </div>
                    <div class="section section-switch">
                        <switch id="enabled" data-ng-change="$ctrl.switchDomainTrigger()" data-name="enabled"
                                data-ng-model="$ctrl.customDomainTrigger" class="green"></switch>
                        <h5 class="switch-box-title">Add custom domain</h5>
                        <p ng-if="$ctrl.project.publishedUrl"
                           class="description text-small text-down">
                            Your project current url:
                            <a class="text-yellow" target="_blank" href="{{$ctrl.project.publishedUrl}}">{{$ctrl.project.publishedUrl}}</a>
                        </p>
                    </div>
                    <form name="addDomain" id="configs" ng-if="$ctrl.customDomainTrigger" class="main-form" novalidate>
                        <div class="section">
                            <p class="form-description" style="font-size:14px !important;">
                                Please make "A record" redirect of your domain/subdomain to "{{$ctrl.recordIp}}" IP
                                address
                            </p>
                            <div class="form-group" custom-input
                                 style="margin-bottom:20px"
                                 data-ng-class="{
                                 'has-error':(addDomain | PFValidator:'url') == 'invalid',
                                 'has-success': (addDomain | PFValidator:'url') == 'valid'
                                 }">
                                <label>
                                    Custom URL
                                    {{addDomain.url.focused || $ctrl.domain ? '' : ''}}
                                </label>
                                <input type="text" class="form-control" placeholder=""
                                       data-ng-model="$ctrl.domain"
                                       ng-pattern="$ctrl.domainPattern"
                                       name="url"
                                       required
                                       data-ng-focus="addDomain.url.focused = true"
                                       data-ng-keyup="addDomain.url.pressed = true">
                                <div class="validation error" ng-if="(addDomain | PFValidator:'url') == 'invalid'">
                                    Project url invalid
                                </div>
                            </div>
                            <div class="btn-wrapper" style="text-align: center">
                                <button type="submit" class="btn btn-default btn-submit" style="margin-right:10px"
                                        ng-click="addDomain.$submitted = true; $ctrl.addDomain(addDomain.$valid)">
                                    Submit
                                </button>
                                <a href="" class="btn btn-cancel" style="padding:12px 30px" ng-if="$ctrl.project.domain"
                                   ng-click="$ctrl.deleteDomain($event)">
                                    Delete domain
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal model-confirm" close-modal="notPublished"
     ng-class="{'display-block': $ctrl.modals.notPublished, 'display-none': !$ctrl.modals.notPublished}">
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>-->
            <p>Warning</p>
        </div>
        <div class="modal-body padding-0-important">
            <p class="description word-wrap">
                To connect a URL to your project you need to publish it first.
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <div class="text-center">

                    <button type="button" class="btn btn-positive"
                            ng-click="$ctrl.gotToPublish()">Publish Project
                    </button>
                    <a href="" class="btn btn-cancel" data-ng-click="$ctrl.modals.notPublished = false">Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>