<div class="page__wrapper">
    <div class="main-container development-container">
        <div class="main-title-wrapper">
            <h1 class="main-title">Build/<i class="icon icon-lock"></i><span class="user-name text-white">{{$ctrl.project.displayName || $ctrl.project.name}}</span>
            </h1>
        </div>
        <div class="page-content">
            <div class="content-navbar">
                <ul class="navbar-list">
                    <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                </ul>
            </div>
            <div class="section-wrapper">
                <form name="addDomain" id="configs">
                    <div class="section">
                        <h2 class="section-title">Project URL</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-wrapper">
                                    <div class="form-group" custom-input
                                         data-ng-class="{'has-error': addDomain.url.$invalid && configs.url.focused, 'has-success': configs.url.$valid && configs.url.focused}">
                                        <input type="text" class="form-control" placeholder=""
                                               data-ng-model="$ctrl.domainName"
                                               name="url"
                                               required
                                               data-ng-focus="addDomain.url.focused = true">
                                        <label class="control-label float-label">somedomain.example.com</label>
                                    </div>
                                    <p class="text-small description">Add your custom Domain Make sure you published this project</p>
                                    <button type="submit" class="btn btn-primary"
                                            ng-click="$ctrl.addDomain($event)"
                                            ng-disabled="!addDomain.$valid || !$ctrl.project.publishedPublic">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loader" data-ng-if="$ctrl.showLoader"></div>
</div>