<div class="page__wrapper">
    <div class="main-container development-container">
        <div class="main-title-wrapper">
            <h1 class="main-title">Build/<i class="icon icon-lock"></i><span class="user-name text-white">{{$ctrl.project.displayName || $ctrl.project.name}}</span>
            </h1>
        </div>
        <div class="page-content">
            <div class="content-navbar">
                <ul class="navbar-list">
                    <editor-navigation data-projectid="$ctrl.project._id"></editor-navigation>
                </ul>
            </div>
            <div class="section section-switch">
                <switch id="enabled" data-ng-change="$ctrl.switchDomainTrigger()" data-name="enabled" data-ng-model="$ctrl.customDomainTrigger" data-on="ON" data-off="OFF" class="green"></switch>
                <h5 class="switch-box-title">Add custom domain</h5>
                <p ng-if="$ctrl.project.publishedUrl && !$ctrl.customDomainTrigger" class="description text-small text-down">
                    Your project current url:
                    <a class="text-yellow" target="_blank" href="{{$ctrl.project.publishedUrl}}">{{$ctrl.project.publishedUrl}}</a>
                </p>
                <form name="addDomain" id="configs" ng-if="$ctrl.customDomainTrigger">
                    <div class="section">

                        <h2 class="section-title">Project URL</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-wrapper">
                                    <p class="text-small description">Please make "A record" redirect of your domain/subdomain to "178.62.211.113" IP address</p>
                                    <div class="form-group" custom-input
                                         style="margin-bottom:20px"
                                         data-ng-class="{'has-error': addDomain.url.$invalid && addDomain.url.focused, 'has-success': configs.url.$valid && addDomain.url.focused}">

                                        <input type="text" class="form-control" placeholder=""
                                               data-ng-model="$ctrl.domain"
                                               ng-pattern="$ctrl.domainPattern"
                                               name="url"
                                               required
                                               data-ng-focus="addDomain.url.focused = true">

                                        <label class="control-label float-label">
                                            {{addDomain.url.focused || $ctrl.domain ? 'Project url' : 'example.com'}} {{addDomain.url.$invalid && addDomain.url.focused  ? 'invalid' : ''}}
                                        </label>

                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                            ng-click="$ctrl.addDomain($event)"
                                            ng-disabled="!addDomain.$valid || !$ctrl.project.publishedPublic">
                                        Submit
                                    </button>
                                    <a href="" class="btn link" ng-if="$ctrl.project.domain" ng-click="$ctrl.deleteDomain($event)">
                                        Delete domain
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loader" data-ng-if="$ctrl.showLoader"></div>
</div>

<div class="modal model-confirm" close-modal="notPublished"  ng-class="{'display-block': $ctrl.modals.notPublished, 'display-none': !$ctrl.modals.notPublished}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-ng-click="$ctrl.modals.remove = false">×</span>
            <h1>Warning</h1>
        </div>
        <div class="modal-body padding-0-important">
            <p class="description word-wrap">
                Your project not published.
                Please publish your project then connect URL
            </p>
        </div>
        <div class="modal-footer">
            <div class="required-field-actions clearfix">
                <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.gotToPublish()">Publish project</button>
                <a href="" class="btn btn-save" data-ng-click="$ctrl.modals.notPublished = false">cancel</a>
            </div>
        </div>
    </div>
</div>