// Css For Work Space Page (Header)
.header{
	&.work-space-header{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1100;
		background-color: $colorBodyBg;
		.folder-name{
			display: inline-block;
			a{
				color: $white;
				font-size: 12px;
				line-height: 1.42;
				font-weight: 700;
				text-decoration: none;
				i{
					color: $colorSemiWhite;
				}
			}
		}
		.work-space-logo{
			display: inline-block;
		}
		.header-work-menu{
			padding: 0;
			margin: 0;
			display: inline-block;
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			>li{
				display: inline-block;
				margin-left: 10px;
				position: relative;
				+ li{
					margin-left: 5px;
				}
				&.open{
					>a{
						background-color: $colorOrange;
					}
					.header-work-dropdown{
						display: block;
					}
				}
				a{
					color: $white;
					display: block;
					text-decoration: none;
					transition: all .3s;
					padding: 7px 5px 6px;
					&:hover{
						background-color: $colorOrange;
					}
				}
			}
			.header-work-dropdown{
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				min-width: 164px;
				max-width: 164px;
				background-color: $colorEditorDropdown;
				box-shadow: 0 2px 20px rgba($black, .5);
				z-index: 355;
				.dropdown-group{
					padding: 6px 0;
					+ .dropdown-group{
						border-top: 1px solid $colorEditorDivider;
					}
					li{
						position: relative;
						&.dropdown-item{
							&:hover{
								background-color: $colorOrange;
							}
							>a{
								pointer-events: none;
								>i{
									float: right;
									font-size: 16px;
									margin-right: 0;
								}
							}
						}
						&:hover{
							> .header-work-dropdown{
								display: block;
							}
						}
						a{
							padding-left: 20px;
							padding-right: 15px;
							&:hover{
								i{
									color: $white;
								}
							}
						}
						i{
							font-size: 14px;
							margin-right: 8px;
							transition: color .3s;
							&.color-icon-orange{
								color: $colorOrange;
							}
							&.color-icon-blue{
								color: $colorBlue;
							}
							&.color-icon-red{
								color: $colorRed;
							}
							&.color-icon-green{
								color: $colorGreen;
							}
							&.color-icon-inverse{
								color: $white;
							}
						}
						.header-work-dropdown{
							display: none;
							position: absolute;
							top: 0;
							left: 100%;
							.dropdown-group{
								padding: 0;
							}
						}
					}
				}
			}
		}
		.navbar-account{
			padding: 0;
			margin: 0;
			>li{
				padding: 0;
				display: inline-block;
				vertical-align: middle;
				&.new-notifi{
					.btn-notifi{
						position: relative;
						.new-notifi-badge{
							display: block;
							position: absolute;
							top: 4px;
							right: 11px;
							line-height: 4px;
							i{
								font-size: 4px;
								color: $colorOrange;
								border-radius: 50%;
								border: 1px solid $black;
							}
						}
						// &:hover{
						// 	.new-notifi-badge{
						// 		i{
						// 			border-color: rgba($colorMainBg, .7);
						// 		}
						// 	}
						// }
					}
				}
				>a{
					display: block;
					border: none;
					color: $colorSemiWhite;
					text-decoration: none;
					transition: all .3s;
					&.btn-notifi{
						padding: 6px 10px 2px;
						i{
							font-size: 18px;
						}
						.new-notifi-badge{
							display: none;
						}
						&:focus,
						&:hover{
							background-color: transparent;
						}
					}
					&.btn-account-drop{
						padding: 6px 10px;
						font-size: 12px;
						&:focus,
						&:hover{
							background-color: transparent;
						}
					}
					&:hover{
						background-color: rgba($colorMainBg, .7);
						color: $white;
						.avatar{
							background-color: $white;
						}
					}
					&:focus{
						background-color: rgba($colorMainBg, .7);
						outline: none;
					}
					.avatar{
						display: inline-block;
						vertical-align: middle;
						width: 18px;
						height: 18px;
						border-radius: 50%;
						margin-right: 5px;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						background-color: $colorSemiWhite;
						position: relative;
						margin-top: -1px;
						transition: all .3s;
						.avatar-name{
							// font-size: 18px;
							font-size: 10px;
							line-height: 1.333;
							font-weight: 700;
							color: $black;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
			.dropdown-menu{
				border: none;
				border-radius: 0;
				box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
				background-color: $black;
				right: 0;
				left: auto;
				&.dropdown-menu-account{
					padding: 20px 30px 15px;
					min-width: 265px;
					margin-top: 10px;
					h2{
						margin: 0;
						margin-bottom: 5px;
						color: $white;
					}
					>li{
						margin-bottom: 15px;
						>a{
							padding: 0;
							font-size: 12px;
							line-height: 1.42;
							font-weight: 700;
							text-transform: uppercase;
							transition: all .3s;
							color: $white;
							&.mail-link{
								text-transform: none;
								font-weight: 400;
							}
							&.plan-link{
								color: $colorBlue;
							}
							&.signout-link{
								color: $colorSemiWhite;
							}
							&:hover{
								background-color: transparent;
								opacity: .7;
							}
						}
					}
				}
				&.dropdown-menu-notifi{
					min-width: 265px;
					max-width: 265px;
					padding: 0;
					margin-top: 10px;
					h5{
						margin: 0;
						padding: 10px;
						color: $colorSemiWhite;
					}
					ul{
						padding: 0;
						margin: 0;
						list-style-type: none;
						max-height: 262px;
						overflow: auto;
						>li{
							position: relative;
							&.orange{
								&:before{
									color: $colorOrange;
								}
							}
							&.red{
								&:before{
									color: $colorRed;
								}
							}
							&.blue{
								&:before{
									color: $colorBlue;
								}
							}
							&:first-child{
								&:before{
									top: 5px;
								}
								>a{
									padding-top: 0;
								}
							}
							&:before{
								content: $icon-dot;
								font-family: 'rodin-icon' !important;
								speak: none;
								font-style: normal;
								font-weight: normal;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								font-size: 8px;
								position: absolute;
								top: 15px;
								left: 12px;
							}
							>a{
								display: block;
								font-size: 12px;
								line-height: 1.42;
								color: $white;
								white-space: normal;
								padding: 10px 28px;
								border-bottom: 2px solid $colorDivider;
								text-decoration: none;
								transition: all .3s;
								&:hover{
									background-color: rgba($colorMainBg, .7)
								}
								p{
									margin-bottom: 5px;
								}
								.notifi-date{
									color: $colorSemiWhite;
								}
							}
						}
					}
				}
			}
		}
	}
}
// Css For Work Space Page (Header)