<div class="page__wrapper">
    <div class="main-container development-container">
        <div class="main-title-wrapper">
            <h1 class="main-title">Build/<i class="icon icon-lock"></i><span class="user-name text-white">{{$ctrl.project.name}}</span>
            </h1>
        </div>
        <div class="page-content">
            <div class="content-navbar">
                <ul class="navbar-list">
                    <li class=""><a ui-sref="app.editproject({projectId: $ctrl.project._id})">Settings</a>
                    </li>

                    <li class="active"><a ui-sref="app.editprojectIos({projectId: $ctrl.project._id})">IOS</a>
                    </li>
                    <li class=""><a ui-sref="app.editprojectAndroid({projectId: $ctrl.project._id})">Android</a>
                    </li>
                    <li class=""><a ui-sref="app.editprojectOculus({projectId: $ctrl.project._id})">Oculus</a>
                    </li>
                    <li class=""><a ui-sref="app.editprojectVive({projectId: $ctrl.project._id})">VIVE</a>
                    </li>
                    <li class=""><a ui-sref="app.editprojectWeb({projectId: $ctrl.project._id})">Web</a>
                    </li>
                </ul>
            </div>
            <div class="section-wrapper">
                <form name="configs" method="post" action="" enctype="multipart/form-data" id="configs">
                    <div class="section">
                        <h2 class="section-title">iOS required fields</h2>
                        <div class="required-field-item">
                            <ul class="field-intruction">
                                <!--<li>App Name - Display name of your app</li>-->
                                <li>
                                    <div class="form-wrapper">
                                        <div class="form-group" custom-input
                                             data-ng-class="{'has-error': configs.displayName.$invalid && configs.displayName.focused, 'has-success': configs.displayName.$valid && configs.displayName.focused}">
                                            <input type="text" class="form-control" placeholder=""
                                                   data-ng-model="$ctrl.project.ios.name"
                                                   name="displayName"
                                                   required
                                                   data-ng-focus="configs.displayName.focused = true">
                                            <label class="control-label float-label">Display name</label>
                                        </div>
                                        <p class="text-small description">App Name - Display name of your app</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-wrapper">
                                        <div class="form-group" custom-input
                                             data-ng-class="{'has-error': configs.bundle.$invalid && configs.bundle.focused, 'has-success': configs.bundle.$valid && configs.bundle.focused}">
                                        <input type="text" class="form-control" placeholder=""
                                               data-ng-model="$ctrl.project.ios.bundle"
                                               name="bundle"
                                               required
                                               ng-pattern="$ctrl.patterns.bundle"
                                               data-ng-focus="configs.bundle.focused = true">
                                        <label class="control-label float-label">Bundle Identifier</label>
                                        </div>
                                        <p class="text-small description">Bundle Identifier - A bundle ID precisely
                                            identifies a single app.
                                            A bundle ID is used during the development process to provision devices
                                            and by the operating system when the app is distributed to customers.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-wrapper">
                                        <div class="form-group" custom-input
                                             data-ng-class="{'has-error': configs.developerId.$invalid && configs.developerId.focused, 'has-success': configs.developerId.$valid && configs.developerId.focused}">
                                            <input type="text" class="form-control" placeholder=""
                                                   data-ng-model="$ctrl.project.ios.developerId"
                                                   name="developerId"
                                                   required
                                                   data-ng-focus="configs.developerId.focused = true">
                                            <label class="control-label float-label">Developer ID.</label>
                                        </div>
                                        <p class="text-small description">Developer ID.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="padding-bottom-20">Provisioning Profile</div>
                                    <div class="main-upload-area">
                                        <label class="upload-area" ng-show="$ctrl.files.profile.name === ''">
                                            <div class="area-content">.provision</div>
                                            <input type="file"
                                                   id="profile-file"
                                                   name="profile"
                                                   onchange="angular.element(this).scope().$ctrl.changeProfile(event)">
                                        </label>
                                        <img ng-show="$ctrl.files.profile.name !== ''" src="images/general/file_icon_plist.png" alt="" width="60"
                                             class="uploaded-file-icon">
                                        <p class="area-label">{{!!$ctrl.files.profile.name ? $ctrl.files.profile.name : 'Drag or Click'}}</p>
                                    </div>
                                    <div class="required-field-actions margin-0-important">
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.querySelector('#profile-file').click()">browse</button>
                                    </div>
                                </li>
                                <li class="margin-top-40">
                                    <div style="margin-bottom: 20px">Distribution/Development certificate.</div>
                                    <div class="main-upload-area">
                                        <label class="upload-area" ng-show="$ctrl.files.cert.name === ''">
                                            <div class="area-content">.p12</div>
                                            <input type="file"
                                                   id="cert-file"
                                                   name="cert"
                                                   onchange="angular.element(this).scope().$ctrl.changeCert(event)">
                                        </label>
                                        <img ng-show="$ctrl.files.cert.name !== ''" src="images/general/file_icon_plist.png" alt="" width="60"
                                             class="uploaded-file-icon">
                                        <p class="area-label">{{ !!$ctrl.files.cert.name ? $ctrl.files.cert.name : 'Drag or Click' }}</p>
                                    </div>
                                    <div class="required-field-actions margin-0-important">
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.querySelector('#cert-file').click()">browse</button>
                                    </div>
                                </li>
                                <li class="margin-top-40">
                                    <div style="margin-bottom: 20px">App icon - upload .png 1024x1024</div>
                                    <div class="main-upload-area">
                                        <label class="upload-area" ng-show="$ctrl.files.icon.name === ''">
                                            <div class="area-content">.png</div>
                                            <input type="file"
                                                   id="icon-file"
                                                   name="icon-h"
                                                   onchange="angular.element(this).scope().$ctrl.changeIcon(event)">
                                        </label>
                                        <img ng-show="$ctrl.files.icon.name !== ''"
                                             ng-src="{{$ctrl.files.icon.src}}" alt="" width="60"
                                             class="uploaded-file-icon">
                                        <p class="area-label">{{ !!$ctrl.files.icon.name ? $ctrl.files.icon.name : 'Drag or Click' }}</p>
                                    </div>
                                    <div class="required-field-actions margin-0-important">
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.querySelector('#icon-file').click()">browse</button>
                                    </div>
                                </li>
                            </ul>
                            <div class="required-field-actions">
                                <button type="button" class="btn btn-primary"
                                        ng-click="$ctrl.open($event)"
                                        ng-disabled="!configs.$valid || !$ctrl.files.profile.name || !$ctrl.files.cert.name || !$ctrl.files.icon.name">build</button>
                                <!--<a href="" class="btn btn-save" disabled>remove</a>-->
                            </div>
                        </div>
                    </div>
                </form>
                <form action="" ng-if="$ctrl.project.build.ios.requested">
                    <div class="section">
                        <div class="required-field-item">
                            <div class="small-loader" data-ng-if="$ctrl.project.build.ios.requested && !$ctrl.project.build.ios.built">
                                <div class="image"></div>
                            </div>
                            <div class="main-upload-area"
                                 data-ng-if="$ctrl.project.build.ios.built">
                                <img src="images/general/file_icon_placeholder.png" alt="" width="60"
                                     class="uploaded-file-icon">
                                <p class="area-label"></p>
                            </div>
                            <p data-ng-if="!$ctrl.project.build.ios.built"
                               class="description margin-top-20 text-white">We are now building your installation package, the download link will appear here once done.</p>
                            <p data-ng-if="$ctrl.project.build.ios.built"
                               class="description margin-top-20 text-white">Package ready</p>
                            <div class="required-field-actions">
                                <button data-ng-if="$ctrl.project.build.ios.built"
                                        type="button" class="btn btn-primary"
                                        ng-click="$ctrl.download()">download</button>
                                <a data-ng-if="!$ctrl.project.build.ios.built" class="btn btn-save">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loader" data-ng-if="$ctrl.showLoader"></div>
</div>

<div class="modal" ng-class="{'display-block': $ctrl.modals.password, 'display-none': !$ctrl.modals.password}">
    <div class="modal-content">
        <span class="close" data-ng-click="$ctrl.modals.password = false"> ×</span>
        <div class="modal-header">
            <h1>Certificate Password</h1>
            <p class="description text-small">Certificate password when u generate the app</p>
        </div>
        <div class="modal-body padding-0-important">
            <form name="password">
                <div class="form-wrapper margin-top-20">
                    <div class="form-group" custom-input
                         data-ng-class="{'has-error': password.certPassword.$invalid && password.certPassword.focused, 'has-success': password.certPassword.$valid && password.certPassword.focused}">
                        <input type="password" class="form-control" placeholder=""
                               data-ng-model="$ctrl.project.ios.certPassword"
                               name="certPassword"
                               required
                               data-ng-focus="password.certPassword.focused = true">
                        <label class="control-label float-label">Certificate Password</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer padding-bottom-40-important">
            <div class="required-field-actions clearfix">
                <button type="submit" class="btn btn-primary"
                        data-ng-disabled="!password.$valid"
                        data-ng-click="$ctrl.build()">build</button>
                <a href="" class="btn btn-save"
                   data-ng-click="$ctrl.modals.password = false">cancel</a>
            </div>
        </div>
    </div>
</div>
